@import url('../fonts/NanumGothic/NanumGothic.css');

//padding
$padding-type01 : 5px;
$padding-type02 : 10px;
$padding-type03 : 14px;

//font color plus, minus
$plus-color : rgba(255,99,1,1);//#FF4A5B;
$minus-color : rgba(23,107,204,1);//#3D9DFF;
$sell-bg :  rgba(255,99,1,0.15);
$buy-bg : rgba(23,107,204,0.1);

//primary-color
$primary-color : $minus-color;
$primary-lighter: lighten($primary-color,30%);
$primary-light: lighten($primary-color,15%);
$primary-dark: darken($primary-color,15%);
$primary-darker: darken($primary-color,30%);

$point-color:$plus-color;
$point-lighter: lighten($point-color,30%);
$point-light: lighten($point-color,15%);
$point-dark: darken($point-color,15%);
$point-darker: darken($point-color,30%);

//thema-color
$thema-color: #343A40;
$font-color-01 : #7D7D7D;
$font-color-02 : #666666;
$font-color-dark : #7D7D7D;
$font-color-light : #7D7D7D;
$header-bg : #343A40;
$header-font-color : #ffffff;
$border-color : #d5d6dc;
$title-bg : #222222;
$title-font-color : #7D7D7D;
$card-bg : #343A40;
$th-bg : #222222;
$th-font-color : #7D7D7D;
$footer-bg-color : $thema-color;
$footer-font-color : $font-color-01;

$thema-type : thema-light;
@if $thema-type  == thema-dark {
  $thema-color: #343A40;
  $font-color-01 : rgba(255,255,255,.7);
  $font-color-02 :rgba(255,255,255,.7);
  $font-color-dark : rgba(255,255,255,.7);
  $font-color-light : rgba(255,255,255,.7);
  $header-bg : #343A40;
  $header-font-color : #ffffff;
  $border-color : #646464;
  $title-bg : #222222;
  $title-font-color : rgba(255,255,255,.7);
  $card-bg : #343A40;
  $th-bg :#222222;
  $th-font-color : rgba(255,255,255,.7);
  $footer-bg-color : $thema-color;
  $footer-font-color : $font-color-01;
} @else if $thema-type  == thema-light{
  $thema-color: #f2f2f2;
  $font-color-01 : #7D7D7D;
  $font-color-02 : #666666;
  $font-color-dark : #222222;
  $font-color-light : #999999;
  $header-bg : #343A40;
  $header-font-color : #ffffff;
  $border-color : #d5d6dc;
  $title-bg : #EFF2F7;
  $title-font-color : #222222;
  $card-bg : #ffffff;
  $th-bg : #F9FAFC;
  $th-font-color : #7D7D7D;
  $footer-bg-color : $header-bg;
  $footer-font-color : $header-font-color;
}

$thema-lighter: lighten($thema-color,30%);
$thema-light: lighten($thema-color,15%);
$thema-dark: darken($thema-color,15%);
$thema-darker: darken($thema-color,30%);

$title-height: 42px;
$table-head-height:36px;
$td-height : 41px;
$td-padding : 4px;
$thema-letter-spacing: -1px;

$min-width : 1880px;//1920px;
$below-width : 1400px;
$side-width : 440px ;
$wide-width : calc(100% - #{$side-width });

//Placeholder 선택자 % 를 사용하면 상속은 할 수 있지만 해당 선택자는 컴파일되지 않습니다. @extend directive를 사용
/*-- font family --*/
%font-b{font-family: Nanum Gothic, sans-serif; font-weight: 800;}
%font-r{font-family: Nanum Gothic, sans-serif; font-weight: 400;}
%font-n{font-family: Nanum Gothic, sans-serif;;}
%title{font-family: Nanum Gothic, sans-serif;}

%float-clear {
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
%trade-top-ratio{
  position:relative;
  padding-top:45%;
  .arti-inner{
    position:absolute;
    top:0;
    right: $padding-type01;
    bottom: #{$padding-type01 * 2};
    left : $padding-type01;
  }
}

//mixin
@mixin thema ($bg, $font) {
  background-color: $bg;
  color: $font;
}

@mixin arti-height ($h) {
  position:relative;
  padding-top: $h;
  .arti-inner{
    position:absolute;
    top:$padding-type01;
    right: $padding-type01;
    bottom: $padding-type01;
    left : $padding-type01;
  }
}


*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;font-size:14px; @extend %font-r; color:$font-color-01;}
body {-webkit-text-size-adjust:100%;background-color:$thema-color;@extend %font-r;}
a{text-decoration:none;color:$font-color-01;}
li{list-style: none;}
button{outline:none;position:relative;border:none;cursor:pointer;font-size:.9rem;}
button:active{top:1px;left:1px;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;}

.coinType{}
.priceType{}
.numFontType{@extend %font-n;}
.numBold{@extend %font-n;font-weight:900;}
.bFontType{@extend %font-b;}
.rFontType{@extend %font-r;}

.scroll-custom{display:none;}
.scroll-div{display:none;}

/**/
small{margin-left:3px;font-size : 0.8rem;}

/*tab*/
.tabs{
  display:flex;
  margin-right: -$padding-type03;
  margin-left: -$padding-type03;
}
.tab-title{
  position:relative;
  width:100%;
  text-align:center;
  font-size:1.15rem;
  @extend %title;
  &:after{
    content:"";
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color:transparent;
  }
  &:hover{cursor:pointer;}
  &:hover:not(.active){text-decoration: underline;}
}
.tab-title.active{
  color: $primary-color;
  &:after{
    content:"";
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    z-index : 2;
    width:100%;
    height:2px;
    background-color:$primary-color;
  }
}
.tab-con{display:none;  height:calc(100% - 42px);}
.tab-con.active{display:block;}

.vertical-middle{
  display:table;
  width:100%;
  height:100%;
  .middle-inner{
    display:table-cell;
    vertical-align: middle;
  }
}

/*font-color*/
.font-color-plus{color:$plus-color;}
.font-color-minus{color : $minus-color;}
.font-dark{color:$font-color-dark;}
.font-normal{color:$font-color-01 !important;}
.font-light{color:$font-color-light;}
.font-color-primary{color : $primary-color;}
.font-color-pointe{color:$point-color;}
.font-red{color:red;}

/*text-align*/
.text-center{text-align:center;}
.text-right{text-align: right;}
.text-left{text-align:left;}

/*float*/
.float-right{float:right;}
.float-left{float:left;}

/*border*/
.boder-bottom-zero{border-bottom:none !important;}
.border-zero{border:none !important;}

/*margin*/
.margin-zero{margin:0 !important;}

/*button*/
button{transition:all .4s ease;}
.btn-block{  display: block;  height:48px;  width:100%;  }
.btn-200{ display: block;  height:48px;  width:200px; margin:0 auto;}
.btn-color-primary{@include thema($primary-color, #fff);border:1px solid transparent;}
.btn-color-primary:hover{background-color:$primary-dark;}
.btn-color-primary.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
.btn-color-primary.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
.btn-color-primary:disabled{background-color:#dddddd;color:#7d7d7d;}

.btn-color-pointe{@include thema($point-color, #fff);border:1px solid transparent;}
.btn-color-pointe:hover{background-color:$point-dark;}
.btn-color-pointe.reversed{@include thema(transparent,$point-color);border-color:$point-color;}
.btn-color-pointe.reversed:hover{@include thema(transparent,$point-dark);border-color:$point-dark;}
.btn-color-pointe:disabled{background-color:#dddddd;color:#7d7d7d;}
button.font-red{
  padding:0.25rem;
  background-color:transparent;
}

/*tooltip*/
[data-tooltip-text]:hover {  position: relative;  }
[data-tooltip-text]:after {
  content: attr(data-tooltip-text);
  position: absolute;
  z-index: 9999;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 7px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  text-align:center;
  line-height:1.4;
  word-wrap: break-word;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  transition: display .3s ease, bottom .3s ease-in-out, opacity .3s ease-in-out;
}
[data-tooltip-text]:after{    display: none;opacity: 0;  /*right: -9999px;*/  top: 90%;}
[data-tooltip-text]:hover:after {    display: block;top: 130%;  /*right: 0;*/  opacity: 1;  }

/*input-box*/
.input-box{
  display: flex;
  border: 1px solid $border-color;
  *{ color: $font-color-01; font-size: 0.85714rem;}
  >div{width:100%;}
  input, button, select{padding : $td-padding #{$td-padding *2};margin:-1px -1px -1px 0;border:none;}
  button{  background-color:transparent;  border-left:1px solid $border-color;  }
  select{  background-color:transparent;  border-right:1px solid $border-color;  }
  >div:not(.read-only){height:$table-head-height;padding : $td-padding #{$td-padding *2};line-height: #{$table-head-height - ($td-padding *2)}}
  input{width:100%;height:$table-head-height;background-color:transparent;text-align: right;color:$font-color-dark;}
  button{width:140px;text-align: center;}
  select{width:100px;}
  >.read-only,
  input:read-only{margin:-1px;border:1px solid $border-color;background-color:rgba(0, 0, 0, 0.1);text-align: left;}
  >.read-only>input:read-only{margin:0;border:none;background-color:transparent;text-align: left;}
  .flex{
    display: flex;
    padding : 0 !important;
    input, button, select{margin:0;border:0}
  }
  .btn-color-primary{@include thema($primary-color, #fff);border:1px solid transparent;}
  .btn-color-primary:hover{background-color:$primary-dark;}
  .btn-color-primary.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
  .btn-color-primary.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
}

/*checkbox,radio custom*/
.check-custom input[type=checkbox],
.check-custom input[type=radio]{display: none;}
.check-custom input + label{display:inline-block;position:relative;padding-right:1rem;padding-left:2em;color:$font-color-dark;line-height:2rem;cursor:pointer;}
.check-custom input + label:before{content:"";display:block;position:absolute;top:50%;left:0;width:1.2rem;height:1.2rem;margin-top:-0.6rem;border:1px solid #888;border-radius:2px;}
.check-custom input + label:after{content:"";display:block;position:absolute;top:50%;left:2px;width:1rem;height:1rem;margin-top:-0.5rem;background-size:contain;border-radius:2px;}
.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before{border-color:$minus-color;}
.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after{background-image:url(../images/icon/verification-mark.png);}

/*lightbox*/
.light-header{
  position:relative;;
  padding:1rem;
  //color:$font-color-dark;
  @include thema($primary-color, #fff);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  .close{
    position:absolute;
    top:50%;
    right:#{$padding-type01 + $padding-type03};
    width:1rem;
    height:1rem;
    margin-top:-0.5rem;
    @include thema(transparent, $title-font-color);
    background-image: url('../images/icon/cancel_w.png');
    background-size:1rem;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
  }
  .close:active{left:inherit;}
}
.light-body{border-top:1px solid $border-color;border-bottom:1px solid $border-color;}
.light-body .scroll-div>.inner{padding:1rem;}
.light-footer{
  padding:1rem;
  button{
    display: inline-block;
    margin:0px 3px;
    padding:0 10px 3px;
    min-width:220px;
    border-radius: 0;
    line-height : 40px;
    font-size:1rem;
    cursor:pointer;
  }
}

/*no data table*/
.noData td{height:300px;border:none !important;line-height: 300px;text-align: center;}

/*caution*/
.caution,
.caution *{font-size: 0.8rem;;color:red;}
.caution small{margin-left:3px;}



/*fileinfo 시작*/
#fileinfo{
  .div{padding: 1rem 0;}
  background-color:#fff;
  small{margin-left:0;font-size:0.9285rem;line-height: 1.4;}
  dl{
    margin-bottom:30px;
    padding-bottom:30px;
    border-bottom:1px solid lighten($border-color,8%);
    @extend %float-clear;
  }
  dl:last-child{margin-bottom:0;padding-bottom:0;border-bottom:0;}
  dt{
    float:left;
    width:240px;
    height:$table-head-height;
    font-size:0.9285rem;
    line-height:$table-head-height;
    //line-height:26px;
    @extend %font-b;
    color: $font-color-dark;
    &.double-row{line-height: 1.4;}
    //border-left:3px solid #ddd;
    //padding-left:14px;
  }
  dd{
    float:right;
    width:calc(100% - 245px);
    margin-bottom:10px;
    .tit{
      font-size:11px;
      height:22px;
      line-height:26px;
    }
    .con{
      border:1px solid $border-color;
      font-size:13px;
      height:$table-head-height;
      padding : $td-padding #{$td-padding *2};
      line-height: #{$table-head-height -($td-padding *2)};
    }
    .con.input-box{padding:0;}
    .con.input-box button {width:140px;}
    dl dd:last-child{margin-bottom:0;}
    .con.input-box.double {height:46px;}
    .con.input-box .double-row{height:44px;padding:4px 8px; text-align: justify;line-height: 18px;}
    small{margin-left:0;}
  }
  dd.not-mb{
    margin-bottom:0;
  }
  .light-body{}
  .btn-box{margin-top:1rem;}
  .policy{
    overflow-y: scroll;
    height:180px;
    padding:10px;
    background-color: #f2f2f2;
    line-height: 1.6;
    dt{float:inherit;width:100%;}
    dd{float:inherit;width:100%;}
  }
  .sub-tit{
    margin-bottom:1.5rem;
    .tit{
      padding-bottom:5px;
      margin-bottom:1rem;
      border-bottom:1px solid $primary-darker;
      color:$primary-darker;
      font-size: 1.15rem;
    }
    dt{float:inherit;width:100%;margin-top:0;}
    dd{float:inherit;width:100%;}
  }
  .w100{
    margin-bottom:0 !important;
    padding-bottom:0 !important;
    border-bottom:0;
    dt{float:inherit;width:100%;margin-top:0;}
    dd{float:inherit;width:100%;margin-bottom:5px;font-size:0.9285rem; }
  }
  .images{
    figure{@extend %float-clear;}
    .txc-image{float:left;width :300px;}
    figcaption{float:right;width:calc(100% - 310px);padding:10px 0;}
    figcaption dl{margin-bottom:20px;padding-bottom:10px;}
    .caution{margin-bottom:5px;}
  }
  .star{position:relative;padding-left:0.6rem;}
  .star:before{content:"*";position:absolute;left:0;}
}


.sub-menu{
  padding:10px 5%;
  .sub-title{
    font-size:2rem;
    height:74px;
    line-height:74px;
  }

}
/*fileinfo 끝*/



/*뷰포트 너비가 700px 이하이면 실행*/
@media screen and (max-width : 700px) {
  .scroll-custom,
  .scroll-div {
    overflow-y: scroll !important;
  }
  .scroll-custom .scrollBar,
  .scroll-custom .scrollRail,
  .scroll-div .scrollBar,
  .scroll-div .scrollRail {
    display: none !important;
  }
}