@charset "UTF-8";
@import url("../fonts/NanumGothic/NanumGothic.css");
/*-- font family --*/
.bFontType, #fileinfo dt {
  font-family: Nanum Gothic, sans-serif;
  font-weight: 800; }

html, body, .rFontType {
  font-family: Nanum Gothic, sans-serif;
  font-weight: 400; }

.numFontType, .numBold {
  font-family: Nanum Gothic, sans-serif; }

.tab-title {
  font-family: Nanum Gothic, sans-serif; }

#fileinfo dl:after, #fileinfo .images figure:after {
  content: "";
  display: block;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #7D7D7D; }

body {
  -webkit-text-size-adjust: 100%;
  background-color: #f2f2f2; }

a {
  text-decoration: none;
  color: #7D7D7D; }

li {
  list-style: none; }

button {
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: .9rem; }

button:active {
  top: 1px;
  left: 1px; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

.numBold {
  font-weight: 900; }

.scroll-custom {
  display: none; }

.scroll-div {
  display: none; }

/**/
small {
  margin-left: 3px;
  font-size: 0.8rem; }

/*tab*/
.tabs {
  display: flex;
  margin-right: -14px;
  margin-left: -14px; }

.tab-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.15rem; }
  .tab-title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; }
  .tab-title:hover {
    cursor: pointer; }
  .tab-title:hover:not(.active) {
    text-decoration: underline; }

.tab-title.active {
  color: #176bcc; }
  .tab-title.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 2px;
    background-color: #176bcc; }

.tab-con {
  display: none;
  height: calc(100% - 42px); }

.tab-con.active {
  display: block; }

.vertical-middle {
  display: table;
  width: 100%;
  height: 100%; }
  .vertical-middle .middle-inner {
    display: table-cell;
    vertical-align: middle; }

/*font-color*/
.font-color-plus {
  color: #ff6301; }

.font-color-minus {
  color: #176bcc; }

.font-dark {
  color: #222222; }

.font-normal {
  color: #7D7D7D !important; }

.font-light {
  color: #999999; }

.font-color-primary {
  color: #176bcc; }

.font-color-pointe {
  color: #ff6301; }

.font-red {
  color: red; }

/*text-align*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/*float*/
.float-right {
  float: right; }

.float-left {
  float: left; }

/*border*/
.boder-bottom-zero {
  border-bottom: none !important; }

.border-zero {
  border: none !important; }

/*margin*/
.margin-zero {
  margin: 0 !important; }

/*button*/
button {
  transition: all .4s ease; }

.btn-block {
  display: block;
  height: 48px;
  width: 100%; }

.btn-200 {
  display: block;
  height: 48px;
  width: 200px;
  margin: 0 auto; }

.btn-color-primary {
  background-color: #176bcc;
  color: #fff;
  border: 1px solid transparent; }

.btn-color-primary:hover {
  background-color: #0f4787; }

.btn-color-primary.reversed {
  background-color: transparent;
  color: #176bcc;
  border-color: #176bcc; }

.btn-color-primary.reversed:hover {
  background-color: transparent;
  color: #0f4787;
  border-color: #0f4787; }

.btn-color-primary:disabled {
  background-color: #dddddd;
  color: #7d7d7d; }

.btn-color-pointe {
  background-color: #ff6301;
  color: #fff;
  border: 1px solid transparent; }

.btn-color-pointe:hover {
  background-color: #b44500; }

.btn-color-pointe.reversed {
  background-color: transparent;
  color: #ff6301;
  border-color: #ff6301; }

.btn-color-pointe.reversed:hover {
  background-color: transparent;
  color: #b44500;
  border-color: #b44500; }

.btn-color-pointe:disabled {
  background-color: #dddddd;
  color: #7d7d7d; }

/*tooltip*/
[data-tooltip-text]:hover {
  position: relative; }

[data-tooltip-text]:after {
  content: attr(data-tooltip-text);
  position: absolute;
  z-index: 9999;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 7px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  line-height: 1.4;
  word-wrap: break-word;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  transition: display .3s ease, bottom .3s ease-in-out, opacity .3s ease-in-out; }

[data-tooltip-text]:after {
  display: none;
  opacity: 0;
  /*right: -9999px;*/
  top: 90%; }

[data-tooltip-text]:hover:after {
  display: block;
  top: 130%;
  /*right: 0;*/
  opacity: 1; }

/*input-box*/
.input-box {
  display: flex;
  border: 1px solid #d5d6dc; }
  .input-box * {
    color: #7D7D7D;
    font-size: 0.85714rem; }
  .input-box > div {
    width: 100%; }
  .input-box input, .input-box button, .input-box select {
    padding: 4px 8px;
    margin: -1px -1px -1px 0;
    border: none; }
  .input-box button {
    background-color: transparent;
    border-left: 1px solid #d5d6dc; }
  .input-box select {
    background-color: transparent;
    border-right: 1px solid #d5d6dc; }
  .input-box > div:not(.read-only) {
    height: 36px;
    padding: 4px 8px;
    line-height: 28px; }
  .input-box input {
    width: 100%;
    height: 36px;
    background-color: transparent;
    text-align: right;
    color: #222222; }
  .input-box button {
    width: 140px;
    text-align: center; }
  .input-box select {
    width: 100px; }
  .input-box > .read-only,
  .input-box input:read-only {
    margin: -1px;
    border: 1px solid #d5d6dc;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left; }
  .input-box > .read-only > input:read-only {
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: left; }
  .input-box .flex {
    display: flex;
    padding: 0 !important; }
    .input-box .flex input, .input-box .flex button, .input-box .flex select {
      margin: 0;
      border: 0; }
  .input-box .btn-color-primary {
    background-color: #176bcc;
    color: #fff;
    border: 1px solid transparent; }
  .input-box .btn-color-primary:hover {
    background-color: #0f4787; }
  .input-box .btn-color-primary.reversed {
    background-color: transparent;
    color: #176bcc;
    border-color: #176bcc; }
  .input-box .btn-color-primary.reversed:hover {
    background-color: transparent;
    color: #0f4787;
    border-color: #0f4787; }

/*checkbox,radio custom*/
.check-custom input[type=checkbox],
.check-custom input[type=radio] {
  display: none; }

.check-custom input + label {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
  padding-left: 2em;
  color: #222222;
  line-height: 2rem;
  cursor: pointer; }

.check-custom input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  border: 1px solid #888;
  border-radius: 2px; }

.check-custom input + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  background-size: contain;
  border-radius: 2px; }

.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before {
  border-color: #176bcc; }

.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after {
  background-image: url(../images/icon/verification-mark.png); }

/*lightbox*/
.light-header {
  position: relative;
  padding: 1rem;
  background-color: #176bcc;
  color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); }
  .light-header .close {
    position: absolute;
    top: 50%;
    right: 19px;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    background-color: transparent;
    color: #222222;
    background-image: url("../images/icon/cancel_w.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .light-header .close:active {
    left: inherit; }

.light-body {
  border-top: 1px solid #d5d6dc;
  border-bottom: 1px solid #d5d6dc; }

.light-body .scroll-div > .inner {
  padding: 1rem; }

.light-footer {
  padding: 1rem; }
  .light-footer button {
    display: inline-block;
    margin: 0px 3px;
    padding: 0 10px 3px;
    min-width: 220px;
    border-radius: 0;
    line-height: 40px;
    font-size: 1rem;
    cursor: pointer; }

/*no data table*/
.noData td {
  height: 300px;
  border: none !important;
  line-height: 300px;
  text-align: center; }

/*caution*/
.caution,
.caution * {
  font-size: 0.8rem;
  color: red; }

.caution small {
  margin-left: 3px; }

/*fileinfo 시작*/
#fileinfo {
  background-color: #fff; }
  #fileinfo .div {
    padding: 1rem 0; }
  #fileinfo small {
    margin-left: 0;
    font-size: 0.9285rem;
    line-height: 1.4; }
  #fileinfo dl {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebecef; }
  #fileinfo dl:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  #fileinfo dt {
    float: left;
    width: 140px;
    height: 36px;
    font-size: 0.9285rem;
    line-height: 36px;
    color: #222222; }
    #fileinfo dt.double-row {
      line-height: 1.4; }
  #fileinfo dd {
    float: right;
    width: calc(100% - 145px);
    margin-bottom: 10px; }
    #fileinfo dd .tit {
      font-size: 11px;
      height: 22px;
      line-height: 26px; }
    #fileinfo dd .con {
      border: 1px solid #d5d6dc;
      font-size: 13px;
      height: 36px;
      padding: 4px 8px;
      line-height: 28px; }
    #fileinfo dd .con.input-box {
      padding: 0; }
    #fileinfo dd .con.input-box button {
      width: 140px; }
    #fileinfo dd dl dd:last-child {
      margin-bottom: 0; }
    #fileinfo dd .con.input-box.double {
      height: 46px; }
    #fileinfo dd .con.input-box .double-row {
      height: 44px;
      padding: 4px 8px;
      text-align: justify;
      line-height: 18px; }
    #fileinfo dd small {
      margin-left: 0; }
  #fileinfo .btn-box {
    margin-top: 1rem; }
  #fileinfo .policy {
    overflow-y: scroll;
    height: 180px;
    padding: 10px;
    background-color: #f2f2f2;
    line-height: 1.6; }
    #fileinfo .policy dt {
      float: inherit;
      width: 100%; }
    #fileinfo .policy dd {
      float: inherit;
      width: 100%; }
  #fileinfo .sub-tit {
    margin-bottom: 1.5rem; }
    #fileinfo .sub-tit .tit {
      padding-bottom: 5px;
      margin-bottom: 1rem;
      border-bottom: 1px solid #072343;
      color: #072343;
      font-size: 1.15rem; }
    #fileinfo .sub-tit dt {
      float: inherit;
      width: 100%;
      margin-top: 0; }
    #fileinfo .sub-tit dd {
      float: inherit;
      width: 100%; }
  #fileinfo .w100 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0; }
    #fileinfo .w100 dt {
      float: inherit;
      width: 100%;
      margin-top: 0; }
    #fileinfo .w100 dd {
      float: inherit;
      width: 100%;
      margin-bottom: 5px;
      font-size: 0.9285rem; }
  #fileinfo .images .txc-image {
    float: left;
    width: 300px; }
  #fileinfo .images figcaption {
    float: right;
    width: calc(100% - 310px);
    padding: 10px 0; }
  #fileinfo .images figcaption dl {
    margin-bottom: 20px;
    padding-bottom: 10px; }
  #fileinfo .images .caution {
    margin-bottom: 5px; }
  #fileinfo .star {
    position: relative;
    padding-left: 0.6rem; }
  #fileinfo .star:before {
    content: "*";
    position: absolute;
    left: 0; }

.sub-menu {
  padding: 10px 5%; }
  .sub-menu .sub-title {
    font-size: 2rem;
    height: 74px;
    line-height: 74px; }

/*fileinfo 끝*/
/*뷰포트 너비가 700px 이하이면 실행*/
@media screen and (max-width: 700px) {
  .scroll-custom,
  .scroll-div {
    overflow-y: scroll !important; }
  .scroll-custom .scrollBar,
  .scroll-custom .scrollRail,
  .scroll-div .scrollBar,
  .scroll-div .scrollRail {
    display: none !important; }
  #fileinfo dt, #fileinfo dd {
    float: inherit;
    width: 100%; }
  #fileinfo .images .txc-image {
    float: inherit; }
  #fileinfo .images figcaption {
    float: inherit;
    width: 100%; }
  #fileinfo .images figcaption dl {
    margin-bottom: 20px;
    padding-bottom: 10px; } }
