@charset "UTF-8";
/****************************************************/
@import url("../fonts/NanumGothic/NanumGothic.css");
/****************************************************/
/*-- color --*/
/*-- thema-color --*/
/*-- size --*/
/*-- font family --*/
.bFontType, .light-body .tab-title, section article > .arti-inner > .arti-title, #mypage dt, #mypage #memSecession .arti-title {
  font-family: Nanum Gothic, sans-serif;
  font-weight: 800; }

html, body, select, .rFontType, .scroll-custom thead th,
.scroll-custom thead td, .scroll-custom thead select, #coinMarketPrice thead th,
#coinMarketPrice thead td, #coinMarketPrice thead select, #Board-list table thead th,
#Board-list table thead td, #Board-list table thead select, #Board-detail .board-head, #Board-detail #deposit_confirm dd thead th,
#Board-detail #deposit_confirm dd thead td {
  font-family: Nanum Gothic, sans-serif;
  font-weight: 400; }

.numFontType, .numBold {
  font-family: Nanum Gothic, sans-serif; }

.tab-title, #Board-list #bankFraud li {
  font-family: Nanum Gothic, sans-serif; }

/*-- clear both --*/
header .inner:after, header #TradeMain:after, header #TradeMain .tradeTopbox:after, header nav.web .depth1:after, header .gnb ul:after, footer:after, section:after, #homeContents:after, #eventBanner ul:after, #coinMarketPrice .tabs:after, #askingprice .nowPriceWrap:after, #askingprice .hogaTable .hogasub dl:after, #askingprice .hogaTable .contractList dl:after, #askingprice .contractList li:after, #askingprice .contractListTable:after, #askingprice .coinNow .coinNowinfo:after, #tradeBuySell li:after, #totalAmount .arti-title:after, .deposit_caution div:after,
.deposit_caution dl:after, .deposit_caution .bank_info dl:after, #CoinOut dl:after, #CoinOut .krw_out_info dd > div:after, #tableInOutCList .trader:after, #myAccount .arti-title:after, #mypage dl:after, #mypage #memSecession .arti-title:after, .sub-menu .tabs:after, #BANK .lightbox-contents .bank-trans .trans:after, #Board-list #bankFraud:after, #Board-list .paging .pagination:after {
  content: "";
  display: block;
  clear: both; }

header .inner, footer .inner, #topBanner .inner, #homeContents, #eventBanner .inner, #board_list .inner, #contactInfo .inner {
  width: 1400px;
  height: 100%;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #7D7D7D; }

body {
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: #7D7D7D; }

li {
  list-style: none; }

button {
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: .9rem; }

button:active {
  top: 1px;
  left: 1px; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

::selection {
  background-color: #ff7905;
  color: #fff; }

.numBold {
  font-weight: 900; }

.scroll-custom {
  display: none; }

.scroll-div {
  display: none; }

/*caution*/
.caution,
.caution * {
  font-size: 0.78571rem;
  color: red; }

.caution small {
  margin-left: 3px; }

/**/
small {
  margin-left: 5px;
  font-size: 0.78571rem; }

/*-- font-color --*/
.font-color-plus {
  color: #ff7905; }

.font-color-minus {
  color: #326bff; }

.font-dark {
  color: #222222; }

.font-normal {
  color: #7D7D7D !important; }

.font-light {
  color: #999999; }

.font-color-primary {
  color: #326bff; }

.font-color-pointe {
  color: #ff7905; }

.font-red {
  color: red; }

/*-- text-align --*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/*-- float--*/
.float-right {
  float: right; }

.float-left {
  float: left; }

.float-clear:after {
  content: "";
  display: block;
  clear: both; }

/*-- border --*/
.boder-bottom-zero {
  border-bottom: none !important; }

.border-zero {
  border: none !important; }

/*-- margin --*/
.margin-zero {
  margin: 0 !important; }

/*-- button --*/
button {
  transition: all .4s ease; }

.btn-block {
  display: block;
  height: 48px;
  width: 100%; }

.btn-200 {
  display: block;
  height: 48px;
  width: 200px;
  margin: 0 auto; }

.btn-board {
  min-width: 120px;
  height: 36px;
  border: 1px solid #d5d6dc;
  line-height: 36px; }

.btn-color-primary {
  background-color: #326bff;
  color: #fff;
  border: 1px solid transparent; }

.btn-color-primary:hover {
  background-color: #0040e5; }

.btn-color-primary.reversed {
  background-color: transparent;
  color: #326bff;
  border-color: #326bff; }

.btn-color-primary.reversed:hover {
  background-color: transparent;
  color: #0040e5;
  border-color: #0040e5; }

.btn-color-primary:disabled {
  background-color: #dddddd;
  color: #7d7d7d; }

.btn-color-pointe {
  background-color: #ff7905;
  color: #fff;
  border: 1px solid transparent; }

.btn-color-pointe:hover {
  background-color: #b85500; }

.btn-color-pointe.reversed {
  background-color: transparent;
  color: #ff7905;
  border-color: #ff7905; }

.btn-color-pointe.reversed:hover {
  background-color: transparent;
  color: #b85500;
  border-color: #b85500; }

.btn-color-pointe:disabled {
  background-color: #dddddd;
  color: #7d7d7d; }

/*-- text-overflow --*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*-- scroll --*/
.chrome-scroll {
  scrollbar-face-color: #ee2a2a;
  scrollbar-shadow-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-track-color: #000;
  /*scrollbar-arrow-color: #ee2a2a;*/
  -webkit-overflow-scrolling: touch; }
  .chrome-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px; }
  .chrome-scroll::-webkit-scrollbar-thumb {
    background: #326bff; }

/*-- tab --*/
.tabs {
  display: flex;
  margin-right: -14px;
  margin-left: -14px; }

.tab-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.15rem; }
  .tab-title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; }
  .tab-title:hover {
    cursor: pointer; }
  .tab-title:hover:not(.active) {
    text-decoration: underline; }

.tab-title.active {
  color: #326bff; }
  .tab-title.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 2px;
    background-color: #326bff; }

.tab-con {
  display: none;
  height: calc(100% - 42px); }

.tab-con.active {
  display: block; }

/*-- middle --*/
.vertical-middle {
  display: table;
  width: 100%;
  height: 100%; }
  .vertical-middle .vertical-middle {
    display: table-cell;
    vertical-align: middle; }

/*-- scroll-custom table--*/
.scroll-custom {
  /*scroll-custom action*/ }
  .scroll-custom caption,
  .scroll-custom summary {
    display: none; }
  .scroll-custom thead {
    z-index: 1; }
  .scroll-custom th,
  .scroll-custom td {
    padding: 0 4px; }
  .scroll-custom thead th,
  .scroll-custom thead td {
    background-color: #F9FAFC;
    color: #7D7D7D;
    border-bottom: 1px solid #d5d6dc;
    height: 36px;
    font-size: 0.78571rem;
    cursor: pointer; }
  .scroll-custom thead select {
    height: calc(100% - 8px);
    border: 1px solid #d5d6dc;
    background-color: #F9FAFC;
    color: #7D7D7D;
    font-size: 0.78571rem;
    cursor: pointer; }
  .scroll-custom tbody td {
    height: 41px;
    border-bottom: 1px solid #d5d6dc;
    font-size: 0.85714rem;
    color: #222222; }
    .scroll-custom tbody td .sortData {
      display: none; }
    .scroll-custom tbody td input.dealID {
      display: block;
      width: 100%;
      height: calc(100% - 8px);
      padding: 0 4px;
      border: none; }
    .scroll-custom tbody td .date {
      font-size: 0.85714rem; }
  .scroll-custom thead tr th:first-child,
  .scroll-custom thead tr td:first-child,
  .scroll-custom tbody tr td:first-child {
    padding-left: 14px; }
  .scroll-custom thead tr th:last-child,
  .scroll-custom thead tr td:last-child,
  .scroll-custom tbody tr td:last-child {
    padding-right: 14px; }
  .scroll-custom tbody tr:first-child td {
    height: 77px;
    padding-top: 37px; }
  .scroll-custom tbody tr:last-child:not(:nth-child(-n+10)) td {
    border-bottom: none; }
  .scroll-custom.hover table tbody tr:hover th,
  .scroll-custom.hover table tbody tr:hover td,
  .scroll-custom table tbody tr.active th,
  .scroll-custom table tbody tr.active td {
    background-color: rgba(0, 0, 0, 0.07); }

/*-- tooltip --*/
[data-tooltip-text]:hover {
  position: relative; }

[data-tooltip-text]:after {
  content: attr(data-tooltip-text);
  position: absolute;
  z-index: 9999;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 7px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  line-height: 1.4;
  word-wrap: break-word;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  transition: display .3s ease, bottom .3s ease-in-out, opacity .3s ease-in-out; }

[data-tooltip-text]:after {
  display: none;
  opacity: 0;
  /*right: -9999px;*/
  top: 90%; }

[data-tooltip-text]:hover:after {
  display: block;
  top: 130%;
  /*right: 0;*/
  opacity: 1; }

/*-- input-box --*/
.input-box {
  display: flex;
  border: 1px solid #d5d6dc; }
  .input-box * {
    color: #7D7D7D;
    font-size: 0.85714rem; }
  .input-box > div {
    width: 100%; }
  .input-box input, .input-box button, .input-box select {
    padding: 4px 8px;
    margin: -1px -1px -1px 0;
    border: none; }
  .input-box button {
    background-color: transparent;
    border-left: 1px solid #d5d6dc; }
  .input-box select {
    background-color: transparent;
    border-right: 1px solid #d5d6dc; }
  .input-box > div:not(.read-only) {
    height: 36px;
    padding: 4px 8px;
    line-height: 28px; }
  .input-box input {
    width: 100%;
    height: 36px;
    background-color: transparent;
    text-align: right;
    color: #222222; }
  .input-box button {
    width: 140px;
    text-align: center; }
  .input-box select {
    width: 100px; }
  .input-box > .read-only,
  .input-box input:read-only {
    margin: -1px;
    border: 1px solid #d5d6dc;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left; }
  .input-box > .read-only > input:read-only {
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: left; }
  .input-box .flex {
    display: flex;
    padding: 0 !important; }
    .input-box .flex input, .input-box .flex button, .input-box .flex select {
      margin: 0;
      border: 0; }
  .input-box .btn-color-primary {
    background-color: #326bff;
    color: #fff;
    border: 1px solid transparent; }
  .input-box .btn-color-primary:hover {
    background-color: #0040e5; }
  .input-box .btn-color-primary.reversed {
    background-color: transparent;
    color: #326bff;
    border-color: #326bff; }
  .input-box .btn-color-primary.reversed:hover {
    background-color: transparent;
    color: #0040e5;
    border-color: #0040e5; }

/*-- checkbox,radio custom --*/
.check-custom input[type=checkbox],
.check-custom input[type=radio] {
  display: none; }

.check-custom input + label {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
  padding-left: 2em;
  color: #222222;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer; }

.check-custom input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.7rem;
  border: 1px solid #888;
  border-radius: 2px; }

.check-custom input + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 1rem;
  height: 1rem;
  margin-top: -0.6rem;
  background-size: contain;
  border-radius: 2px; }

.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before {
  border-color: #326bff; }

.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after {
  background-image: url(../images/icon/verification-mark.png); }

/*-- lightbox(modal) --*/
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }
  .lightbox .cover {
    display: table;
    width: 100%;
    height: 100%; }
  .lightbox .cover-inner {
    display: table-cell;
    vertical-align: middle; }

.lightbox.small .lightbox-contents {
  width: 500px; }

.lightbox.large .lightbox-contents {
  width: 800px; }

.lightbox-contents {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all .4s ease; }

.light-header {
  position: relative;
  padding: 1rem;
  background-color: #326bff;
  color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); }
  .light-header .close {
    position: absolute;
    top: 50%;
    right: 19px;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    background-color: transparent;
    color: #222222;
    background-image: url("../images/icon/cancel_w.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .light-header .close:active {
    left: inherit; }

.light-body {
  padding: 1rem;
  border-top: 1px solid #d5d6dc;
  border-bottom: 1px solid #d5d6dc; }
  .light-body .tab-title {
    height: 42px;
    line-height: 42px;
    margin-top: -1rem; }
  .light-body .input-tit {
    font-size: 0.78571rem;
    height: 22px;
    line-height: 26px; }
  .light-body .tab-con {
    margin-right: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    padding: 1rem;
    border-top: 1px solid #d5d6dc; }
  .light-body .input-box {
    margin-bottom: 10px; }
  .light-body .btn-wrap {
    padding-top: 10px; }
  .light-body .ToS {
    height: 500px; }
  .light-body .scroll-zone {
    overflow-y: scroll; }

.light-footer {
  padding: 1rem; }
  .light-footer button {
    display: inline-block;
    margin: 0px 3px;
    padding: 0 10px 3px;
    min-width: 220px;
    border-radius: 0;
    line-height: 40px;
    font-size: 1rem;
    cursor: pointer; }

/*-- lightbox function --*/
.lightbox.hidden {
  display: none; }

.lightbox {
  display: block; }

/*-- no data table --*/
.noData td {
  height: 300px;
  border: none !important;
  line-height: 300px;
  text-align: center; }

.wrap {
  background-color: #f9f9f9;
  color: #7D7D7D; }

/*----------------------------------*/
/*              header              */
/*----------------------------------*/
header {
  min-width: 1400px;
  height: 80px;
  padding: 10px;
  background-color: #222;
  color: #ffffff;
  /*nav action*/ }
  header.full .inner {
    width: 100%; }
  header .logo {
    float: left;
    width: 200px;
    padding-top: 7px;
    margin-right: 40px; }
    header .logo img {
      width: 100%; }
  header #TradeMain {
    float: left;
    position: relative;
    width: 460px;
    padding-top: 9px;
    padding-left: 30px;
    font-size: 0.85714rem; }
    header #TradeMain .img-cover {
      position: absolute;
      top: 9px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px; }
      header #TradeMain .img-cover img {
        width: 100%;
        height: 100%;
        border: none; }
    header #TradeMain .tradeTopbox {
      font-size: 1.15rem; }
      header #TradeMain .tradeTopbox .coinTItle {
        padding: 5px 0; }
      header #TradeMain .tradeTopbox #spanBithumb {
        padding-left: 10px; }
  header nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7); }
    header nav.mobile .list {
      position: fixed;
      z-index: 1901;
      width: 270px;
      margin-top: 3px;
      background-color: #000;
      top: 0;
      right: -100%;
      bottom: 0;
      padding: 75px 40px 40px 40px;
      overflow-y: auto;
      transition: right 0.5s ease; }
    header nav.mobile.active {
      right: 0; }
    header nav.mobile.active .list {
      right: 0; }
    header nav.mobile .dropdown {
      position: relative; }
      header nav.mobile .dropdown.active .dropdown {
        display: block; }
      header nav.mobile .dropdown.active .depth1 > li > a {
        color: rgba(255, 255, 255, 0.8); }
    header nav.mobile .depth1 a {
      display: block;
      height: auto;
      padding: 0;
      font-size: 16px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.5); }
    header nav.mobile .dropdown {
      display: none; }
    header nav.mobile .dropdown a {
      padding-left: 20px; }
  header nav.web {
    float: right;
    padding: 15px 0;
    /*action*/ }
    header nav.web .depth1 > li {
      float: left;
      position: relative;
      margin: 0 10px; }
    header nav.web .depth1 > li:hover > a {
      color: #ff7905; }
    header nav.web .depth1 > li > a {
      display: block;
      height: 30px;
      padding: 0 0.5rem;
      font-size: 1rem;
      color: #ffffff;
      line-height: 30px; }
    header nav.web .dropdown {
      position: absolute;
      left: 0;
      width: 160px;
      padding: 10px;
      z-index: 1;
      background-color: #222;
      border-radius: 3px;
      color: #fff;
      transition: opacity .4s ease, top .4s ease; }
      header nav.web .dropdown:after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 24px;
        border: 10px solid transparent;
        border-bottom-color: #222; }
      header nav.web .dropdown li a {
        display: block;
        padding: 5px 0;
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 0.9285rem; }
      header nav.web .dropdown li:last-child a {
        margin-bottom: 0; }
      header nav.web .dropdown li:hover a {
        color: #fff;
        font-weight: 900; }
    header nav.web .dropdown {
      visibility: hidden;
      top: 55px;
      opacity: 0;
      z-index: -1; }
    header nav.web .dropdown.active {
      visibility: visible;
      top: 45px;
      opacity: 1;
      z-index: 999; }
  header nav.web {
    display: block; }
  header nav.mobile {
    display: none; }
  header .gnb {
    float: right;
    padding: 15px 0; }
    header .gnb ul li {
      float: left;
      min-width: 80px;
      height: 30px;
      margin-left: 10px;
      border: 0;
      background-color: #fff;
      line-height: 30px;
      text-align: center; }
      header .gnb ul li a {
        display: block;
        font-size: 0.8572rem;
        color: #222; }
      header .gnb ul li select {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #326bff;
        color: #222;
        font-size: 0.8572rem; }

/*----------------------------------*/
/*              footer              */
/*----------------------------------*/
footer {
  min-width: 1400px;
  padding: 50px 10px;
  background-color: #222;
  color: #ffffff;
  border-top: 1px solid #d5d6dc; }
  footer.full .inner {
    width: 100%; }
  footer .logo {
    width: 180px;
    margin-right: 20px; }
  footer .logo img {
    width: 100%; }
  footer .aboutUs p {
    line-height: 25px; }
  footer .aboutUs span {
    position: relative;
    padding-right: 10px;
    margin-right: 10px; }
  footer .aboutUs span:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #ffffff; }
  footer .aboutUs span:last-child:after {
    width: 0; }
  footer .nav {
    width: 600px;
    display: table;
    table-layout: fixed; }
    footer .nav dl {
      display: table-cell; }
    footer .nav dt,
    footer .nav dd a {
      font-size: 1rem;
      line-height: 25px; }
    footer .nav dt {
      color: #ff7905;
      margin-bottom: 5px; }
    footer .nav dd a {
      color: #ffffff; }

#tradePage {
  min-width: 1880px;
  width: 100% !important; }

#home {
  min-width: 1880px;
  width: 100% !important; }

section:not(#tradePage),
.home-inner {
  width: 1400px;
  margin: 0 auto; }

section {
  padding-left: 445px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  transition: all .4s ease; }
  section article {
    float: left;
    padding: 5px; }
    section article > .arti-inner {
      background-color: #ffffff;
      color: #7D7D7D;
      border: 1px solid #d5d6dc; }
      section article > .arti-inner > .arti-title {
        height: 42px;
        line-height: 42px;
        padding: 0 14px;
        margin: -1px -1px 0 -1px;
        background-color: #EFF2F7;
        color: #222222;
        border: 1px solid #d5d6dc; }

/*----------------------------------*/
/* 회원가입, 로그인, 2차인증 로그인 */
/*----------------------------------*/
#login {
  height: 85vh;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0; }
  #login h2 {
    padding-bottom: 2rem;
    font-size: 24px;
    color: #222222; }
  #login .login-box {
    width: 420px;
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: #fff;
    border: 1px solid #d5d6dc; }
  #login .input-box {
    position: relative;
    margin-bottom: 1.5rem;
    border-top: 0;
    border-right: 0;
    border-left: 0; }
    #login .input-box dt {
      flex: none;
      width: 100px;
      padding: 4px 8px;
      text-align: left;
      line-height: 28px;
      color: #222222; }
    #login .input-box dd {
      width: 100%; }
    #login .input-box input {
      text-align: left !important; }
    #login .input-box .caution {
      position: absolute;
      right: 0;
      top: 100%;
      left: 0;
      padding: 0.25rem 0;
      font-size: 0.78571rem;
      letter-spacing: -0.5px;
      text-align: justify;
      line-height: 1.4; }
  #login .btn-wrap {
    margin: 1rem 0; }
  #login .btns a {
    display: inline-block;
    position: relative;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #222222;
    font-weight: 700; }
    #login .btns a:not(:last-child):after {
      content: "";
      position: absolute;
      right: -1px;
      top: 2px;
      bottom: 2px;
      width: 1px;
      background-color: #999; }
  #login .detail-view {
    line-height: 2rem;
    font-size: 0.78571rem;
    cursor: pointer; }

/*----------------------------------*/
/*   개인정보 처리방침, 이용안내    */
/*----------------------------------*/
#terms_of_service {
  padding-left: 5px; }
  #terms_of_service h2.title {
    padding: 5rem 0 4rem;
    text-align: center;
    font-size: 2.2rem;
    color: #326bff; }

/*----------------------------------*/
/*                메인              */
/*----------------------------------*/
#home {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: #fff;
  color: #7D7D7D; }

#topBanner {
  overflow: hidden;
  height: 400px;
  background-color: #ebecf1; }
  #topBanner a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ddd; }
  #topBanner img {
    width: 100%; }

#homeContents {
  padding: 60px 0; }

#eventBanner {
  background-color: #03232e; }
  #eventBanner ul {
    padding: 1rem 0;
    margin: 0 -0.5rem; }
  #eventBanner li {
    float: left;
    width: 33.33%;
    height: 80px;
    padding: 0 0.5rem; }
  #eventBanner li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ebecf1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  #eventBanner ul li:nth-child(1) a {
    background-image: url(../images/main/eventBanner_01.jpg); }
  #eventBanner ul li:nth-child(2) a {
    background-image: url(../images/main/eventBanner_02.jpg); }
  #eventBanner ul li:nth-child(3) a {
    background-image: url(../images/main/eventBanner_03.jpg); }

#board_list {
  float: left;
  width: 33.33%; }
  #board_list dl:not(:first-child) {
    margin-top: 60px; }
  #board_list dt {
    height: 50px;
    padding-left: 2rem;
    color: #222222;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px; }
    #board_list dt img {
      width: 100%;
      height: 100%;
      margin-left: -1rem; }
  #board_list dd {
    position: relative;
    padding: 0 1rem 0 2em; }
    #board_list dd:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 5px;
      height: 1px;
      margin-left: -2px;
      background-color: #111; }
    #board_list dd:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 1rem;
      width: 1px;
      height: 5px;
      margin-top: -2px;
      background-color: #111; }
    #board_list dd a {
      overflow: hidden;
      display: block;
      height: 36px;
      background-color: transparent;
      color: #222222;
      font-size: 0.85714rem;
      line-height: 36px;
      white-space: nowrap;
      text-overflow: ellipsis; }

#coinMarketPrice {
  float: right;
  width: 66.66%; }
  #coinMarketPrice .tit {
    float: left;
    height: 50px;
    color: #222222;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px; }
  #coinMarketPrice .tabs {
    float: right;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0;
    border: 1px solid #326bff; }
  #coinMarketPrice .tab-title {
    display: block;
    float: left;
    width: auto;
    padding: 5px 10px;
    border-right: 1px solid #326bff;
    color: #222222;
    font-size: 1rem; }
  #coinMarketPrice .tab-title:after {
    height: 0px; }
  #coinMarketPrice .tabs .tab-title:last-child {
    border-right: none; }
  #coinMarketPrice .tab-title.active {
    background-color: #326bff;
    color: #fff; }
  #coinMarketPrice .table-wrap table:first-child thead th,
  #coinMarketPrice .table-wrap table:first-child thead td {
    border-top: 1px solid #d5d6dc; }
  #coinMarketPrice caption,
  #coinMarketPrice summary {
    display: none; }
  #coinMarketPrice thead {
    z-index: 1; }
  #coinMarketPrice th,
  #coinMarketPrice td {
    padding: 0 4px; }
  #coinMarketPrice thead th,
  #coinMarketPrice thead td {
    position: relative;
    background-color: #F9FAFC;
    color: #7D7D7D;
    border-bottom: 1px solid #d5d6dc;
    height: 36px;
    font-size: 0.78571rem;
    cursor: pointer; }
  #coinMarketPrice thead th.sortTh {
    padding-right: 19px;
    cursor: pointer; }
    #coinMarketPrice thead th.sortTh:before, #coinMarketPrice thead th.sortTh:after {
      content: "";
      display: block;
      position: absolute;
      right: 4px;
      border: 5px solid transparent;
      opacity: 0.5; }
    #coinMarketPrice thead th.sortTh:before {
      top: 6px;
      border-bottom-color: #7D7D7D; }
    #coinMarketPrice thead th.sortTh:after {
      bottom: 6px;
      border-top-color: #7D7D7D; }
    #coinMarketPrice thead th.sortTh.up:before {
      border-bottom-color: #326bff;
      opacity: 1; }
    #coinMarketPrice thead th.sortTh.down:after {
      border-top-color: #326bff;
      opacity: 1; }
  #coinMarketPrice thead select {
    height: calc(100% - 8px);
    border: 1px solid #d5d6dc;
    background-color: #F9FAFC;
    color: #7D7D7D;
    font-size: 0.78571rem;
    cursor: pointer; }
  #coinMarketPrice tbody td {
    height: 41px;
    border-bottom: 1px solid #d5d6dc;
    font-size: 0.85714rem;
    color: #222222; }
    #coinMarketPrice tbody td .sortData {
      display: none; }
    #coinMarketPrice tbody td input.dealID {
      display: block;
      width: 100%;
      height: calc(100% - 8px);
      padding: 0 4px;
      border: none; }
    #coinMarketPrice tbody td .date {
      font-size: 0.85714rem; }
  #coinMarketPrice thead tr th:first-child,
  #coinMarketPrice thead tr td:first-child,
  #coinMarketPrice tbody tr td:first-child {
    padding-left: 14px; }
  #coinMarketPrice thead tr th:last-child,
  #coinMarketPrice thead tr td:last-child,
  #coinMarketPrice tbody tr td:last-child {
    padding-right: 14px; }
  #coinMarketPrice tbody tr:last-child:not(:nth-child(-n+10)) td {
    border-bottom: none; }

#appBanner {
  padding: 60px 0;
  background-image: url(../images/main/network-3357642_1920.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  #appBanner .tit {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff; }
  #appBanner .tit small {
    display: block;
    opacity: 0.6; }
  #appBanner .btn-box button {
    display: inline-block;
    margin: 0 0.5rem; }

#contactInfo {
  height: 300px;
  padding: 60px 0; }
  #contactInfo .inner {
    display: flex; }
  #contactInfo .tit {
    height: 50px;
    color: #222222;
    font-weight: bold;
    line-height: 50px;
    font-size: 24px; }
  #contactInfo .contact-item {
    position: relative;
    width: 100%;
    padding: 0 1rem; }
  #contactInfo .contact-item:not(:last-child):after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #222; }
  #contactInfo .contact-item.cs {
    background-image: url(../icon/020-telemarketer.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: bottom right 1rem; }

/*----------------------------------*/
/*               거래소             */
/*----------------------------------*/
#tv_chart_container {
  width: calc(100% - 440px);
  position: relative;
  padding-top: 42.7%; }
  #tv_chart_container .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }

#askingprice {
  float: right;
  width: 440px;
  position: relative;
  padding-top: 42.7%; }
  #askingprice .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #askingprice tr td:not(:last-child) {
    border-right: 1px solid #d5d6dc; }
  #askingprice thead tr th:first-child,
  #askingprice thead tr td:first-child,
  #askingprice tbody tr td:first-child {
    padding-left: 4px; }
  #askingprice thead tr th:last-child,
  #askingprice thead tr td:last-child,
  #askingprice tbody tr td:last-child {
    padding-right: 4px; }
  #askingprice .hogaTable tbody tr:last-child td {
    /*border-bottom:1px solid $border-color;*/
    border-bottom: none; }
  #askingprice .hogaTable tbody tr:first-child td {
    height: 41px;
    padding-top: 0; }
  #askingprice .hogaTable a {
    display: block;
    position: relative;
    height: 100%;
    padding: 9px 0;
    cursor: context-menu; }
  #askingprice .hogaTable .SellTd {
    background-color: rgba(255, 121, 5, 0.1); }
  #askingprice .hogaTable .BuyTd {
    background-color: rgba(50, 107, 255, 0.1); }
  #askingprice .hogaTable .nowPriceWrap {
    line-height: 26px; }
  #askingprice .hogaTable .gauge {
    display: inline-block;
    height: 100%; }
    #askingprice .hogaTable .gauge.sell {
      float: right;
      margin-right: -4px;
      background-color: rgba(255, 121, 5, 0.1); }
    #askingprice .hogaTable .gauge.buy {
      float: left;
      margin-left: -4px;
      background-color: rgba(50, 107, 255, 0.1); }
  #askingprice .hogaTable .coin-qty {
    position: absolute;
    color: #222222;
    line-height: 26px; }
    #askingprice .hogaTable .coin-qty.sell {
      right: 0;
      text-align: right; }
    #askingprice .hogaTable .coin-qty.buy {
      left: 0;
      text-align: left; }
  #askingprice .hogaTable .contractList,
  #askingprice .hogaTable .hogasub {
    padding: 0;
    font-size: 0.78571rem;
    color: #7D7D7D; }
    #askingprice .hogaTable .contractList small,
    #askingprice .hogaTable .hogasub small {
      margin-left: 2px;
      font-size: 0.7142rem; }
  #askingprice .hogaTable .hogasub {
    vertical-align: bottom; }
    #askingprice .hogaTable .hogasub * {
      box-sizing: border-box; }
    #askingprice .hogaTable .hogasub dl {
      border-bottom: 1px solid #d5d6dc; }
    #askingprice .hogaTable .hogasub dt {
      float: left;
      height: 43px;
      padding-left: 10px; }
    #askingprice .hogaTable .hogasub dt,
    #askingprice .hogaTable .hogasub dd {
      line-height: 41px; }
    #askingprice .hogaTable .hogasub dd {
      float: right;
      padding-right: 10px;
      text-align: right; }
    #askingprice .hogaTable .hogasub dl:last-child {
      border-bottom: none; }
    #askingprice .hogaTable .hogasub dd div {
      height: 44px;
      line-height: 44px; }
    #askingprice .hogaTable .hogasub dd div:last-child {
      height: 43px;
      line-height: 43px; }
  #askingprice .hogaTable .contractList {
    border-bottom: 0;
    vertical-align: top; }
    #askingprice .hogaTable .contractList .top {
      border-bottom: 1px solid #d5d6dc; }
    #askingprice .hogaTable .contractList .top:nth-child(2) {
      background-color: #F9FAFC;
      color: #7D7D7D; }
    #askingprice .hogaTable .contractList dt,
    #askingprice .hogaTable .contractList dt + dd {
      height: 43px;
      line-height: 43px; }
    #askingprice .hogaTable .contractList dd {
      height: 22px;
      line-height: 22px; }
    #askingprice .hogaTable .contractList dl dt:first-child {
      float: left;
      padding-left: 10px; }
    #askingprice .hogaTable .contractList dl dt:last-child {
      float: right;
      padding-right: 10px; }
    #askingprice .hogaTable .contractList dl dd:first-child {
      float: left;
      padding-left: 10px; }
    #askingprice .hogaTable .contractList dl dd:last-child {
      float: right;
      padding-right: 10px; }
  #askingprice .SellQtySum {
    position: absolute;
    bottom: 0; }
    #askingprice .SellQtySum caption {
      display: none; }
    #askingprice .SellQtySum td {
      height: 42px;
      padding: 0 4px;
      border-top: 1px solid #d5d6dc;
      border-bottom: none;
      font-size: 0.85714rem;
      color: #222222; }
  #askingprice .contractList li {
    width: 100%; }
  #askingprice .contractListTable {
    width: 100%; }
  #askingprice .coinNow .txt {
    float: left; }
  #askingprice .coinNow .txt,
  #askingprice .contractListTable .txt {
    padding: 4px 0; }

#tradeBuySell {
  float: right;
  width: 440px;
  position: relative;
  padding-top: 25%; }
  #tradeBuySell .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #tradeBuySell .tab-title.buy-color.active {
    color: #ff7905; }
  #tradeBuySell .tab-title.buy-color.active:after {
    background-color: #ff7905; }
  #tradeBuySell .tab-title.sell-color.active {
    color: #326bff; }
  #tradeBuySell .tab-title.sell-color.active:after {
    background-color: #326bff; }
  #tradeBuySell .tab-con {
    padding: 10px; }
  #tradeBuySell .input-box select {
    width: 101px;
    border-right: 0;
    border-left: 1px solid #d5d6dc; }
  #tradeBuySell .input-box button {
    width: 48px; }
  #tradeBuySell li {
    margin-bottom: 6px;
    line-height: 36px; }
    #tradeBuySell li #possesion_coin,
    #tradeBuySell li #priceCan {
      font-size: 1.285rem; }
    #tradeBuySell li .float-left {
      width: 95px;
      font-size: 0.9285rem; }
      #tradeBuySell li .float-left .small {
        font-size: 0.78571rem; }
    #tradeBuySell li .float-right {
      width: calc(100% - 100px);
      text-align: right;
      font-size: 1rem; }
  #tradeBuySell p {
    font-size: 0.85714rem;
    text-align: right;
    color: #222222;
    line-height: 1.6; }
  #tradeBuySell .tab-con.buy-color .foot .btn-block {
    background-color: #ff7905;
    color: #fff; }
  #tradeBuySell .tab-con.sell-color .foot .btn-block {
    background-color: #326bff;
    color: #fff; }
  #tradeBuySell .input-box * {
    font-size: 1rem; }

#simple_notice {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 440px; }
  #simple_notice .arti-title {
    position: relative;
    margin-bottom: -1px; }
  #simple_notice a {
    color: #222222; }
  #simple_notice .close {
    position: absolute;
    top: 50%;
    right: 19px;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    background-color: #EFF2F7;
    color: #222222;
    text-transform: uppercase;
    background-image: url("../images/icon/cancel_b.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }

#simple_notice {
  display: none; }

#simple_notice.active {
  display: block; }

#simple_notice + #coinList,
#simple_notice.active + #coinList.move {
  top: 5px; }

#simple_notice.active + #coinList {
  top: 57px;
  height: calc(100vh - 142px); }

#simple_notice.active + #coinList.extend {
  height: calc(100vh - 62px); }

#coinList.extend {
  height: calc(100vh - 10px); }

#coinList {
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 5px;
  width: 440px;
  height: calc(100vh - 90px);
  transition: height .4s ease; }
  #coinList .arti-inner {
    height: 100%; }
  #coinList .coin-search {
    height: 42px; }
    #coinList .coin-search input[type=text] {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 14px;
      background-color: transparent;
      border: none;
      line-height: 42px; }
  #coinList .tab-title.myAmount {
    border-left: 1px solid #d5d6dc; }
  #coinList .tab-con {
    height: calc(100% - 83px); }
  #coinList thead th {
    position: relative; }
  #coinList thead th.sortTh {
    padding-right: 19px;
    cursor: pointer; }
    #coinList thead th.sortTh:before, #coinList thead th.sortTh:after {
      content: "";
      display: block;
      position: absolute;
      right: 4px;
      border: 5px solid transparent;
      opacity: 0.5; }
    #coinList thead th.sortTh:before {
      top: 6px;
      border-bottom-color: #7D7D7D; }
    #coinList thead th.sortTh:after {
      bottom: 6px;
      border-top-color: #7D7D7D; }
    #coinList thead th.sortTh.up:before {
      border-bottom-color: #326bff;
      opacity: 1; }
    #coinList thead th.sortTh.down:after {
      border-top-color: #326bff;
      opacity: 1; }
  #coinList .bar {
    overflow: hidden;
    position: relative;
    width: 7px;
    height: 27px;
    margin: 0 auto; }
  #coinList .bar .line,
  #coinList .bar .box {
    position: absolute;
    top: 0;
    display: block;
    overflow: hidden;
    text-indent: -999em; }
  #coinList .bar .line {
    left: 3px;
    width: 1px; }
  #coinList .bar .box {
    left: 0;
    width: 7px; }
  #coinList .bar.up .line,
  #coinList .bar.up .box {
    background-color: #ff7905; }
  #coinList .bar down .line,
  #coinList .bar down .box {
    background-color: #326bff; }
  #coinList small {
    margin-left: 0; }

#conclusion-list {
  float: right;
  width: calc(100% - 440px);
  position: relative;
  padding-top: 25%; }
  #conclusion-list .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #conclusion-list button {
    height: 36px;
    background-color: #326bff;
    color: #fff; }

/*investments 시작*/
#totalAmount {
  width: 100%;
  position: relative;
  padding-top: 12vh; }
  #totalAmount .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #totalAmount .arti-title {
    height: calc(100% + 2px);
    padding: 1rem 0;
    background-color: #ffffff;
    color: #222222; }
    #totalAmount .arti-title div {
      float: left;
      width: 33.33%;
      height: 50%;
      padding: 0 14px; }
      #totalAmount .arti-title div .float-left {
        letter-spacing: -1px; }
      #totalAmount .arti-title div .float-right {
        font-size: 1.5rem;
        letter-spacing: -1px; }
  #totalAmount .tooltip {
    font-size: 0.78571rem; }
    #totalAmount .tooltip:after {
      left: 0;
      width: 300px; }

#contractList {
  width: 100%;
  position: relative;
  padding-top: calc(88vh - 100px); }
  #contractList .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #contractList td {
    font-size: 0.9285rem; }
  #contractList .img-cover {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px; }
    #contractList .img-cover img {
      width: 100%;
      height: 100%;
      border: none; }
  #contractList #tableCoinList a {
    position: relative;
    padding-left: 25px;
    color: #222222; }
  #contractList table tr td small:not(.font-dark) {
    color: #999999; }
  #contractList table tr td small {
    display: block; }
  #contractList button {
    height: 36px; }

/*----------------------------------*/
/*               입출금             */
/*----------------------------------*/
#inOutList {
  width: 70%;
  position: relative;
  padding-top: calc(100vh - 95px);
  /*입금*/
  /*action*/ }
  #inOutList .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #inOutList .arti-inner {
    right: -1px; }
  #inOutList .tab-con {
    height: calc(100% - 84px); }
  #inOutList .tab-con .scroll-div {
    padding-right: 5%;
    padding-left: 5%; }
  #inOutList .tab-con .inner > div {
    padding: 10px; }
  #inOutList .tab-con .inner > div:not(:last-child) {
    border-bottom: 1px solid #ebecef; }
  #inOutList .inOutTitle {
    padding: 45px 0 44px !important;
    color: #222222;
    text-align: center; }
  #inOutList .input-box button {
    width: 120px; }
  #inOutList .tab-con div.inContens {
    padding: 45px 0;
    border-bottom: none !important; }
  #inOutList .tab-con div.inContens .inOutTitle {
    padding-top: 0px !important; }
  #inOutList .tab-con .inContens {
    display: none; }
  #inOutList .tab-con .inContens.active {
    display: block; }

.deposit_caution div {
  margin-bottom: 10px; }

.deposit_caution .sum-wrap {
  margin-bottom: 10px; }

.deposit_caution .assent label {
  padding-top: 10px;
  padding-bottom: 5px; }

.deposit_caution .assent + button {
  margin-top: 10px; }

.deposit_caution .deposit_guide {
  padding: 20px;
  border-top: 1px solid #d5d6dc;
  font-size: 0.85714rem;
  color: #222222;
  background-color: rgba(0, 0, 0, 0.04); }
  .deposit_caution .deposit_guide.full {
    height: 100%; }
  .deposit_caution .deposit_guide li {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 1.4; }
  .deposit_caution .deposit_guide li:first-child {
    margin-top: 0; }
  .deposit_caution .deposit_guide li:after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #222222; }
  .deposit_caution .deposit_guide dt {
    line-height: 1.4; }
  .deposit_caution .deposit_guide dt:not(:first-child) {
    padding-top: 10px; }
  .deposit_caution .deposit_guide dd {
    margin-top: 10px;
    line-height: 1.4; }
  .deposit_caution .deposit_guide button {
    margin-top: 20px; }

.deposit_caution .bank_info {
  margin-right: auto;
  margin-left: auto; }
  .deposit_caution .bank_info dl:not(:last-child) {
    margin-bottom: 20px; }
  .deposit_caution .bank_info dt,
  .deposit_caution .bank_info dd {
    box-sizing: border-box;
    line-height: 26px; }
  .deposit_caution .bank_info dt {
    width: 25%;
    font-size: 0.9285rem;
    color: #666666; }
    .deposit_caution .bank_info dt:not(.float-right) {
      float: left; }
  .deposit_caution .bank_info dd {
    width: 70%;
    color: #222222;
    font-size: 1rem; }
    .deposit_caution .bank_info dd.block {
      width: 100%; }
    .deposit_caution .bank_info dd:not(.float-left) {
      float: right;
      text-align: right; }
  .deposit_caution .bank_info .input-box button {
    width: 120px; }
  .deposit_caution .bank_info .deposit_name .input-box {
    border: none; }
  .deposit_caution .bank_info .deposit_name dt {
    float: inherit;
    width: 100%; }
  .deposit_caution .bank_info .deposit_name dd {
    float: inherit;
    width: 100%; }
  .deposit_caution .bank_info .deposit_name dd input {
    height: 60px;
    background-color: #326bff;
    color: #fff;
    font-size: 2rem;
    text-align: center; }
  .deposit_caution .bank_info .deposit_name dd button {
    margin: 0;
    border: 1px solid #326bff;
    color: #326bff; }
  .deposit_caution .bank_info .deposit_name dd button:active {
    top: 0;
    left: 0; }
  .deposit_caution .bank_info .deposit_name_ex {
    padding: 10px 0;
    font-size: 0.85714rem; }

#ulAddr .inOutTitle {
  border-bottom: 1px solid #ebecef; }

#ulAddr dl:not(:first-child) {
  margin-top: 30px; }

#ulAddr dt {
  margin-bottom: 10px;
  font-size: 0.9285rem; }

#ulAddr .qr {
  display: inline-block;
  width: 250px;
  hegiht: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d5d6dc; }
  #ulAddr .qr img {
    width: 100%;
    height: 100%; }

#CoinOut {
  /*action*/ }
  #CoinOut .inoutAomount {
    font-size: 1rem; }
    #CoinOut .inoutAomount dl:first-child dd {
      font-size: 1.285rem; }
    #CoinOut .inoutAomount dt, #CoinOut .inoutAomount dd {
      font-size: 1rem; }
  #CoinOut div dl:not(:last-child) {
    margin-bottom: 5px; }
  #CoinOut dt,
  #CoinOut dd {
    box-sizing: border-box;
    line-height: 26px; }
  #CoinOut dt {
    width: 25%;
    font-size: 0.9285rem;
    color: #666666; }
    #CoinOut dt:not(.float-right) {
      float: left; }
  #CoinOut dd {
    width: 70%;
    color: #222222;
    font-size: 1rem; }
    #CoinOut dd.block {
      width: 100%; }
    #CoinOut dd:not(.float-left) {
      float: right;
      text-align: right; }
  #CoinOut small {
    color: #999999; }
  #CoinOut #divSecondaryAuthentication dt,
  #CoinOut #divOTP dt,
  #CoinOut #div_out_etc dt,
  #CoinOut #div_out_qty dt,
  #CoinOut #div_out_add dt {
    line-height: 36px; }
  #CoinOut #totalExchangeCan {
    color: #326bff; }
  #CoinOut .krw_out_info,
  #CoinOut .coin_out_info {
    display: none; }
  #CoinOut .krw_out_info.active,
  #CoinOut .coin_out_info.active {
    display: block; }

#tableInOutCList {
  line-height: 1.4; }
  #tableInOutCList tbody tr:first-child td {
    height: 112px; }
  #tableInOutCList tbody tr td {
    height: 76px;
    border-color: #ebecef; }
  #tableInOutCList tbody tr td > div:not(:last-child) {
    margin-bottom: 5px; }
  #tableInOutCList .up,
  #tableInOutCList .down {
    height: 36px;
    border: 1px solid #d5d6dc;
    line-height: 36px; }
  #tableInOutCList .up {
    border-color: #ff7905;
    color: #ff7905; }
  #tableInOutCList .down {
    border-color: #326bff;
    color: #326bff; }
  #tableInOutCList .trader .float-left {
    width: 60px;
    line-height: 36px; }
  #tableInOutCList .trader .float-right {
    width: calc(100% - 65px); }
  #tableInOutCList .trader input {
    text-align: left; }
  #tableInOutCList .sum,
  #tableInOutCList .completion {
    height: 24px;
    line-height: 24px;
    font-size: 0.85714rem; }
  #tableInOutCList small {
    color: #999999; }
  #tableInOutCList .date {
    text-align: right;
    font-size: 0.78571rem; }

#myAccount {
  width: 30%;
  position: relative;
  padding-top: calc(100vh - 95px); }
  #myAccount .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #myAccount tbody tr:first-child td {
    padding-top: 76px;
    height: 146px; }
  #myAccount tbody tr td {
    position: relative;
    height: 70px;
    font-size: 1rem; }
  #myAccount tbody tr td > div:not(:last-child) {
    margin: 2px 0; }
  #myAccount .arti-inner {
    left: 0; }
  #myAccount .arti-title .float-right {
    height: 100%; }
  #myAccount .scroll-custom {
    width: 100%; }
  #myAccount .coin-search {
    height: 40px; }
    #myAccount .coin-search input[type=text] {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 14px;
      background-color: transparent;
      border: none;
      line-height: 42px; }
  #myAccount .check-custom {
    height: 37px; }
  #myAccount .img-cover {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px; }
    #myAccount .img-cover img {
      width: 100%;
      height: 100%;
      border: none; }
  #myAccount .coin_name {
    position: relative;
    padding-left: 25px; }
  #myAccount .span_inout_can,
  #myAccount .span_inout_not {
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 10px;
    height: 10px;
    margin-top: -5px; }
  #myAccount .span_inout_can:after,
  #myAccount .span_inout_not:after {
    min-width: 70px; }
  #myAccount .span_inout_can {
    background-color: #326bff; }
  #myAccount .span_inout_not {
    background-color: #ff7905; }
  #myAccount [data-tooltip-text]:after {
    opacity: 0;
    right: -9999px;
    top: 90%; }
  #myAccount [data-tooltip-text]:hover:after {
    top: 130%;
    right: 0;
    opacity: 1; }

/*----------------------------------*/
/*             마이페이지           */
/*----------------------------------*/
#mypage {
  /*회원탈퇴*/ }
  #mypage dl {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebecef; }
  #mypage dl:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  #mypage dt {
    float: left;
    width: 140px;
    height: 36px;
    margin-top: 22px;
    font-size: 0.9285rem;
    line-height: 36px;
    color: #222222; }
    #mypage dt.double-row {
      line-height: 1.4; }
  #mypage dd {
    float: right;
    width: calc(100% - 145px);
    margin-bottom: 10px; }
    #mypage dd .tit {
      font-size: 0.78571rem;
      height: 22px;
      line-height: 26px; }
    #mypage dd .con {
      border: 1px solid #d5d6dc;
      font-size: 13px;
      height: 36px;
      padding: 4px 8px;
      line-height: 28px; }
    #mypage dd .info dd {
      width: calc((100% - 145px)/2); }
    #mypage dd .info .con {
      margin-right: 10px; }
    #mypage dd .info dd:nth-child(2n) .con {
      margin-right: 0; }
    #mypage dd .receptionSet dd:nth-child(2),
    #mypage dd .receptionSet dd:nth-child(3) {
      width: calc((100% - 145px)/2); }
    #mypage dd .receptionSet .con {
      margin-right: 10px;
      padding-left: 0;
      border: none; }
    #mypage dd .receptionSet .caution,
    #mypage dd .receptionSet button {
      margin-top: 10px; }
    #mypage dd .con.input-box {
      padding: 0; }
    #mypage dd .con.input-box button {
      width: 140px; }
    #mypage dd dl dd:last-child {
      margin-bottom: 0; }
    #mypage dd .con.input-box.double {
      height: 46px; }
    #mypage dd .con.input-box .double-row {
      height: 44px;
      padding: 4px 8px;
      text-align: justify;
      line-height: 18px; }
    #mypage dd small {
      margin-left: 0; }
  #mypage .btn-box {
    margin-top: 1rem; }
  #mypage #memSecession .scroll-div > .inner {
    padding: 40px 5%; }
  #mypage #memSecession .arti-title {
    height: 12vh !important;
    padding: 14px !important;
    background-color: #EFF2F7;
    color: #222222;
    border: 1px solid #d5d6dc;
    line-height: 42px; }
    #mypage #memSecession .arti-title div {
      float: left;
      width: 33.33%;
      height: 50%;
      padding: 0 5px; }
      #mypage #memSecession .arti-title div .float-right {
        font-size: 1.5rem; }
  #mypage #memSecession .tooltip {
    font-size: 0.78571rem; }
    #mypage #memSecession .tooltip:after {
      left: 0;
      width: 300px; }
  #mypage #memSecession dt h5 {
    padding: 1rem 0;
    font-size: 1.15rem; }
  #mypage #memSecession dt, #mypage #memSecession dd {
    float: inherit;
    width: 100%;
    height: auto; }
  #mypage #memSecession button {
    display: inline-block; }
  #mypage #memSecession table {
    border-collapse: separate;
    border-spacing: 2px; }
    #mypage #memSecession table th {
      height: 36px;
      text-align: left; }
    #mypage #memSecession table td {
      padding: 1rem 0; }
    #mypage #memSecession table td p:first-child {
      margin-bottom: 5px; }
    #mypage #memSecession table .way,
    #mypage #memSecession table .way01,
    #mypage #memSecession table .way02 {
      padding: 0 1rem; }
    #mypage #memSecession table .way01 {
      background-color: white; }
    #mypage #memSecession table .way02 {
      background-color: #fff4eb; }

.mypage-menu {
  width: 100%;
  position: relative;
  padding-top: 135px; }
  .mypage-menu .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  .mypage-menu .arti-inner {
    bottom: 0; }

[data-name=mypage] {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: calc(100vh - 235px); }
  [data-name=mypage] .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  [data-name=mypage] .arti-inner {
    top: 0;
    border-top: 0; }

.membershipInfo .scroll-div .inner,
#memCerti .scroll-div .inner {
  padding: 40px 5%; }

.sub-menu {
  padding: 10px 5% 14px; }
  .sub-menu .sub-title {
    font-size: 2rem;
    height: 74px;
    line-height: 74px; }
  .sub-menu .tabs {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0;
    border: 1px solid #326bff; }
  .sub-menu .tab-title {
    display: block;
    float: left;
    width: auto;
    padding: 5px 10px;
    border-right: 1px solid #326bff;
    color: #222222;
    font-size: 1rem; }
  .sub-menu .tab-title:after {
    height: 0px; }
  .sub-menu .tabs .tab-title:last-child {
    border-right: none; }
  .sub-menu .tab-title.active {
    background-color: #326bff;
    color: #fff; }

.level {
  text-align: center;
  margin-bottom: 70px; }
  .level .mem {
    display: inline-block;
    width: 120px;
    height: 100px;
    padding: 15px 20px;
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 3px; }
  .level .mem:last-child {
    margin-right: 0; }
  .level .mem.on {
    background-color: #ff7905;
    color: #fff;
    border-color: transparent; }
  .level .mem.off {
    /*
    @include thema(transparent,$point-color);
    border-color:$point-color;
    */
    background-color: transparent;
    color: #222222;
    border-color: #ff7905; }
  .level .mem .lv-name {
    margin-top: 15px; }
  .level .mem .lv {
    margin-top: 10px;
    font-size: 0.78571rem; }

.password-change dt {
  margin-top: 0 !important; }

.password-change dd {
  border: none; }

.password-change dd button {
  width: 100%;
  height: 36px;
  padding: 4px 8px;
  margin-right: 20px; }

.password-change dd button:last-child {
  margin-right: 0; }

.google-otp dt {
  margin-top: 0 !important; }

#otpOnOff .lightbox-contents dt,
#otp .lightbox-contents dt {
  margin-top: 0; }

#otpOnOff .lightbox-contents .light-body,
#otp .lightbox-contents .light-body {
  padding-bottom: 0;
  border-bottom: 0; }

#otpOnOff .lightbox-contents input,
#otp .lightbox-contents input {
  text-align: left; }

#otpOnOff .lightbox-contents .desc,
#otp .lightbox-contents .desc {
  font-size: 0.9285rem; }

#otp .lightbox-contents .light-body {
  padding-top: 2rem; }

#otp .lightbox-contents .otp-img img {
  width: 80px;
  height: auto;
  opacity: 0.6; }

#otp .lightbox-contents .store-img {
  padding-top: 1rem; }

#otp .lightbox-contents .store-img img {
  margin-right: 1rem; }

#PassWord .lightbox-contents dl,
#secPassWord .lightbox-contents dl {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0; }

#PassWord .lightbox-contents dl dd,
#secPassWord .lightbox-contents dl dd {
  margin-bottom: 1rem; }

#PassWord .lightbox-contents dl:last-child dd,
#secPassWord .lightbox-contents dl:last-child dd {
  margin-bottom: 0; }

#PassWord .lightbox-contents dt,
#secPassWord .lightbox-contents dt {
  margin-top: 0; }

#PassWord .lightbox-contents input,
#secPassWord .lightbox-contents input {
  text-align: left; }

#PassWord .lightbox-contents .input-box:not(:last-child),
#secPassWord .lightbox-contents .input-box:not(:last-child) {
  margin-bottom: 1rem; }

#secRemoveOtp .lightbox-contents .light-body {
  padding-bottom: 0;
  border-bottom: 0; }
  #secRemoveOtp .lightbox-contents .light-body .input-box:not(:last-child) {
    margin-bottom: 1rem; }
  #secRemoveOtp .lightbox-contents .light-body input {
    text-align: left; }

#BANK .lightbox-contents dt, #BANK .lightbox-contents dd {
  float: inherit;
  width: 100%; }

#BANK .lightbox-contents .info {
  display: inline-block;
  border-bottom: 1px solid #222222;
  background-color: rgba(50, 107, 255, 0.1);
  font-size: 1.1rem;
  color: #222222; }

#BANK .lightbox-contents .info .name {
  font-size: 1.285rem; }

#BANK .lightbox-contents .bank-trans {
  width: 300px;
  margin: 0 1.6rem;
  border: 1px solid #d5d6dc;
  border-radius: 3px; }
  #BANK .lightbox-contents .bank-trans .tit {
    height: auto;
    padding: 1rem 0.5rem 0.5rem;
    background-color: #326bff;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.1rem;
    line-height: 1; }
  #BANK .lightbox-contents .bank-trans .trans {
    padding: 1rem 0.5rem 0.5rem; }
    #BANK .lightbox-contents .bank-trans .trans spaan,
    #BANK .lightbox-contents .bank-trans .trans small {
      display: block; }
    #BANK .lightbox-contents .bank-trans .trans span {
      color: #222222; }

#BANK .lightbox-contents li {
  margin-bottom: 1rem;
  line-height: 1.6; }

#BANK .lightbox-contents li p {
  padding-left: 1.6rem; }

#BANK .lightbox-contents #verify_val {
  text-align: left; }

#kyc .light-body {
  padding: 0; }

/*----------------------------------*/
/*               게시판             */
/*----------------------------------*/
#Board .btn-box {
  margin-top: 1rem;
  margin-right: 1rem; }
  #Board .btn-box button {
    display: inline; }

#Board-list {
  width: 100%;
  position: relative;
  padding-top: calc(100vh - 95px); }
  #Board-list .arti-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  #Board-list .faq-list td {
    position: relative;
    padding-left: 3rem !important; }
  #Board-list .faq-list td:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    width: 1.5rem;
    background-image: url(../images/icon/question-mark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem; }
  #Board-list table {
    border-bottom: 1px solid #d5d6dc;
    /*hover active*/ }
    #Board-list table caption,
    #Board-list table summary {
      display: none; }
    #Board-list table thead {
      z-index: 1; }
    #Board-list table th,
    #Board-list table td {
      padding: 0 4px; }
    #Board-list table thead th,
    #Board-list table thead td {
      background-color: #F9FAFC;
      color: #7D7D7D;
      border-top: 1px solid #d5d6dc;
      border-bottom: 1px solid #d5d6dc;
      height: 36px;
      font-size: 0.78571rem;
      cursor: pointer; }
    #Board-list table thead select {
      height: calc(100% - 8px);
      border: 1px solid #d5d6dc;
      background-color: #F9FAFC;
      color: #7D7D7D;
      font-size: 0.78571rem;
      cursor: pointer; }
    #Board-list table tbody td {
      height: 41px;
      border-bottom: 1px solid #d5d6dc;
      font-size: 0.85714rem;
      color: #222222; }
      #Board-list table tbody td .sortData {
        display: none; }
      #Board-list table tbody td input.dealID {
        display: block;
        width: 100%;
        height: calc(100% - 8px);
        padding: 0 4px;
        border: none; }
      #Board-list table tbody td .date {
        font-size: 0.85714rem; }
    #Board-list table thead tr th:first-child,
    #Board-list table thead tr td:first-child,
    #Board-list table tbody tr td:first-child {
      padding-left: 14px; }
    #Board-list table thead tr th:last-child,
    #Board-list table thead tr td:last-child,
    #Board-list table tbody tr td:last-child {
      padding-right: 14px; }
    #Board-list table tbody tr:last-child:not(:nth-child(-n+10)) td {
      border-bottom: none; }
    #Board-list table tbody tr:hover th,
    #Board-list table tbody tr:hover td,
    #Board-list table tbody tr.active th,
    #Board-list table tbody tr.active td {
      background-color: rgba(0, 0, 0, 0.07);
      cursor: pointer; }
  #Board-list #bankFraud {
    display: flex;
    border: 1px solid #326bff; }
    #Board-list #bankFraud li {
      position: relative;
      width: 100%;
      padding: 5px 10px;
      border-right: 1px solid #326bff;
      color: #222222;
      font-size: 1rem;
      text-align: center; }
      #Board-list #bankFraud li:last-child {
        border-right: none; }
      #Board-list #bankFraud li:hover {
        cursor: pointer; }
      #Board-list #bankFraud li:hover:not(.active) {
        text-decoration: underline; }
      #Board-list #bankFraud li.active {
        background-color: #326bff;
        color: #fff; }
  #Board-list .scam_report .board-head .ti {
    padding: 5px 10px;
    color: #222222;
    font-size: 1rem; }
  #Board-list .scam_report .board-head select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #326bff;
    color: #222222;
    font-size: 1rem; }
  #Board-list .scam_report .board-body {
    padding: calc(2rem - 10px) 5% 2rem;
    text-align: left; }
    #Board-list .scam_report .board-body table {
      border-bottom: none; }
    #Board-list .scam_report .board-body tbody td {
      padding: 2rem 0 0;
      border-bottom: none; }
    #Board-list .scam_report .board-body tbody tr:first-child td {
      padding: 0; }
    #Board-list .scam_report .board-body .tit {
      height: 22px;
      font-size: 0.78571rem;
      line-height: 26px;
      color: #7D7D7D; }
    #Board-list .scam_report .board-body .input-box input {
      height: 36px;
      padding: 4px 8px;
      color: #7D7D7D;
      font-size: 13px;
      line-height: 28px;
      text-align: left !important; }
    #Board-list .scam_report .board-body .check-custom {
      display: inline-block; }
    #Board-list .scam_report .board-body textarea {
      width: 100%;
      min-height: 350px;
      padding: 1rem;
      border: 1px solid #d5d6dc; }
  #Board-list .scam_report tbody tr:hover th,
  #Board-list .scam_report tbody tr:hover td {
    background-color: transparent;
    cursor: initial; }
  #Board-list .scam_report ul.ex {
    margin-top: 1rem; }
    #Board-list .scam_report ul.ex li {
      line-height: 1.6;
      color: #7D7D7D; }
  #Board-list .no-data td {
    height: 300px;
    text-align: center; }
  #Board-list .paging {
    padding-top: 3rem;
    text-align: center; }
    #Board-list .paging .pagination li {
      display: inline-block; }
    #Board-list .paging .pagination li a {
      display: block;
      padding: 10px; }
    #Board-list .paging .pagination li a.active {
      background-color: #326bff;
      color: #fff; }

#Board-detail {
  width: 100%;
  min-height: 100%;
  /*입금사실증명*/ }
  #Board-detail .arti-inner {
    min-height: calc(100vh - 95px); }
  #Board-detail .board-template {
    border-top: 1px solid #d5d6dc; }
  #Board-detail .board-head,
  #Board-detail .board-body,
  #Board-detail .board-foot {
    padding: 0 14px; }
  #Board-detail .board-head {
    background-color: #F9FAFC;
    color: #7D7D7D;
    border-bottom: 1px solid #d5d6dc;
    height: 36px;
    line-height: 36px;
    font-size: 0.78571rem; }
    #Board-detail .board-head .category {
      display: inline-block;
      min-width: 140px;
      padding-right: 1rem;
      text-align: center; }
    #Board-detail .board-head .date {
      float: right; }
  #Board-detail .board-head .input-box {
    margin: -1px calc(-1rem - 1px);
    padding: 0 1rem;
    background-color: #fff; }
    #Board-detail .board-head .input-box select {
      width: 180px;
      font-size: 0.78571rem;
      cursor: pointer; }
    #Board-detail .board-head .input-box input {
      text-align: left; }
  #Board-detail .board-body {
    min-height: calc(100vh - 350px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d5d6dc;
    font-size: 0.85714rem;
    color: #222222;
    line-height: 1.6; }
    #Board-detail .board-body .sortData {
      display: none; }
    #Board-detail .board-body input.dealID {
      display: block;
      width: 100%;
      height: calc(100% - 8px);
      padding: 0 4px;
      border: none; }
    #Board-detail .board-body .date {
      font-size: 0.85714rem; }
    #Board-detail .board-body textarea {
      width: 100%;
      height: 100%;
      padding: 1rem;
      border: 1px solid #d5d6dc; }
  #Board-detail .board-foot {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  #Board-detail #deposit_confirm {
    padding: 0 5%;
    border-top: 1px solid #d5d6dc; }
    #Board-detail #deposit_confirm .caption {
      color: red; }
    #Board-detail #deposit_confirm dl {
      padding: 2rem 0;
      line-height: 1.6; }
    #Board-detail #deposit_confirm dt {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      color: #222222;
      font-weight: bold; }
    #Board-detail #deposit_confirm dd {
      font-size: 0.85714rem; }
      #Board-detail #deposit_confirm dd p {
        margin-bottom: 1rem; }
      #Board-detail #deposit_confirm dd .input-box input {
        text-align: left; }
      #Board-detail #deposit_confirm dd table {
        margin-bottom: 1rem; }
      #Board-detail #deposit_confirm dd caption,
      #Board-detail #deposit_confirm dd summary {
        display: none; }
      #Board-detail #deposit_confirm dd thead {
        z-index: 1; }
      #Board-detail #deposit_confirm dd th,
      #Board-detail #deposit_confirm dd td {
        padding: 0 4px; }
      #Board-detail #deposit_confirm dd thead th,
      #Board-detail #deposit_confirm dd thead td {
        background-color: #F9FAFC;
        color: #7D7D7D;
        border-top: 1px solid #d5d6dc;
        border-bottom: 1px solid #d5d6dc;
        height: 36px;
        font-size: 0.85714rem;
        cursor: pointer; }
      #Board-detail #deposit_confirm dd thead th {
        border-right: 1px solid #d5d6dc;
        background-color: #F9FAFC;
        color: #222222; }
      #Board-detail #deposit_confirm dd tbody th {
        background-color: #F9FAFC;
        color: #222222;
        font-weight: normal; }
      #Board-detail #deposit_confirm dd tbody td {
        border-right: 1px solid #d5d6dc;
        text-align: center; }
      #Board-detail #deposit_confirm dd tbody td:last-child {
        border-right: none; }
      #Board-detail #deposit_confirm dd tbody th,
      #Board-detail #deposit_confirm dd tbody td {
        height: 41px;
        border-top: 1px solid #d5d6dc;
        border-bottom: 1px solid #d5d6dc;
        font-size: 0.85714rem; }
        #Board-detail #deposit_confirm dd tbody th .sortData,
        #Board-detail #deposit_confirm dd tbody td .sortData {
          display: none; }
        #Board-detail #deposit_confirm dd tbody th input.dealID,
        #Board-detail #deposit_confirm dd tbody td input.dealID {
          display: block;
          width: 100%;
          height: calc(100% - 8px);
          padding: 0 4px;
          border: none; }
        #Board-detail #deposit_confirm dd tbody th .date,
        #Board-detail #deposit_confirm dd tbody td .date {
          font-size: 0.85714rem; }
    #Board-detail #deposit_confirm .state-desc {
      margin-bottom: 1rem; }
      #Board-detail #deposit_confirm .state-desc li {
        margin-bottom: 0.5rem; }
      #Board-detail #deposit_confirm .state-desc button {
        width: 100px;
        padding: 0.25rem 0;
        font-size: 0.85714rem; }

/*뷰포트 너비가 1600px 이하이면 실행*/
@media screen and (max-width: 1680px) {
  header {
    height: auto;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
    header .logo {
      margin-left: 10px; }
    header .gnb {
      margin-right: 10px;
      margin-bottom: 10px; } }

/*뷰포트 너비가 700px이상 그리고 1400px 이하이면 실행*/
@media screen and (min-width: 700px) and (max-width: 1880px) {
  section {
    padding-left: 300px; }
  #simple_notice {
    width: 295px; }
  #coinList {
    width: 295px; }
  #coinList colgroup col:nth-child(1),
  #coinList colgroup col:nth-child(5),
  #coinList tr th:nth-child(1),
  #coinList tbody tr td:nth-child(1),
  #coinList tr th:nth-child(5),
  #coinList tbody tr td:nth-child(5) {
    display: none;
    border-bottom: none; }
  #coinList tbody tr {
    position: relative;
    height: 41px; }
  #coinList tbody tr:first-child {
    height: 77px; }
  #coinList tbody tr:first-child td:nth-child(2) {
    padding-top: 47px; } }

/*뷰포트 너비가 700px 이하이면 실행*/
@media screen and (max-width: 700px) {
  .scroll-custom,
  .scroll-div {
    overflow-y: scroll !important; }
  .scroll-custom .scrollBar,
  .scroll-custom .scrollRail,
  .scroll-div .scrollBar,
  .scroll-div .scrollRail {
    display: none !important; }
  .lightbox.small .lightbox-contents,
  .lightbox.large .lightbox-contents {
    width: calc(100% - 28px); }
  header {
    min-width: 100%;
    padding-top: 19px;
    padding-bottom: 19px; }
    header .inner {
      width: 100%; }
    header #TradeMain {
      display: none; }
    header .gnb {
      display: none; }
    header nav {
      display: none; }
    header .logo {
      padding-top: 0; }
      header .logo a {
        display: block;
        height: 48px;
        margin-left: 10px; }
      header .logo a img {
        width: auto;
        height: 100%; }
    header .hamburger {
      display: block;
      float: right;
      position: relative;
      z-index: 2000;
      width: 25px;
      height: 25px;
      margin-top: 11px;
      margin-right: 20px;
      /*action*/ }
      header .hamburger button {
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        margin-top: 11px;
        color: #fff;
        background-color: #fff;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        transition: all .2s ease-out; }
      header .hamburger button::before,
      header .hamburger button::after {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        transition: all .2s ease-out; }
      header .hamburger button::before {
        top: -7px; }
      header .hamburger button::after {
        bottom: -7px; }
      header .hamburger button::before {
        top: -10px; }
      header .hamburger button::after {
        bottom: -10px; }
      header .hamburger.active button {
        background: transparent; }
      header .hamburger.active button::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg); }
      header .hamburger.active button:after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg); }
      header .hamburger.active button::before,
      header .hamburger.active button::after {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        transition: all .2s ease-out; }
    header nav.mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7); }
      header nav.mobile.active {
        right: 0; }
      header nav.mobile .list {
        position: fixed;
        z-index: 1901;
        width: 270px;
        margin-top: 3px;
        background-color: #000;
        top: 0;
        bottom: 0;
        padding: 75px 40px 40px 40px;
        overflow-y: auto;
        transition: right 0.5s ease; }
      header nav.mobile.active .list {
        right: 0; }
      header nav.mobile.active {
        display: block; }
      header nav.mobile .depth1 a {
        display: block;
        height: auto;
        padding: 0;
        font-size: 16px;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.5); }
      header nav.mobile .dropdown {
        display: none;
        padding: 1rem; }
      header nav.mobile .dropdown a {
        font-size: 1rem; }
      header nav.mobile .btn {
        width: 100%;
        height: 2rem !important;
        margin-top: 14px;
        font-size: 0.8572rem !important;
        line-height: 2rem !important; }
    header nav.web {
      display: none; }
    header nav.mobile {
      display: block; }
      header nav.mobile li.active .dropdown {
        display: block; }
  footer {
    min-width: 100%;
    height: auto;
    padding: 48px 26px 64px; }
    footer .inner {
      width: 100%; }
    footer .logo {
      margin-bottom: 1rem; }
    footer .nav {
      float: left;
      display: block;
      width: 100%; }
    footer .nav dl {
      display: block;
      margin-top: 1rem; }
  .wrap {
    min-width: 100%; }
  section {
    min-width: 100%;
    padding-left: 5px; }
    section#login {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px; }
  section article {
    float: inherit; }
  #login {
    height: auto; }
    #login .login-box {
      width: 100%; }
  #terms_of_service {
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px; }
  #tradePage {
    min-width: 100%; }
  section:not(#tradePage) {
    width: 100%; }
  #tv_chart_container {
    width: 100%;
    position: relative;
    padding-top: 50vh; }
    #tv_chart_container .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
  #askingprice {
    float: inherit;
    width: 100%;
    padding-top: 65rem; }
    #askingprice .hogasub dt,
    #askingprice .hogasub dd,
    #askingprice .hogasub dd div,
    #askingprice .hogasub dd div:last-child {
      height: auto !important;
      line-height: 1.6 !important; }
  #tradeBuySell {
    float: inherit;
    width: 100%;
    padding-top: 360px; }
  .tradeBuySell {
    float: inherit;
    position: initial;
    width: 100%;
    position: relative;
    padding-top: 360px; }
    .tradeBuySell .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
  #coinList {
    float: inherit;
    position: initial;
    width: 100%;
    height: 100vh; }
  #simple_notice.active + #coinList {
    height: 100vh; }
  #simple_notice.active + #coinList.extend {
    height: 100vh; }
  #coinList.extend {
    height: 100vh; }
  #simple_notice {
    float: inherit;
    position: initial;
    left: 0;
    width: 100%; }
  #conclusion-list {
    float: inherit;
    width: 100%;
    position: relative;
    padding-top: 360px; }
    #conclusion-list .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
  /*입출금 시작*/
  #inOutList {
    width: 100%;
    position: relative;
    padding-top: calc(100vh - 95px); }
    #inOutList .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
    #inOutList .arti-title .type {
      display: none; }
  /*investments 시작*/
  #totalAmount {
    width: 100%;
    position: relative;
    padding-top: 230px; }
    #totalAmount .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
    #totalAmount .arti-title {
      padding: 0; }
    #totalAmount .arti-title div {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #d5d6dc; }
    #totalAmount .arti-title div:nth-child(5) {
      border-bottom: none; }
  #contractList {
    width: 100%;
    position: relative;
    padding-top: calc(88vh - 100px); }
    #contractList .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
    #contractList .scroll-custom thead tr th:first-child,
    #contractList .scroll-custom thead tr td:first-child,
    #contractList .scroll-custom tbody tr td:first-child {
      padding-left: 0; }
    #contractList .scroll-custom thead tr th:last-child,
    #contractList .scroll-custom thead tr td:last-child,
    #contractList .scroll-custom tbody tr td:last-child {
      padding-right: 0; }
    #contractList #tableCoinList colgroup col:nth-child(3),
    #contractList #tableCoinList colgroup col:nth-child(4),
    #contractList #tableCoinList colgroup col:nth-child(6),
    #contractList #tableCoinList thead tr th:nth-child(3),
    #contractList #tableCoinList thead tr th:nth-child(4),
    #contractList #tableCoinList thead tr th:nth-child(6),
    #contractList #tableCoinList tbody tr td:nth-child(3),
    #contractList #tableCoinList tbody tr td:nth-child(4),
    #contractList #tableCoinList tbody tr td:nth-child(6) {
      display: none; }
  #myAccount {
    width: 100%;
    position: relative;
    padding-top: calc(100vh - 95px); }
    #myAccount .arti-inner {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }
  #Board-list {
    padding-top: 0;
    margin: 5px 0; }
    #Board-list .arti-inner {
      position: initial; }
    #Board-list .board-foot {
      padding-bottom: 2rem; }
  #mypage dl {
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
  #mypage dt {
    margin-bottom: 1rem; }
  #mypage dt, #mypage dd {
    float: inherit;
    width: 100%; }
  #otp .lightbox-contents .otp-inner {
    overflow-y: scroll;
    height: 500px; } }

.tab-con {
  overflow: hidden; }

.scount {
  cursor: pointer; }

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/coinpass/loader.gif) center no-repeat #fff; }

.fh5co-loader2 {
  display: none;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/coinpass/loader.gif) center no-repeat #fff; }
