/****************************************************/
@import url('../fonts/NanumGothic/NanumGothic.css');
/****************************************************/

/*-- color --*/
$plus-color : rgba(255, 121, 5,1);//#FF4A5B;
$minus-color : rgba(50, 107, 255,1);//#3D9DFF;
$sell-bg :  rgba(255, 121, 5,0.1);
$buy-bg :  rgba(50, 107, 255,0.1);

$primary-color : $minus-color;
$primary-lighter: lighten($primary-color,30%);
$primary-light: lighten($primary-color,15%);
$primary-dark: darken($primary-color,15%);
$primary-darker: darken($primary-color,30%);

$point-color:$plus-color;
$point-lighter: lighten($point-color,30%);
$point-light: lighten($point-color,15%);
$point-dark: darken($point-color,15%);
$point-darker: darken($point-color,30%);

/*-- thema-color --*/
$thema-color: #343A40;
$font-color-01 : #7D7D7D;
$font-color-02 : #666666;
$font-color-dark : #7D7D7D;
$font-color-light : #7D7D7D;
$header-bg : #343A40;
$header-font-color : #ffffff;
$border-color : #d5d6dc;
$title-bg : #222222;
$title-font-color : #7D7D7D;
$card-bg : #343A40;
$th-bg : #222222;
$th-font-color : #7D7D7D;
$footer-bg-color : $thema-color;
$footer-font-color : $font-color-01;

$thema-type : thema-light;
@if $thema-type  == thema-dark {
  $thema-color: #343A40;
  $font-color-01 : rgba(255,255,255,.7);
  $font-color-02 :rgba(255,255,255,.7);
  $font-color-dark : rgba(255,255,255,.7);
  $font-color-light : rgba(255,255,255,.7);
  $header-bg : #343A40;
  $header-font-color : #ffffff;
  $border-color : #646464;
  $title-bg : #222222;
  $title-font-color : rgba(255,255,255,.7);
  $card-bg : #343A40;
  $th-bg :#222222;
  $th-font-color : rgba(255,255,255,.7);
  $footer-bg-color : $thema-color;
  $footer-font-color : $font-color-01;
} @else if $thema-type  == thema-light{
  $thema-color: #f9f9f9;
  $font-color-01 : #7D7D7D;
  $font-color-02 : #666666;
  $font-color-dark : #222222;
  $font-color-light : #999999;
  $header-bg : #222;
  $header-font-color : #ffffff;
  $border-color : #d5d6dc;
  $title-bg : #EFF2F7;
  $title-font-color : #222222;
  $card-bg : #ffffff;
  $th-bg : #F9FAFC;
  $th-font-color : #7D7D7D;
  $footer-bg-color : $header-bg;
  $footer-font-color : $header-font-color;
}

$thema-lighter: lighten($thema-color,30%);
$thema-light: lighten($thema-color,15%);
$thema-dark: darken($thema-color,15%);
$thema-darker: darken($thema-color,30%);

/*-- size --*/
$padding-type01 : 5px;
$padding-type02 : 10px;
$padding-type03 : 14px;

$title-height: 42px;
$table-head-height:36px;
$td-height : 41px;
$td-padding : 4px;
$thema-letter-spacing: -1px;

$min-width : 1880px;//1920px;
$below-width : 1400px;
$side-width : 440px ;
$wide-width : calc(100% - #{$side-width });

$font-small: 0.785714rem;

/*-- font family --*/
%font-b{font-family: Nanum Gothic, sans-serif; font-weight: 800;}
%font-r{font-family: Nanum Gothic, sans-serif; font-weight: 400;}
%font-n{font-family: Nanum Gothic, sans-serif;;}
%title{font-family: Nanum Gothic, sans-serif;}

/*-- clear both --*/
%float-clear {
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

%inner-width {
  width:$below-width;
  height: 100%;
  margin:0 auto;
}

//mixin
@mixin thema ($bg, $font) {
  background-color: $bg;
  color: $font;
}

@mixin arti-tit(){
  height:$title-height;
  line-height:$title-height;
  @extend %font-b;
}

@mixin input-tit () {
  font-size:$font-small;
  height:22px;
  line-height:26px;
}

@mixin arti-height ($h) {
  position:relative;
  padding-top: $h;
  .arti-inner{
    position:absolute;
    top:$padding-type01;
    right: $padding-type01;
    bottom: $padding-type01;
    left : $padding-type01;
  }
}

*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;font-size:14px; @extend %font-r; color:$font-color-01;}
body {-webkit-text-size-adjust:100%;@extend %font-r;}
a{text-decoration:none;color:$font-color-01;}
li{list-style: none;}
button{outline:none;position:relative;border:none;cursor:pointer;font-size:.9rem;}
button:active{top:1px;left:1px;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;}
select{@extend %font-r;}
::selection {  @include thema($point-color,#fff);  }

.coinType{}
.priceType{}
.numFontType{@extend %font-n;}
.numBold{@extend %font-n;font-weight:900;}
.bFontType{@extend %font-b;}
.rFontType{@extend %font-r;}

.scroll-custom{display:none;}
.scroll-div{display:none;}

/*caution*/
.caution,
.caution *{font-size: $font-small;color:red;}
.caution small{margin-left:3px;}

/**/
small{margin-left:5px;font-size : $font-small;}

/*-- font-color --*/
.font-color-plus{color:$plus-color;}
.font-color-minus{color : $minus-color;}
.font-dark{color:$font-color-dark;}
.font-normal{color:$font-color-01 !important;}
.font-light{color:$font-color-light;}
.font-color-primary{color : $primary-color;}
.font-color-pointe{color:$point-color;}
.font-red{color:red;}

/*-- text-align --*/
.text-center{text-align:center;}
.text-right{text-align: right;}
.text-left{text-align:left;}

/*-- float--*/
.float-right{float:right;}
.float-left{float:left;}
.float-clear:after{content:"";display:block;clear:both;}

/*-- border --*/
.boder-bottom-zero{border-bottom:none !important;}
.border-zero{border:none !important;}

/*-- margin --*/
.margin-zero{margin:0 !important;}

/*-- button --*/
button{transition:all .4s ease;}
.btn-block{  display: block;  height:48px;  width:100%;  }
.btn-200{ display: block;  height:48px;  width:200px; margin:0 auto;}
.btn-board{ min-width:120px;  height:$table-head-height;  border:1px solid $border-color;  line-height:$table-head-height;  }
.btn-color-primary{@include thema($primary-color, #fff);border:1px solid transparent;}
.btn-color-primary:hover{background-color:$primary-dark;}
.btn-color-primary.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
.btn-color-primary.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
.btn-color-primary:disabled{background-color:#dddddd;color:#7d7d7d;}
.btn-color-pointe{@include thema($point-color, #fff);border:1px solid transparent;}
.btn-color-pointe:hover{background-color:$point-dark;}
.btn-color-pointe.reversed{@include thema(transparent,$point-color);border-color:$point-color;}
.btn-color-pointe.reversed:hover{@include thema(transparent,$point-dark);border-color:$point-dark;}
.btn-color-pointe:disabled{background-color:#dddddd;color:#7d7d7d;}

/*-- text-overflow --*/
.ellipsis{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*-- scroll --*/
.chrome-scroll{
  scrollbar-face-color: #ee2a2a;
  scrollbar-shadow-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-track-color: #000;
  /*scrollbar-arrow-color: #ee2a2a;*/
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {  background: $primary-color;  }
}

/*-- tab --*/
.tabs{
  display:flex;
  margin-right: -$padding-type03;
  margin-left: -$padding-type03;
}
.tab-title{
  position:relative;
  width:100%;
  text-align:center;
  font-size:1.15rem;
  @extend %title;
  &:after{
    content:"";
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color:transparent;
  }
  &:hover{cursor:pointer;}
  &:hover:not(.active){text-decoration: underline;}
}
.tab-title.active{
  color: $primary-color;
  &:after{
    content:"";
    display:block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    z-index : 2;
    width:100%;
    height:2px;
    background-color:$primary-color;
  }
}
.tab-con{display:none;  height:calc(100% - 42px);}
.tab-con.active{display:block;}


/*-- middle --*/
.vertical-middle{
  display:table;
  width:100%;
  height:100%;
  .vertical-middle{
    display:table-cell;
    vertical-align: middle;
  }
}

/*-- scroll-custom table--*/
.scroll-custom{
  caption,
  summary{display: none;}
  thead{z-index: 1;}
  th,
  td{padding: 0 $td-padding ;}
  thead th,
  thead td,{
    @include thema($th-bg, $th-font-color);
    border-bottom:1px solid $border-color;
    height: $table-head-height;
    @extend %font-r;
    font-size:$font-small;
    cursor:pointer;
  }
  thead select{
    height:calc(100% - 8px);
    border:1px solid $border-color;
    @include thema($th-bg, $th-font-color);
    @extend %font-r;
    font-size:$font-small;
    cursor:pointer;
  }
  tbody td{
    height:$td-height;
    border-bottom:1px solid $border-color;
    font-size: 0.85714rem;
    color: $font-color-dark;
    .sortData{display: none;}
    input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
    .date{font-size:0.85714rem;}
  }
  thead tr th:first-child,
  thead tr td:first-child,
  tbody tr td:first-child{padding-left: $padding-type03;}
  thead tr th:last-child,
  thead tr td:last-child,
  tbody tr td:last-child{padding-right: $padding-type03;}
  tbody tr:first-child td{
    height : #{$table-head-height + $td-height};
    padding-top: #{$table-head-height + 1};
  }
  tbody tr:last-child:not(:nth-child(-n+10)) td{border-bottom:none;}

  /*scroll-custom action*/
  &.hover table tbody tr:hover th,
  &.hover table tbody tr:hover td,
  table tbody tr.active th,
  table tbody tr.active td{background-color:rgba(0,0,0,.07);}
}

/*-- tooltip --*/
[data-tooltip-text]:hover {  position: relative;  }
[data-tooltip-text]:after {
  content: attr(data-tooltip-text);
  position: absolute;
  z-index: 9999;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 7px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  text-align:center;
  line-height:1.4;
  word-wrap: break-word;
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  transition: display .3s ease, bottom .3s ease-in-out, opacity .3s ease-in-out;
}
[data-tooltip-text]:after{    display: none;opacity: 0;  /*right: -9999px;*/  top: 90%;}
[data-tooltip-text]:hover:after {    display: block;top: 130%;  /*right: 0;*/  opacity: 1;  }

/*-- input-box --*/
.input-box{
  display: flex;
  border: 1px solid $border-color;
  *{ color: $font-color-01; font-size: 0.85714rem;}
  >div{width:100%;}
  input, button, select{padding : $td-padding #{$td-padding *2};margin:-1px -1px -1px 0;border:none;}
  button{  background-color:transparent;  border-left:1px solid $border-color;  }
  select{  background-color:transparent;  border-right:1px solid $border-color;  }
  >div:not(.read-only){height:$table-head-height;padding : $td-padding #{$td-padding *2};line-height: #{$table-head-height - ($td-padding *2)}}
  input{width:100%;height:$table-head-height;background-color:transparent;text-align: right;color:$font-color-dark;}
  button{width:140px;text-align: center;}
  select{width:100px;}
  >.read-only,
  input:read-only{margin:-1px;border:1px solid $border-color;background-color:rgba(0, 0, 0, 0.1);text-align: left;}
  >.read-only>input:read-only{margin:0;border:none;background-color:transparent;text-align: left;}
  .flex{
    display: flex;
    padding : 0 !important;
    input, button, select{margin:0;border:0}
  }
  .btn-color-primary{@include thema($primary-color, #fff);border:1px solid transparent;}
  .btn-color-primary:hover{background-color:$primary-dark;}
  .btn-color-primary.reversed{@include thema(transparent, $primary-color);border-color: $primary-color;}
  .btn-color-primary.reversed:hover{@include thema(transparent,$primary-dark);border-color: $primary-dark;}
}

/*-- checkbox,radio custom --*/
.check-custom input[type=checkbox],
.check-custom input[type=radio]{display: none;}
.check-custom input + label{display:inline-block;position:relative;padding-right:1rem;padding-left:2em;color:$font-color-dark;line-height:2rem;font-size:1rem;cursor:pointer;}
.check-custom input + label:before{content:"";display:block;position:absolute;top:50%;left:0;width:1.2rem;height:1.2rem;margin-top:-0.7rem;border:1px solid #888;border-radius:2px;}
.check-custom input + label:after{content:"";display:block;position:absolute;top:50%;left:2px;width:1rem;height:1rem;margin-top:-0.6rem;background-size:contain;border-radius:2px;}
.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before{border-color:$minus-color;}
.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after{background-image:url(../images/icon/verification-mark.png);}

/*-- lightbox(modal) --*/
.lightbox{
  position:fixed;
  top:0;right:0;bottom:0;left:0;z-index:100;
  background-color:rgba(0,0,0,.7);
  .cover{display: table;width:100%;height:100%;}
  .cover-inner{display: table-cell;vertical-align: middle;}
}
.lightbox.small .lightbox-contents{width:500px;}
.lightbox.large .lightbox-contents{width:800px;}
.lightbox-contents{width:500px;margin:0 auto;background-color:#fff;box-shadow:0px 0px 10px rgba(0,0,0,.2);transition:all .4s ease;}
.light-header{
  position:relative;;
  padding:1rem;
  //color:$font-color-dark;
  @include thema($primary-color, #fff);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  .close{
    position:absolute;
    top:50%;
    right:#{$padding-type01 + $padding-type03};
    width:1rem;
    height:1rem;
    margin-top:-0.5rem;
    @include thema(transparent, $title-font-color);
    background-image: url('../images/icon/cancel_w.png');
    background-size:1rem;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
  }
  .close:active{left:inherit;}
}
.light-body{
  padding:1rem;border-top:1px solid $border-color;border-bottom:1px solid $border-color;
  .tab-title{
    @include arti-tit();
    margin-top:-1rem;
  }
  .input-tit{@include input-tit();}
  .tab-con{
    margin-right:-1rem;
    margin-bottom:-1rem;
    margin-left:-1rem;
    padding:1rem;
    border-top:1px solid $border-color;
  }
  .input-box{margin-bottom:10px;}
  .btn-wrap{padding-top:10px;}
  .ToS{  height:500px;  }
  .scroll-zone{
    overflow-y:scroll;
  }
}
.light-footer{
  padding:1rem;
  button{
    display: inline-block;
    margin:0px 3px;
    padding:0 10px 3px;
    min-width:220px;
    border-radius: 0;
    line-height : 40px;
    font-size:1rem;
    cursor:pointer;
  }
}
/*-- lightbox function --*/
.lightbox.hidden{display: none;}
.lightbox{display: block;}
//.lightbox.hidden .lightbox-contents{transform:scale(0.8)}
//.lightbox .lightbox-contents{transform: scale(1);}


/*-- no data table --*/
.noData td{height:300px;border:none !important;line-height: 300px;text-align: center;}

//common
.wrap{  @include thema($thema-color, $font-color-01);}

/*----------------------------------*/
/*              header              */
/*----------------------------------*/
header{
  min-width:$below-width;
  height:80px;
  padding: $padding-type02;
  @include thema($header-bg, $header-font-color);
  &.full .inner{width:100%;}
  .inner{
    @extend  %inner-width;
    @extend %float-clear;
  }

  .logo{
    float:left;
    width:200px;
    padding-top:7px;
    margin-right:40px;
    img{width:100%;}
  }
  #TradeMain{
    float:left;
    position:relative;
    width:460px;
    padding-top:9px;
    padding-left: 30px;
    font-size: 0.85714rem;
    .img-cover{
      position:absolute;
      top:9px;
      left:0;
      display:block;
      width:24px;
      height:24px;
      img{  width:100%;  height:100%;  border:none;  }
    }
    @extend %float-clear;
    .tradeTopbox{
      font-size:1.15rem;
      @extend %float-clear;
      .coinTItle{padding : 5px 0;}
      #spanBithumb{padding-left: 10px; }
    }
    .TodayNowPrice{}
    #TodayNowPrice{}
  }

  nav.mobile{
    position:fixed;
    top:0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    .list{
      position:fixed;
      z-index: 1901;
      width:270px;
      margin-top:3px;
      background-color:#000;
      top:0;
      right:-100%;
      bottom:0;
      padding:75px 40px 40px 40px;
      overflow-y:auto;
      transition:right 0.5s ease;
    }
    //action
    &.active {right:0;}
    &.active .list{right:0;}

    .dropdown{
      position:relative;
      //&:after{
      //  content:"\e921";
      //  position:absolute;
      //  top: 0;
      //  right:0;
      //  font-size:20px;
      //  color:rgba(255, 255, 255, 0.2);
      //  font-family : 'icomoon';
      //}

      //action
      //&.active:after{transform:rotate(180deg);}
      &.active .dropdown{display:block;}
      &.active .depth1>li>a{color:rgba(255, 255, 255, 0.8);}
    }
    .depth1 a{
      display:block;
      height:auto;
      padding:0;
      font-size: 16px;
      line-height: 1.7;
      color:rgba(255, 255, 255, 0.5);
    }
    .dropdown{display:none;}
    .dropdown a{  padding-left:20px;  }
  }
  nav.web{
    float:right;
    padding:15px 0;
    .depth1 {
      @extend %float-clear;
      >li{float:left; position:relative; margin:0 10px;}
      >li:hover>a{color : $point-color;}
      >li>a{
        display: block;
        height:30px;
        padding:0 0.5rem;
        font-size:1rem;
        color: $header-font-color;
        line-height: 30px;
      }

    }
    .dropdown{
      position:absolute;
      left:0;
      width:160px;
      padding:10px;
      z-index: 1;
      background-color: #222;
      border-radius:3px;
      color:#fff;
      transition: opacity .4s ease, top .4s ease;
      &:after{
        content:"";
        display: block;
        position:absolute;
        top:-20px;
        left:24px;
        border:10px solid transparent;
        border-bottom-color:#222;
      }
      li a{display:block;padding:5px 0;margin-bottom:5px;color:$header-font-color;font-size: 0.9285rem;}
      li:last-child a{margin-bottom:0;}
      li:hover a{color:#fff;font-weight: 900;}
    }
    /*action*/
    .dropdown{visibility:hidden; top: 55px;opacity: 0; z-index: -1;}
    .dropdown.active{visibility: visible;top: 45px;opacity: 1;z-index: 999;}
  }

  /*nav action*/
  nav.web{display: block;}
  nav.mobile{display:none;}

  .gnb{
    float:right;
    padding:15px 0;
    ul {
      @extend %float-clear;
      li{
        float:left;
        min-width:80px;
        height:30px;
        margin-left:$padding-type02;
        border:0;
        background-color:#fff;
        line-height:30px;
        text-align: center;
        a{
          display: block;
          font-size:0.8572rem;
          color:$header-bg;
        }
        select{
          display: block;
          width:100%;
          height:100%;
          border:none;
          @include thema($primary-color, $header-bg);
          font-size:0.8572rem;
        }
      }
    }
  }
}
/*----------------------------------*/
/*              footer              */
/*----------------------------------*/
footer{
  min-width:$below-width;
  padding:50px $padding-type02;
  @include thema($header-bg, $header-font-color);
  border-top:1px solid $border-color;
  @extend %float-clear;
  .inner{@extend  %inner-width;}
  &.full .inner{width:100%;}
  .logo{width:180px;margin-right:#{$padding-type02 * 2};}
  .logo img{width:100%;}
  .aboutUs{
    p {line-height:25px;}
    span{position:relative;padding-right:$padding-type02;margin-right:$padding-type02;}
    span:after{content:"";display:block;position:absolute;top:0;right:0;bottom:0;width:1px;background-color:$header-font-color;}
    span:last-child:after{width:0;}
  }
  .nav{
    width:600px;
    display:table;
    table-layout:fixed;
    dl{display:table-cell;}
    dt,
    dd a{font-size:1rem;line-height:25px;}
    dt{color:$point-color;margin-bottom:$padding-type01;}
    dd a{color: $header-font-color;}
  }
  //$font-color-01 : #7D7D7D;
  //$font-color-dark : #2b2b2b;
}

//exchange page.[role="exchange"]
#tradePage{min-width:$min-width;width:100% !important;}
#home{min-width:$min-width;width:100% !important;}
section:not(#tradePage),
.home-inner{
  width:$below-width;
  margin:0 auto;
}

section{
  padding-left : #{$side-width + ($padding-type01)};
  position:relative;
  padding-top:$padding-type01;
  padding-bottom:$padding-type01;
  padding-right:$padding-type01;
  transition : all .4s ease;
  &:after{@extend %float-clear;}
  article{
    float:left;
    padding : $padding-type01;
    > .arti-inner{
      @include thema($card-bg, $font-color-01);
      border :1px solid $border-color;
      > .arti-title{
        @include arti-tit();
        padding: 0 $padding-type03;
        margin: -1px -1px 0 -1px;
        @include thema($title-bg, $title-font-color);
        border:1px solid $border-color;
      }
    }
  }
}

/*----------------------------------*/
/* 회원가입, 로그인, 2차인증 로그인 */
/*----------------------------------*/
#login{
  height: 85vh;
  padding-top:0;
  padding-bottom:0;
  padding-right:0;
  padding-left:0;
  h2{
    padding-bottom:2rem;
    font-size:24px;
    color:$font-color-dark;
  }
  .login-box{
    width:420px;
    margin:0 auto;
    padding:3rem 2rem;
    background-color: #fff;
    border:1px solid $border-color;
  }
  .input-box{
    position:relative;
    margin-bottom:1.5rem;
    border-top:0;
    border-right:0;
    border-left:0;
    dt{
      flex:none;
      width:100px;
      padding : $td-padding #{$td-padding *2};
      text-align: left;
      line-height: #{$table-head-height - ($td-padding *2)};
      color:$font-color-dark;
    }
    dd{width:100%;}
    input{text-align:left !important;;}
    .caution{
      position:absolute;;
      right:0;
      top:100%;
      left:0;
      padding:0.25rem 0;
      font-size: $font-small;
      letter-spacing: -0.5px;
      text-align: justify;
      line-height: 1.4;
    }
  }
  .btn-wrap{margin:1rem 0;}
  .btns{
    a{
      display:inline-block;
      position:relative;
      padding:0 0.5rem;
      font-size:1rem;
      color:$font-color-dark;
      font-weight:700;
      &:not(:last-child):after{
        content:"";
        position:absolute;
        right:-1px;
        top:2px;
        bottom:2px;
        width:1px;
        background-color:#999;
      }
    }

  }
  .detail-view{
    line-height: 2rem;
    font-size: $font-small;
    cursor:pointer;
  }
}

/*----------------------------------*/
/*   개인정보 처리방침, 이용안내    */
/*----------------------------------*/
#terms_of_service{
  padding-left:$padding-type01;
  h2.title{
    padding:5rem 0 4rem;
    text-align: center;
    font-size:2.2rem;
    color:$primary-color;
  }
  .contents{}
}

/*----------------------------------*/
/*                메인              */
/*----------------------------------*/
#home{
  padding-top:0;
  padding-bottom:0;
  padding-right:0;
  padding-left:0;
  @include thema(#fff, $font-color-01);
}
#topBanner{
  overflow:hidden;
  height:400px;
  background-color:#ebecf1;
  .inner{@extend %inner-width;}
  a{
    display:block;
    width:100%;
    //width:$below-width;
    height:100%;
    margin:0 auto;
    background-color:#ddd;
  }
  img{  width: 100%;  }
}
#homeContents{
  @extend %inner-width;
  padding:60px 0;
  @extend %float-clear;
}
#eventBanner{
  background-color:#03232e;
  .inner{@extend %inner-width;}
  ul{
    padding:1rem 0;
    margin:0 -0.5rem;
    @extend %float-clear;
  }
  li{float:left;width:33.33%;height:80px;padding:0 0.5rem;}
  li a{
    display: block;
    width:100%;
    height:100%;
    background-color:#ebecf1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ul li:nth-child(1) a{background-image: url(../images/main/eventBanner_01.jpg);}
  ul li:nth-child(2) a{background-image: url(../images/main/eventBanner_02.jpg);}
  ul li:nth-child(3) a{background-image: url(../images/main/eventBanner_03.jpg);}
}
#board_list{
  float:left;
  width:33.33%;
  //dl{  float:left;    }
  .inner{@extend %inner-width;}
  dl:not(:first-child){  margin-top:60px;  }
  dt{
    height:50px;
    padding-left:2rem;
    color:$font-color-dark;
    font-weight:bold;
    line-height: 50px;
    font-size:24px;
    img{
      width:100%;
      height:100%;
      margin-left:-1rem;
    }
  }
  dd{
      position:relative;
      padding:0 1rem 0 2em;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 1rem;
        width: 5px;
        height: 1px;
        margin-left: -2px;
        background-color: #111;
      }
      &:after{
        content:"";
        display:block;
        position:absolute;
        top:50%;
        left:1rem;
        width:1px;
        height:5px;
        margin-top:-2px;
        background-color:#111;
      }
      a{
        overflow:hidden;
        display:block;
        height:$table-head-height;
        background-color:transparent;
        color:$font-color-dark;
        font-size: 0.85714rem;
        line-height: $table-head-height;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  }
}

#coinMarketPrice{
  float:right;
  width:66.66%;
  .tit{
    float:left;
    height:50px;
    color:$font-color-dark;
    font-weight:bold;
    line-height: 50px;
    font-size:24px;
  }

  .tabs{
    float:right;
    display:inline-block;
    margin-left:0px;
    margin-right:0;
    border:1px solid $primary-color;
    @extend %float-clear
  }
  .tab-title{
    display:block;
    float:left;
    width:auto;
    padding:5px 10px;
    border-right:1px solid $primary-color;
    color:$font-color-dark;
    font-size:1rem;
  }
  .tab-title:after{height:0px;}
  .tabs .tab-title:last-child{border-right:none;}
  .tab-title.active{
    @include thema($primary-color,#fff);
  }

  .table-wrap table:first-child thead th,
  .table-wrap table:first-child thead td{
    border-top:1px solid $border-color;
  }

  caption,
  summary{display: none;}
  thead{z-index: 1;}
  th,
  td{padding: 0 $td-padding ;}
  thead th,
  thead td{
    position:relative;
    @include thema($th-bg, $th-font-color);
    border-bottom:1px solid $border-color;
    height: $table-head-height;
    @extend %font-r;
    font-size:$font-small;
    cursor:pointer;
  }
  thead th.sortTh{
    padding-right:19px;
    cursor:pointer;
    &:before,
    &:after{
      content:"";
      display:block;
      position:absolute;
      right:4px;
      border:5px solid transparent;
      opacity: 0.5;
    }
    &:before{top:6px;  border-bottom-color:$th-font-color;}
    &:after{bottom:6px;  border-top-color:$th-font-color;}
    &.up:before{border-bottom-color:$primary-color;  opacity: 1;}
    &.down:after{border-top-color:$primary-color;  opacity: 1;}
  }
  thead select{
    height:calc(100% - 8px);
    border:1px solid $border-color;
    @include thema($th-bg, $th-font-color);
    @extend %font-r;
    font-size:$font-small;
    cursor:pointer;
  }
  tbody td{
    height:$td-height;
    border-bottom:1px solid $border-color;
    font-size: 0.85714rem;
    color: $font-color-dark;
    .sortData{display: none;}
    input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
    .date{font-size:0.85714rem;}
  }
  thead tr th:first-child,
  thead tr td:first-child,
  tbody tr td:first-child{padding-left: $padding-type03;}
  thead tr th:last-child,
  thead tr td:last-child,
  tbody tr td:last-child{padding-right: $padding-type03;}
  tbody tr:last-child:not(:nth-child(-n+10)) td{border-bottom:none;}
}

#appBanner{
  padding:60px 0;
  background-image:url(../images/main/network-3357642_1920.jpg);
  background-position:center;
  background-size: cover;
  background-attachment:fixed;
  .tit{margin-bottom:2rem;font-size:2rem;font-weight:bold;color:#fff;}
  .tit small{display: block;opacity: 0.6;}
  .btn-box button{display: inline-block;margin:0 0.5rem;}
}
#contactInfo{
  height:300px;
  padding:60px 0;
  .inner{
    display:flex;
    @extend %inner-width;
  }
  .tit{
    height:50px;
    color:$font-color-dark;
    font-weight:bold;
    line-height: 50px;
    font-size:24px;
  }
  .contact-item{position:relative;width:100%;padding:0 1rem;}
  .contact-item:not(:last-child):after{
    content:"";
    display:block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    width:1px;
    background-color:#222;
  }
  .contact-item.cs{
    background-image:url(../icon/020-telemarketer.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: bottom right 1rem;
  }
}

/*----------------------------------*/
/*               거래소             */
/*----------------------------------*/

//차트
#tv_chart_container{width:$wide-width;  @include arti-height(42.7%);}

//호가창
#askingprice{
  float:right;
  width:$side-width;
  @include arti-height(42.7%);
  tr td:not(:last-child) {border-right: 1px solid $border-color;}
  thead tr th:first-child,
  thead tr td:first-child,
  tbody tr td:first-child{padding-left: $td-padding;}
  thead tr th:last-child,
  thead tr td:last-child,
  tbody tr td:last-child{padding-right: $td-padding;}
  .nowPriceWrap{@extend %float-clear;}
  .hogaTable{
    tbody tr:last-child td{ /*border-bottom:1px solid $border-color;*/border-bottom:none;}
    tbody tr:first-child td{height : $td-height;  padding-top: 0;}
    a{
      display: block;
      position: relative;
      height: 100%;
      padding:9px 0;
      cursor: context-menu;
    }
    .SellTd{background-color: $sell-bg;}
    .BuyTd{background-color: $buy-bg;}
    .nowPriceWrap{line-height:26px;}
    .gauge{
      display: inline-block;  height: 100%;
      &.sell{float:right;  margin-right:-4px;  background-color: $sell-bg;}
      &.buy{float:left;  margin-left:-4px;  background-color: $buy-bg;}
    }
    .coin-qty{
      position:absolute;
      color:$font-color-dark;
      line-height:26px;
      &.sell{right:0;  text-align: right;}
      &.buy{left:0;  text-align: left;}
    }
    .contractList,
    .hogasub{
      padding:0;
      font-size:$font-small;
      color:$font-color-01;
      small{margin-left:2px;font-size:0.7142rem;}
    }
    .hogasub{
      vertical-align: bottom;
      *{box-sizing: border-box;}
      dl{@extend %float-clear;border-bottom:1px solid $border-color;}
      dt{float:left;height:43px;padding-left:$padding-type02;}
      dt,
      dd{line-height: 41px;}
      dd{float:right;padding-right:$padding-type02;text-align:right;}
      dl:last-child{border-bottom:none;}
      dd div{  height:44px;line-height: 44px;  }
      dd div:last-child{  height:43px;line-height: 43px;  }
    }
    .contractList{
      border-bottom:0;vertical-align: top;
      .top{border-bottom:1px solid $border-color;}
      .top:nth-child(2){@include thema($th-bg, $th-font-color);}
      dl{@extend %float-clear;}
      dt,
      dt+dd{height:43px;line-height: 43px;}
      dd{height:22px;line-height: 22px;}
      dl dt:first-child{float:left;padding-left:$padding-type02;}
      dl dt:last-child{float:right;padding-right:$padding-type02;}
      dl dd:first-child{float:left;padding-left:$padding-type02;}
      dl dd:last-child{float:right;padding-right:$padding-type02;}
    }
  }

  .SellQtySum{
    position:absolute;
    bottom:0;
    caption{display: none;}
    td{
      height:#{$td-height + 1};
      padding: 0 $td-padding;
      border-top:1px solid $border-color;
      border-bottom:none;
      font-size: 0.85714rem;
      color: $font-color-dark;
    }
  }
  .contractList li{width:100%;  @extend %float-clear;}
  .contractListTable{width:100%;  @extend %float-clear;}
  .coinNow .txt{float:left;}
  .coinNow .coinNowinfo{@extend %float-clear;}
  .coinNow .txt,
  .contractListTable .txt{padding:4px 0;}
}

//매도매수
#tradeBuySell{
  float:right;
  width:$side-width;
  @include arti-height(25%);
  .tab-title.buy-color.active{color:$plus-color;}
  .tab-title.buy-color.active:after{background-color:$plus-color;}
  .tab-title.sell-color.active{color:$minus-color;}
  .tab-title.sell-color.active:after{background-color:$minus-color;}
  .tab-con{
    padding: #{$padding-type01 * 2};
    #coinBuy{}
    #coinSell{}
    }
  .input-box select{width:101px;border-right:0;border-left:1px solid $border-color;}
  .input-box button{width:48px;}
  li{
    @extend %float-clear;
    margin-bottom:6px;
    line-height: $table-head-height;
    #possesion_coin,
    #priceCan{font-size:1.285rem;}
    .float-left{
      width:95px;
      font-size:0.9285rem;
      .small{font-size: $font-small;}
    }
    .float-right{
      width:calc(100% - 100px);
      text-align: right;
      font-size:1rem;
    }
  }
  p{
    font-size:0.85714rem;
    text-align: right;
    color:$font-color-dark;
    line-height:1.6;
  }
  .tab-con.buy-color .foot .btn-block{@include thema($plus-color, #fff);}
  .tab-con.sell-color .foot .btn-block{@include thema($minus-color, #fff);}
  .input-box * {font-size: 1rem;}
}

//공지사항
#simple_notice{
  position:absolute;
  top:$padding-type01;
  left :$padding-type01;
  z-index: 2;
  width:$side-width;
  .arti-title{position:relative;margin-bottom:-1px;}
  a{color : $title-font-color;}
  .close{
    position:absolute;
    top:50%;
    right:#{$padding-type01 + $padding-type03};
    width:1rem;
    height:1rem;
    margin-top:-0.5rem;
    @include thema($title-bg, $title-font-color);
    text-transform: uppercase;
    background-image: url('../images/icon/cancel_b.png');
    background-size:1rem;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
  }
}
#simple_notice{display:none;}
#simple_notice.active{display: block;}
#simple_notice + #coinList,
#simple_notice.active + #coinList.move{top:$padding-type01;}
#simple_notice.active + #coinList{
  top: #{($padding-type01 * 3 ) +$title-height};
  height:calc(100vh - 142px);
}
#simple_notice.active + #coinList.extend{  height: calc(100vh - #{$title-height + ($padding-type01 * 4 )});  }
#coinList.extend{  height: calc(100vh - #{$padding-type01 * 2 }); }

//코인리스트
#coinList{
  position:absolute;
  top:$padding-type01;
  z-index: 1;
  left :$padding-type01;
  width:$side-width;
  height:calc(100vh - 90px);
  transition : height .4s ease;
  .arti-inner{height: 100%;}
  .coin-search{
    height:$title-height;
    input[type=text]{
      display:block;
      width:100%;
      height:100%;
      padding: 0 $padding-type03;
      background-color:transparent;
      border:none;
      line-height:$title-height;
    }
  }
  .tab-title.myAmount{
    border-left:1px solid $border-color;
    //&.active{
    //  @include thema($primary-color, #fff);
    //}
  }
  .tab-con{height:calc(100% - 83px)}
  thead th{position:relative;}
  thead th.sortTh{
    padding-right:19px;
    cursor:pointer;
    &:before,
    &:after{
      content:"";
      display:block;
      position:absolute;
      right:4px;
      border:5px solid transparent;
      opacity: 0.5;
    }
    &:before{top:6px;  border-bottom-color:$th-font-color;}
    &:after{bottom:6px;  border-top-color:$th-font-color;}
    &.up:before{border-bottom-color:$primary-color;  opacity: 1;}
    &.down:after{border-top-color:$primary-color;  opacity: 1;}
  }
  .bar{
    overflow:hidden;
    position:relative;;
    width:7px;
    height:27px;
    margin: 0 auto;
  }
  .bar .line,
  .bar .box{
    position:absolute;
    top:0;
    display: block;
    overflow: hidden;
    text-indent: -999em;
  }
  .bar .line{left:3px;width:1px;}
  .bar .box{left:0;width:7px;}
  .bar.up .line,
  .bar.up .box{background-color: $plus-color;}
  .bar down .line,
  .bar down .box{background-color : $minus-color;}
  small{margin-left:0;}
}

//미체결내역, 체결내역, 종가
#conclusion-list{
  float:right;
  width:$wide-width;
  @include arti-height(25%);
  button{height:36px;@include thema($primary-color, #fff);}
}

/*investments 시작*/
#totalAmount{
  width:100%;
  @include arti-height(12vh);
  .arti-title{
    height:calc(100% + 2px);
    padding:1rem 0;
    @include thema($card-bg, $title-font-color);//$sell-bg
    @extend %float-clear;
    div{
      float:left;
      width:33.33%;
      height:50%;
      padding:0 14px;
      .float-left{letter-spacing: -1px;}
      .float-right{font-size: 1.5rem;letter-spacing: -1px;}
    }
  }
  .tooltip{
    font-size:$font-small;
    &:after{left:0;width:300px;}
  }
}
#contractList{
  width:100%;
  @include arti-height(calc(88vh - 100px));
  td {font-size:0.9285rem;}
  //height:calc(100vh - 90px);
  .img-cover{
    position:absolute;
    top:50%;left:0;
    width:20px;
    height:20px;
    margin-top:-10px;
    img{  width:100%;  height:100%;  border:none;  }
  }
  #tableCoinList{ a {position:relative;padding-left:25px;color:$font-color-dark;} }
  table tr td small:not(.font-dark){  color:$font-color-light;  }
  table tr td small{display: block;}
  button{height:36px;}
}

/*----------------------------------*/
/*               입출금             */
/*----------------------------------*/
#inOutList{
  width:70%;
  @include arti-height(calc(100vh - 95px));
  .arti-inner{  right:-1px;  }
  .tab-con{height:calc(100% - 84px);}
  .tab-con .scroll-div{padding-right:5%;padding-left:5%; ;}
  .tab-con .inner>div{padding: $padding-type02;}
  .tab-con .inner>div:not(:last-child){border-bottom:1px solid lighten($border-color,8%)}
  .inOutTitle{padding:45px 0 44px !important;color:$font-color-dark;text-align:center;}
  .input-box button{width:120px;}

  /*입금*/
  .tab-con div.inContens{padding: 45px  0/*$padding-type02*/;border-bottom:none !important;}
  .tab-con div.inContens .inOutTitle{padding-top:0px !important;}

  /*action*/
  .tab-con .inContens{display:none;}
  .tab-con .inContens.active{display:block;}
}
.deposit_caution{
  div,
  dl{@extend %float-clear;}
  div{margin-bottom:10px;}
  .sum-wrap{margin-bottom:10px;}
  .assent label{padding-top:10px;padding-bottom:5px;}
  .assent + button{margin-top:$padding-type02;}
  .deposit_guide{
    &.full{height:100%;}
    padding:#{$padding-type02 *2};
    border-top:1px solid $border-color;
    font-size:0.85714rem;
    color:$font-color-dark;
    background-color:rgba(0,0,0,.04);
    ul{}
    li{position:relative;margin-top:10px;padding-left:$padding-type02; line-height: 1.4;}
    li:first-child{margin-top:0;}
    li:after{content:"";display: block;position:absolute;top:7px;left:0;width:2px;height:2px;background-color:$font-color-dark }
    dt{line-height: 1.4;}
    dt:not(:first-child){padding-top:10px;}
    dd{margin-top:10px;line-height: 1.4;}
    button{margin-top:#{$padding-type02 *2};}
  }
  .bank_info{
    margin-right:auto;
    margin-left:auto;
    dl{@extend %float-clear;}
    dl:not(:last-child){margin-bottom:20px;}
    dt,
    dd{box-sizing: border-box;line-height:26px;}
    dt{
      &:not(.float-right){float:left}
      width:25%;
      font-size:0.9285rem;
      color :   $font-color-02;
    }
    dd{
      &.block{width:100%;}
      &:not(.float-left){float:right;text-align:right;}
      width:70%;
      color:$font-color-dark;
      font-size:1rem;
    }
    .input-box button{width:120px;}
    .deposit_name{
      .input-box{border:none;}
      dt{float:inherit;width:100%;}
      dd{float:inherit;width:100%;}
      dd input{height: 60px;@include thema($primary-color, #fff);font-size:2rem;text-align: center;}
      dd button{margin:0;border:1px solid $primary-color;color:$primary-color;}
      dd button:active{top:0;left:0;}
    }
    .deposit_name_ex{padding:10px 0;font-size: 0.85714rem;}
  }
}
#ulAddr{
.inOutTitle{border-bottom:1px solid lighten($border-color,8%)}
  dl:not(:first-child){margin-top:30px;}
  dt{margin-bottom:10px;font-size: 0.9285rem;}
  dd{}
  .qr{
    display: inline-block;
    width:250px;
    hegiht:auto;
    padding:10px;
    margin-bottom:10px;
    border:1px solid $border-color;
    img{width:100%;height:100%;}
  }
}

//출금
#CoinOut{
  .inoutAomount{
    dl:first-child dd{font-size: 1.285rem;}
    dt,dd{font-size:1rem;}
    font-size:1rem;
  }
  dl{@extend %float-clear;}
  div dl:not(:last-child){margin-bottom:5px;}
  dt,
  dd{box-sizing: border-box;line-height:26px;}
  dt{
    &:not(.float-right){float:left}
    width:25%;
    font-size:0.9285rem;
    color : $font-color-02;
  }
  dd{
    &.block{width:100%;}
    &:not(.float-left){float:right;text-align:right;}
    width:70%;
    color:$font-color-dark;
    font-size:1rem;
  }
  small{color:$font-color-light;}
  #divSecondaryAuthentication,
  #divOTP,
  #div_out_etc,
  #div_out_qty,
  #div_out_add{
    dt{line-height: $table-head-height;}
  }
  #totalExchangeCan{color:$primary-color;}
  .krw_out_info dd>div{@extend %float-clear;}

  /*action*/
  .krw_out_info,
  .coin_out_info{display: none}
  .krw_out_info.active,
  .coin_out_info.active{display: block;}
}
//입출금내역
#tableInOutCList{
  line-height: 1.4;
  tbody tr:first-child td{height:112px;}
  tbody tr td{height:76px;border-color:lighten($border-color,8%);}
  tbody tr td>div:not(:last-child){margin-bottom:5px;}
  tbody tr td:first-child{}
  .up,
  .down{
    height:$table-head-height;
    border:1px solid $border-color;
    line-height:$table-head-height;
  }
  .up{border-color:$plus-color ;color:$plus-color ;}
  .down{border-color:$minus-color;color:$minus-color;}

  .trader{
    @extend %float-clear;
    .float-left{width:60px;line-height:$table-head-height;}
    .float-right{width:calc(100% - 65px);}
    //.input-box{border:none;}
    input{text-align:left;}
    //button{background-color:$primary-color;border:$primary-color;border-left:none;color:#fff;}
  }
  .sum,
  .completion{
    height:24px;
    line-height:24px;
    font-size: 0.85714rem;
  }
  small{color: $font-color-light;}
  .date{text-align: right;font-size: $font-small;}

}

//보유자산
#myAccount{
  width:30%;
  @include arti-height(calc(100vh - 95px));
  tbody tr:first-child td{padding-top:76px;height:146px}
  tbody tr td{position:relative;height:70px;font-size:1rem;}
  tbody tr td>div:not(:last-child){margin:2px 0;}
  .arti-inner{  left:0;  }
  .arti-title{@extend %float-clear;}
  .arti-title .float-right{height:100%;}
  .scroll-custom{width:100%;}
  .coin-search{
    height:#{$td-height - 1};
    input[type=text]{
      display:block;
      width:100%;
      height:100%;
      padding: 0 $padding-type03;
      background-color:transparent;
      border:none;
      line-height:$title-height;
    }
  }
  .check-custom{height:#{$table-head-height + 1};}
  .img-cover{
    position:absolute;
    top:50%;left:0;
    width:20px;
    height:20px;
    margin-top:-10px;
    img{  width:100%;  height:100%;  border:none;  }
  }
  .coin_name{position:relative;padding-left:25px;}
  .span_inout_can,
  .span_inout_not{display:block;position:absolute;top:50%;right:0px;width:10px; height:10px;margin-top:-5px;}
  .span_inout_can:after,
  .span_inout_not:after{min-width:70px;}
  .span_inout_can{background-color:$minus-color;}
  .span_inout_not{background-color: $plus-color;}
  [data-tooltip-text]:after{  opacity: 0;  right: -9999px;  top: 90%;}
  [data-tooltip-text]:hover:after {  top: 130%;  right: 0;  opacity: 1;  }

}

/*----------------------------------*/
/*             마이페이지           */
/*----------------------------------*/
#mypage{
  dl{
    margin-bottom:30px;
    padding-bottom:30px;
    border-bottom:1px solid lighten($border-color,8%);
    @extend %float-clear;
  }
  dl:last-child{margin-bottom:0;padding-bottom:0;border-bottom:0;}
  dt{
    float:left;
    width:140px;
    height:$table-head-height;
    margin-top:22px;
    font-size:0.9285rem;
    line-height:$table-head-height;
    //line-height:26px;
    @extend %font-b;
    color: $font-color-dark;
    &.double-row{line-height: 1.4;}
    //border-left:3px solid #ddd;
    //padding-left:14px;
  }
  dd{
    float:right;
    width:calc(100% - 145px);
    margin-bottom:10px;
    .tit{@include input-tit();}
    .con{
      border:1px solid $border-color;
      font-size:13px;
      height:$table-head-height;
      padding : $td-padding #{$td-padding *2};
      line-height: #{$table-head-height -($td-padding *2)};
    }
    .info{
      dd{width:calc((100% - 145px)/2);}
      .con{margin-right:10px;}
      dd:nth-child(2n) .con{margin-right:0;}
    }
    .receptionSet{
      //dt{float:inherit;}
      dd:nth-child(2),
      dd:nth-child(3){width:calc((100% - 145px)/2);}
      .con{margin-right:10px;padding-left:0;border:none;}
      .caution,
      button{margin-top:10px;}
    }

    .con.input-box{padding:0;}
    .con.input-box button {width:140px;}
    dl dd:last-child{margin-bottom:0;}
    .con.input-box.double {height:46px;}
    .con.input-box .double-row{height:44px;padding:4px 8px; text-align: justify;line-height: 18px;}
    small{margin-left:0;}
  }
  .btn-box{margin-top:1rem;}

  /*회원탈퇴*/
  #memSecession {
    .scroll-div>.inner{padding:40px 5%;}
    .arti-title{
      height:12vh !important;
      padding:14px !important;
      @include thema($title-bg, $title-font-color);
      border:1px solid $border-color;
      line-height:$title-height;
      @extend %font-b;
      @extend %float-clear;
      div{
        float:left;
        width:33.33%;
        height:50%;
        padding:0 $padding-type01;
        .float-left{}
        .float-right{  font-size: 1.5rem;  }
      }
    }
    .tooltip{
      font-size:$font-small;
      &:after{left:0;width:300px;}
    }
    dt h5{padding:1rem 0;font-size:1.15rem; }
    dt,dd{float:inherit;width:100%;height:auto;}
    button {display:inline-block;}

    table{
      border-collapse:separate;
      border-spacing : 2px;
      th {height:$table-head-height;text-align: left;}
      td {padding:1rem 0;}
      td p:first-child{margin-bottom:5px;}
      .way,
      .way01,
      .way02{padding:0 1rem;}
      .way01{background-color:lighten($primary-color,52%)}
      .way02{background-color:lighten($point-color,45%)}
    }
  }
}

.mypage-menu{
  width:100%;
  @include arti-height(135px);
  .arti-inner{bottom:0;}
}
[data-name=mypage]{
  width:100%;
  height:0;
  @include arti-height(calc(100vh - 235px));
  .arti-inner{top:0;border-top:0;}
}
.membershipInfo,
#memCerti{
  .arti-inner{}
  .scroll-div .inner{padding:40px 5%;}
}
.loginHistory{  }

.sub-menu{
  padding:10px 5% 14px;
  .sub-title{
    font-size:2rem;
    height:74px;
    line-height:74px;
  }
  .tabs{
  display:inline-block;
  margin-left:0px;
  margin-right:0;
  border:1px solid $primary-color;
  @extend %float-clear
  }
  .tab-title{
  display:block;
  float:left;
  width:auto;
  padding:5px 10px;
  border-right:1px solid $primary-color;
  color:$font-color-dark;
  font-size:1rem;
  }
  .tab-title:after{height:0px;}
  .tabs .tab-title:last-child{border-right:none;}
  .tab-title.active{
    @include thema($primary-color,#fff);
  }
}

.level{
  text-align: center;
  margin-bottom:70px;
  .mem{
    display: inline-block;
    width:120px;
    height:100px;
    padding:15px 20px;
    margin-right:15px;
    border:1px solid transparent;
    border-radius:3px;
  }
  .mem:last-child{margin-right:0;}
  .mem.on{
    @include thema($point-color, #fff);
    border-color:transparent;
  }
  .mem.off{
    /*
    @include thema(transparent,$point-color);
    border-color:$point-color;
    */
    @include thema(transparent,$font-color-dark );
    border-color:$point-color;
  }
  .mem .lv-name{margin-top:15px;}
  .mem .lv{margin-top:10px;font-size: $font-small;}

}
.password-change{
  dt{margin-top:0 !important;}
  dd{border:none;}
  dd button{width:100%;height:$table-head-height;padding : $td-padding #{$td-padding *2};margin-right:20px;}
  dd button:last-child{margin-right:0;}
}
.google-otp{
  dt{margin-top:0 !important;}
}

//mypage lightbox
#otpOnOff .lightbox-contents,
#otp .lightbox-contents{
  dt{margin-top:0;}
  .light-body{padding-bottom:0;border-bottom:0;}
  input{text-align:left;}
  .desc{font-size: 0.9285rem;}
}
#otp .lightbox-contents{
  .light-body{padding-top:2rem;}
  .otp-img img{width:80px;height:auto;opacity: 0.6;}
  .store-img{padding-top:1rem;}
  .store-img img{margin-right:1rem;}
}
#PassWord .lightbox-contents,
#secPassWord .lightbox-contents{
  dl{margin-bottom:0px;padding-bottom:0px;border-bottom:0;}
  dl dd{margin-bottom:1rem;}
  dl:last-child dd{margin-bottom:0;}
  dt{margin-top:0;}
  input{text-align:left;}
  .input-box:not(:last-child){margin-bottom:1rem;}
}
#secRemoveOtp .lightbox-contents{
  .light-body{
    padding-bottom:0;
    border-bottom:0;
  .input-box:not(:last-child){margin-bottom:1rem;}
    input{text-align:left;}
  }
}
#BANK .lightbox-contents{
  dt,dd{float: inherit;width:100%;}
  .info{
    display:inline-block;
    border-bottom:1px solid $font-color-dark;
    background-color:$buy-bg;
    font-size:1.1rem;
    color:$font-color-dark;
  }
  .info .name{font-size:1.285rem;}
  .bank-trans{
    width:300px;
    margin:0 1.6rem;
    border:1px solid $border-color;
    border-radius:3px;
    .tit{
      height:auto;
      padding:1rem 0.5rem 0.5rem;
      @include thema($primary-color,#fff);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-size:1.1rem;
      line-height: 1;
    }
    .trans{
      padding:1rem 0.5rem 0.5rem;
      spaan,
      small{display: block;}
      span{color:$font-color-dark;}
      @extend %float-clear;
    }
  }
  ol{}
  li{margin-bottom:1rem;line-height:1.6;}
  li p{padding-left:1.6rem;}
  #verify_val{text-align: left;}
}
#kyc{
  .light-body{padding:0;}
}

/*----------------------------------*/
/*               게시판             */
/*----------------------------------*/
#Board{
  .btn-box{
    margin-top:1rem;
    margin-right:1rem;
    button{display:inline;}
  }
}

//게시판 리스트
#Board-list{
  width: 100%;
  @include arti-height(calc(100vh - 95px));

  .tabs{
    .tab-title{}
  }
  .faq-list{
    td{position:relative;padding-left:3rem !important;}
    td:before{content:"";display:block;position:absolute;top:0;bottom:0;left:1rem;width:1.5rem;background-image: url(../images/icon/question-mark.png);background-repeat:no-repeat;background-position:center;background-size:1rem;}
  }
  table{
    border-bottom:1px solid $border-color;
    caption,
    summary{display: none;}
    thead{z-index: 1;}
    th,
    td{padding: 0 $td-padding ;}
    thead th,
    thead td,{
      @include thema($th-bg, $th-font-color);
      border-top:1px solid $border-color;
      border-bottom:1px solid $border-color;
      height: $table-head-height;
      @extend %font-r;
      font-size:$font-small;
      cursor:pointer;
    }
    thead select{
      height:calc(100% - 8px);
      border:1px solid $border-color;
      @include thema($th-bg, $th-font-color);
      @extend %font-r;
      font-size:$font-small;
      cursor:pointer;
    }
    tbody td{
      height:$td-height;
      border-bottom:1px solid $border-color;
      font-size: 0.85714rem;
      color: $font-color-dark;
      .sortData{display: none;}
      input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
      .date{font-size:0.85714rem;}
    }
    thead tr th:first-child,
    thead tr td:first-child,
    tbody tr td:first-child{padding-left: $padding-type03;}
    thead tr th:last-child,
    thead tr td:last-child,
    tbody tr td:last-child{padding-right: $padding-type03;}
    tbody tr:last-child:not(:nth-child(-n+10)) td{border-bottom:none;}

    /*hover active*/
    tbody tr:hover th,
    tbody tr:hover td,
    tbody tr.active th,
    tbody tr.active td{background-color:rgba(0,0,0,.07);cursor:pointer;}

  }
  #bankFraud{
    display:flex;
    border:1px solid $primary-color;
    @extend %float-clear;
    li{
      position:relative;
      width:100%;
      padding:5px 10px;
      border-right:1px solid $primary-color;
      color:$font-color-dark;
      font-size:1rem;
      text-align:center;
      @extend %title;

      &:last-child{border-right:none;}

      &:hover{cursor:pointer;}
      &:hover:not(.active){text-decoration: underline;}
      &.active{  @include thema($primary-color,#fff);  }
    }

  }

  .scam_report{
    .board-head{
      .ti{
        padding:5px 10px;
        color:$font-color-dark;
        font-size:1rem;
      }

      select{
        //@include thema($primary-color,#fff);
        width:100%;
        padding:5px 10px;
        border:1px solid $primary-color;
        color:$font-color-dark;
        font-size:1rem;
      }
    }
    .board-body{
      padding:calc(2rem - 10px) 5% 2rem;
      text-align: left;
      table{border-bottom:none;}
      tbody td{  padding:2rem 0 0;  border-bottom:none;  }
      tbody tr:first-child td{padding:0;}

      .tit{
        height:22px;
        font-size:$font-small;
        line-height:26px;
        color:$font-color-01;
      }
      .input-box input{
        height:$table-head-height;
        padding : $td-padding #{$td-padding *2};
        color:$font-color-01;
        font-size:13px;
        line-height: #{$table-head-height -($td-padding *2)};
        text-align: left !important;
      }
      .check-custom{display:inline-block;}
      textarea{
        width:100%;min-height:350px;padding:1rem;border:1px solid $border-color;
      }
    }

    tbody tr:hover th,
    tbody tr:hover td{background-color:transparent;cursor:initial;}
    ul.ex{
      margin-top:1rem;
      li{line-height: 1.6;color:$font-color-01;}
    }

  }

  .no-data{
    td{height:300px;text-align:center;}
  }
  .paging{
    padding-top:3rem;
    text-align: center;
    .pagination{
      @extend %float-clear;
    }
    .pagination li{display:inline-block;}
    .pagination li a{display: block;padding:10px;}
    .pagination li a.active{ @include thema($primary-color,#fff);}
  }
}

//게시판 디테일
#Board-detail{
  width:100%;
  min-height:100%;
  .arti-inner{min-height:calc(100vh - 95px);}
  //@include arti-height(42.7%);
  .board-template{border-top:1px solid $border-color;}
  .board-head,
  .board-body,
  .board-foot{padding: 0 $padding-type03; ;}
  .board-head{
    @include thema($th-bg, $th-font-color);
    border-bottom:1px solid $border-color;
    height: $table-head-height;
    line-height: $table-head-height;
    @extend %font-r;
    font-size:$font-small;
    .category{display:inline-block;min-width:140px;padding-right:1rem;text-align: center;}
    .title{}
    .date{float:right;}
  }
  .board-head .input-box{
    margin:-1px calc(-1rem - 1px);
    padding: 0 1rem;
    background-color:#fff;
    select{
      width:180px;
      //border:1px solid $border-color;
      //@include thema($th-bg, $th-font-color);
      //@extend %font-r;
      font-size:$font-small;
      cursor:pointer;
    }
    input{
      //border:1px solid $border-color;
      text-align: left;
    }
  }

  .board-body{
    min-height:calc(100vh - 350px);
    padding-top:1rem;padding-bottom:1rem;
    border-bottom:1px solid $border-color;
    font-size: 0.85714rem;
    color: $font-color-dark;
    line-height:1.6;
    .sortData{display: none;}
    input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
    .date{font-size:0.85714rem;}
    textarea{width:100%;height:100%;padding:1rem;border:1px solid $border-color;}
  }
  .board-foot{padding-top:2rem;padding-bottom:2rem;}

  /*입금사실증명*/
  #deposit_confirm{
    padding:0 5%;
    border-top:1px solid $border-color;
    .caption{color:red;}
    dl{padding:2rem 0;line-height: 1.6;}
    dt{margin-bottom:1rem;font-size: 1.1rem;color:$font-color-dark;font-weight: bold;}
    dd{
      font-size: 0.85714rem;
      p{margin-bottom:1rem;}
      .input-box input{text-align: left;}
      table{margin-bottom:1rem;}

      caption,
      summary{display: none;}
      thead{z-index: 1;}
      th,
      td{padding: 0 $td-padding ;}
      thead th,
      thead td,{
        @include thema($th-bg, $th-font-color);
        border-top:1px solid $border-color;
        border-bottom:1px solid $border-color;
        height: $table-head-height;
        @extend %font-r;
        font-size: 0.85714rem;
        cursor:pointer;
      }
      thead th{border-right:1px solid $border-color;@include thema($th-bg, $font-color-dark);}
      tbody th{ @include thema($th-bg, $font-color-dark);font-weight: normal;}
      tbody td{border-right:1px solid $border-color;text-align: center;}
      tbody td:last-child{border-right:none;}
      tbody th,
      tbody td{
        height:$td-height;
        border-top:1px solid $border-color;
        border-bottom:1px solid $border-color;
        font-size: 0.85714rem;
        .sortData{display: none;}
        input.dealID{display:block;width:100%;height:calc(100% - 8px);padding:0 4px;border:none;}
        .date{font-size:0.85714rem;}
      }

    }
    .state-desc{
      margin-bottom:1rem;
      li{margin-bottom:0.5rem;}
      button{
        width:100px;
        padding:0.25rem 0;
        font-size: 0.85714rem;
      }
    }

  }
}


/*뷰포트 너비가 1600px 이하이면 실행*/
@media screen and (max-width : 1680px){//$min-width
  header{
    height:auto;
    padding-top: $padding-type02;padding-right:0;padding-bottom:0;padding-left:0;
    .logo{  margin-left:10px;  }
    .gnb{  margin-right:10px;margin-bottom:10px; }
  }
}

/*뷰포트 너비가 700px이상 그리고 1400px 이하이면 실행*/
@media screen and (min-width : 700px) and (max-width : $min-width){//
  section{padding-left:300px;}
  #simple_notice{width:295px;}
  #coinList{width:295px;}
  #coinList colgroup col:nth-child(1),
  #coinList colgroup col:nth-child(5),
  #coinList tr th:nth-child(1),
  #coinList tbody tr td:nth-child(1),
  #coinList tr th:nth-child(5),
  #coinList tbody tr td:nth-child(5){display: none;border-bottom:none;}
  #coinList tbody tr{position:relative;height:41px;}
  #coinList tbody tr:first-child{height:77px;}
  #coinList tbody tr:first-child td:nth-child(2){padding-top:47px;}
}

/*뷰포트 너비가 700px 이하이면 실행*/
@media screen and (max-width : 700px){
  .scroll-custom,
  .scroll-div{overflow-y:scroll !important;}
  .scroll-custom .scrollBar,
  .scroll-custom .scrollRail,
  .scroll-div .scrollBar,
  .scroll-div .scrollRail{display:none !important;}

  .lightbox.small .lightbox-contents,
  .lightbox.large .lightbox-contents {width:calc(100% - #{$padding-type03 * 2}); }

  header{
    min-width:100%;
    padding-top:19px;
    padding-bottom:19px;
    .inner{width:100%;}
    #TradeMain{display:none;}
    .gnb{display:none;}
    nav{display:none;}
    .logo{
      padding-top:0;
      a {display:block;height:48px;margin-left:10px;}
      a img{width:auto;height:100%;}
    }
    .hamburger{
      display:block;
      float:right;
      position:relative;
      z-index:2000;
      width:25px;
      height:25px;
      margin-top:11px;
      margin-right:20px;
      button{
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        margin-top:11px;
        color: #fff;
        background-color: #fff;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        transition: all .2s ease-out;
      }
      button::before,
      button::after {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        transition: all .2s ease-out;
      }
      button::before {  top: -7px;  }
      button::after {  bottom: -7px;  }
      button::before {  top: -10px;  }
      button::after {  bottom: -10px;  }

      /*action*/
      &.active button {  background: transparent;  }
      &.active button::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
      &.active button:after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
      &.active button::before,
      &.active button::after {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        transition: all .2s ease-out;
      }
    }

    nav.mobile{
      position:fixed;
      top:0;
      left: 0;
      right: 100%;
      bottom: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
      &.active {right:0;}
      .list{
        position:fixed;
        z-index: 1901;
        width:270px;
        margin-top:3px;
        background-color:#000;
        top:0;
        bottom:0;
        padding:75px 40px 40px 40px;
        overflow-y:auto;
        transition:right 0.5s ease;
      }
      //action
      &.active .list{right:0;}
      &.active{display:block;}

      .depth1 a{
        display:block;
        height:auto;
        padding:0;
        font-size: 16px;
        line-height: 1.7;
        color:rgba(255, 255, 255, 0.5);
      }
      .dropdown{display:none;padding:1rem;}
      .dropdown a{font-size:1rem;}

      .btn{width:100%;height:2rem !important;margin-top:$padding-type03;font-size:0.8572rem !important;line-height: 2rem !important;}
    }
    nav.web{display: none;}
    nav.mobile{
      display:block;
      li.active .dropdown{display:block;}
    }
  }
  footer{
    min-width:100%;
    height:auto;
    padding:48px 26px 64px;
    .inner{width:100%;}
    .logo{margin-bottom:1rem;}
    .nav{
      float:left;
      display:block;
      width:100%;
    }
    .nav dl{
      display:block;
      margin-top:1rem;
    }
  }

  .wrap {
    min-width: 100%;;
  }
  section{
    min-width: 100%;;
    padding-left:5px;
    &#login {
      padding-top: $padding-type01;
      padding-bottom: $padding-type01;
      padding-right: $padding-type01;
      padding-left: $padding-type01;
    }
  }
  section article{float:inherit;}

  #login{
    height:auto;
    .login-box{width:100%;}
  }

  #terms_of_service{
    padding-top:$padding-type03;
    padding-right:$padding-type03;
    padding-bottom:$padding-type03;
    padding-left:$padding-type03;
  }

  #tradePage{min-width:100%;}
  section:not(#tradePage){width:100%;}

  #tv_chart_container{width:100%;  @include arti-height(50vh);}

  #askingprice{
    float:inherit;
    width:100%;
    padding-top:65rem;
    .hogasub dt,
    .hogasub dd,
    .hogasub dd div,
    .hogasub dd div:last-child{height:auto !important;line-height: 1.6 !important;}
  }

  #tradeBuySell{
    float:inherit;
    width:100%;
    padding-top:360px;
  }

  .tradeBuySell{
    float:inherit;
    position:initial;
    width:100%;
    @include arti-height(360px);
  }
  #coinList{
    float:inherit;
    position:initial;
    width:100%;
    height:100vh;
  }
  #simple_notice.active + #coinList{  height:100vh;  }
  #simple_notice.active + #coinList.extend{height:100vh;}
  #coinList.extend{height:100vh;}
  #simple_notice{
    float:inherit;
    position:initial;
    left:0;
    width:100%;
  }

  #conclusion-list{
    float:inherit;
    width:100%;
    @include arti-height(360px);
  }

  /*입출금 시작*/
  #inOutList{
    width:100%;
    @include arti-height(calc(100vh - 95px));
    .arti-title .type{display:none;}
  }

  /*investments 시작*/
  #totalAmount {
    width: 100%;
    @include arti-height(230px);
    .arti-title{padding:0;}
    .arti-title div{
      width:100%;
      height:auto;
      border-bottom:1px solid $border-color;
    }
    .arti-title div:nth-child(5){border-bottom:none;}
  }

  #contractList{
    width:100%;
    @include arti-height(calc(88vh - 100px));
    .scroll-custom thead tr th:first-child,
    .scroll-custom thead tr td:first-child,
    .scroll-custom tbody tr td:first-child{padding-left:0;}
    .scroll-custom thead tr th:last-child,
    .scroll-custom thead tr td:last-child,
    .scroll-custom tbody tr td:last-child{padding-right:0;}
    #tableCoinList{
      colgroup col:nth-child(3),
      colgroup col:nth-child(4),
      colgroup col:nth-child(6),
      thead tr th:nth-child(3),
      thead tr th:nth-child(4),
      thead tr th:nth-child(6),
      tbody tr td:nth-child(3),
      tbody tr td:nth-child(4),
      tbody tr td:nth-child(6){display: none;}
    }
  }

  #myAccount {
    width: 100%;
    @include arti-height(calc(100vh - 95px));
  }

  #Board-list{
    padding-top:0;
    margin:$padding-type01 0;
    .arti-inner{position:initial;}
    .board-foot{padding-bottom:2rem;}
  }

  #mypage{
    dl{
      margin-bottom:1rem;
      padding-bottom:1rem;
    }
    dt{margin-bottom:1rem;}
    dt, dd{float:inherit; width:100%;}

  }

  #otp .lightbox-contents{
    .otp-inner{overflow-y:scroll;height:500px;}

  }

}


.tab-con{
  overflow: hidden;
}

.scount{  cursor: pointer;  }

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/coinpass/loader.gif) center no-repeat #fff;
}

.fh5co-loader2 {
  display: none;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/coinpass/loader.gif) center no-repeat #fff;
}