<section id="balances">

	<!--여기에 leftAlign include 해주세요-->

	<!--입금/출금/입출금내역-->
	<article id="inOutList" data-title="입금/출금/입출금내역">
		<div class="arti-inner">
			<!--제목/탭-->
			<div class="arti-title">
				<span class="selectCoinType">BTC</span> 입출금
			</div>
			<!--//제목/탭-->

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active">BTC입금</div><!--탭 이름에 공백을 넣지 마세요-->
					<div class="tab-title">BTC출금</div>
					<div class="tab-title">BTC입출금내역</div>
				</div>
			</div>
			<!--//제목/탭-->

			<!--입금-->
			<div class="tab-con active buy-color" data-tabs="BTC입금">

				<!--계좌인증 후 KRW 1단계-->
				<div class="deposit_caution inContens active"><!--입금 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->

					<div class="input-box sum-wrap">
						<input type="text" class="" placeholder="입금 예정 금액(최소 10,000 KRW)" id="sum">
					</div>
					<div class="deposit_guide">
						<dl>
							<dt class="bFontType">1. 주의 사항 안내</dt>
							<dd>반드시 입금 신청한 금액만큼만 진행하셔야 합니다.</dd>
							<dd>입금 코드와 입금 신청 금액이 일치해야 정상적으로 반영됩니다.</dd>
							<dd>입금 예약은 1건만 가능하며, 추가 입금을 원할 경우, 대기중인 입금 완료 건이 완료되이어야 합니다.</dd>
							<dd>입금 반영까지 약 30분 정도가 소요되며, 입금 반영 완료시 이메일과 SMS로 안내 드립니다.</dd>
							<dd>자금세탁방지법 준수를 위해 72시간 동안 원화 및 암호화폐 출금이 제한 될 수 있습니다.</dd>
							<dd>보이스 피싱 및 대출사기에 이용되지 않도록 각별한 주의 부탁드립니다. 사안에 따라 본인에게 법적 책임이 따를 수 있습니다.</dd>
							<dt class="bFontType">2. 입금 실패 및 반환 안내</dt>
							<dd>입력한 입금 예정 금액과 다른 금액을 이체할 경우, 입금 실패로 반환 처리 됩니다.</dd>
							<dd입금 실패로 반환이 발생할 경우, 입금 사실 확인 후 반환되며 반환 수수료 1,000원이 차감 됩니다.</li>
							<dd>입금 사실 확인을 위해서는 송금한 은행으로부터 발급 받은 송금 확인증 사본이 필요하며, 반환까지 수일 소요됩니다</dd>
						</dl>
					</div>
					<div class="assent check-custom">
						<input type="checkbox" id="agree"><label for="agree">위 내용을 확인했으며, 이에 동의합니다.</label>
					</div>
					<button type="button" id="reSum" class="btn-200 btn-color-primary" disabled="disabled">입금 신청</button>
				</div>
				<!--계좌인증 후 KRW 1단계-->

				<!--계좌인증 후 KRW 2단계-->
				<div class="deposit_caution inContens"><!--입금 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->

					<div class="bank_info">
						<dl>
							<dt>입금 신청 금액</dt>
							<dd class="input-box"><div class="float-right"><span id="reqPrice">1,000</span><small>KRW</small></div></dd>
						</dl>
						<dl>
							<dt>은행명</dt>
							<dd  id="bankName">우리은행</dd>
						</dl>
						<dl>
							<dt>계좌번호</dt>
							<dd class="input-box">
								<input type="text" value="1005102610263" readonly="readonly" id="accountNumber">
								<button type="button">복사</button>
							</dd>
						</dl>
						<dl>
							<dt>예금주</dt>
							<dd id="depositor">주식회사 회사이름</dd>
						</dl>
						<dl class="deposit_name">
							<dt class="bFontType">입금코드</dt>
							<dd class="input-box">
								<input type="text" value="143112" readonly="readonly" id="accountCode">
								<button type="button">복사</button>
							</dd>
						</dl>
						<div class="deposit_name_ex">입금코드를 "<span class="caution">받는 통장 표시 내용</span>"란에 입력해주세요.</div>
					</div>

					<div class="deposit_guide full">
						<ul>
							<li>입금예약은 <span id="validTime">20</span>분 동안 유효하며, 유효기간이 만료된 이후에는 입금예약을 신규로 다시 접수하셔야 합니다</li>
							<li>비트프렌즈에 등록한 출금계좌에서 입금 진행해주세요.</li>
							<li>위의 입금계좌로 입금액과 입금코드를 정확히 일치시켜 이체해주세요. 불일치시 입금 실패로 반환되며, 반환까지 수일 소요됩니다.</li>
							<li>처음 입금하시는 경우, 72시간 동안 원화 및 암호화폐 출금이 제한됩니다.</li>
							<li>입금코드 입력시, 공백이 있으면 오입력한 것으로 처리됩니다.</li>
						</ul>
					</div>

					<button type="button" id="deposit_cancel" class="btn-200 btn-color-primary" onclick="cancelKrwDepositReq()">입금취소</button>
				</div>
				<!--//계좌인증 후 KRW 2단계-->

				<!--지갑주소 생성 전 코인-->
				<div id="ulNullAddr" class="inContens"><!--입금 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->
					<dl>
						<dt class="inOutTitle">입금주소 생성 버튼을 클릭하면 회원님 고유의  <span class="selectCoinType">BTC</span> 입금주소가 발급 됩니다.</dt>
						<dd><button type="button" class="btn-200 btn-color-primary">입금주소 생성하기</button></dd>
					</dl>
				</div>
				<!--//지갑주소 생성 전 코인-->

				<!--지갑주소 생성 후 코인-->
				<div id="ulAddr" class="inContens"><!--입금 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->
					<div class="inOutTitle">아래의 주소로 <span class="selectcoinType">BTC</span>자산을 입금할 수 있습니다.</div>
					<dl>
						<dt>내 BTC 지갑주소</dt>
						<dd class="input-box">
							<input type="text" readonly="readonly" value="14gFiXKH41Qxx2HLdgJs5QLMBLJ7jvvgep">
							<button type="button">복사</button>
						</dd>
					</dl>
					<dl>
						<dt>QR코드</dt>
						<dd class="text-center">
							<div class="qr">
								<img src="다운로드.png" alt="qr code">
							</div>
						</dd>
					</dl>
					<div class="caution text-center">위의 주소는 입금전용 주소입니다.</div>
				</div>
				<!--//지갑주소 생성 후 코인-->
			</div>
			<!--//입금-->

			<!--출금-->
			<div  id="CoinOut" class="tab-con buy-color" data-tabs="BTC출금">

				<div class="text-center inOutTitle">아래의 주소로 보유중인 <span class="selectCoinType">BTC</span> 자산을 출금합니다.</div>
				<div class="inoutAomount">
					<dl>
						<dt class="title bFontType">보유<span class="selectCoinType">BTC</span>수량</dt>
						<dd class="price">
							<span id="balance" class="numBold">0.00102000</span>
							<small class="selectCoinType">BTC</small>
						</dd>
					</dl>
					<dl>
						<dt class="title">사용중인 금액</dt>
						<dd class="price">
							<span id="exchangeIng"">0.00000000</span>
							<small class="selectCoinType">BTC</small>
						</dd>
					</dl>
					<dl>
						<dt class="title">출금가능 금액</dt>
						<dd class="price">
							<span id="exchangeCan">0.00102000</span>
							<small class="selectCoinType">BTC</small>
						</dd>
					</dl>
				</div>

				<input type="hidden" id="outCan">

				<!--출금한도-->
				<div class="withdrawalLimit">
					<dl>
						<dt>1일 출금한도</dt>
						<dd><span class="day_limit">0</span><small class="selectCoinType">BTC</small></dd>
					</dl>
					<dl>
						<dt>1회 출금한도</dt>
						<dd ><span class="out_limit">0</span><small class="selectCoinType">BTC</small></dd>
					</dl>
				</div>
				<!--출금한도-->

				<!--출금금액 coin-->
				<div class="coin_out_info"><!--출금금액 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->
					<dl id="div_out_add">
						<dt>입금할주소</dt>
						<dd class="input-box">
							<input type="text" class="form-control" id="outCoinAdd" name="outCoinAdd" placeholder="출금주소 입력">
							<button type="button" class="" id="outCoinAddchk">주소검증</button>
						</dd>
					</dl>
					<dl id="div_out_etc">
						<dt id="label_out_etc">데스티네이션 태그</dt>
						<dd class="input-box">
							<input type="text" id="outDestinationTag" name="outDestinationTag" placeholder="데스티네이션 태그" />
						</dd>
					</dl>
					<dl id="div_out_qty">
						<dt>출금 금액</dt>
						<dd class="input-box">
							<input type="text" id="outCoinQty" name="outCoinQty" placeholder="출금 신청 수량">
							<button type="button" id="CoinQtyMax">최대</button>
						</dd>
					</dl>
					<div class="caution text-right">최소출금 금액은 <span>0.001</span> <span class="selectCoinType">BTC</span> 입니다.</div>
				</div>
				<!--//출금금액 coin-->

				<!--출금금액 krw-->
				<div class="krw_out_info active"><!--출금금액 - class active를 넣으면 display:block, active가 없으면 display:none 됩니다.-->
					<dl>
						<dt>출금계좌</dt>
						<dd>
							<div>
								<div class="float-left">은행명</div>
								<div class="float-right"><span id="mb_bank_name">IBK기업은행</span></div>
							</div>
							<div>
								<div class="float-left">계좌번호</div>
								<div class="float-right"><span id="mb_account">*******4545</span></div>
							</div>
							<div>
								<div class="float-left">예금주</div>
								<div class="float-right"><span id="mb_account_owner">엄미정</span>
							</div>
						</dd>
					</dl>

					<dl id="">
						<dt>출금 금액</dt>
						<dd class="input-box">
							<input type="text" id="outKrwQty" name="outKrwQty" placeholder="출금 신청 수량">
							<button type="button" id="KrwQtyMax">최대</button>
						</dd>
					</dl>
					<div class="caution text-right">최소출금 금액은 <span class="min_exchange">10000</span> <small class="selectcoinType">KRW</small> 입니다.</div>
				</div>
				<!--//출금금액 krw-->

				<!--부가세-->
				<div>
					<dl>
						<dt>출금수수료(부가세포함)</dt>
						<dd>
							<span id="outFee">0.0005</span>
							<small class="selectCoinType">BTC</small>
						</dd>
					</dl>
					<dl>
						<dt>총출금수량(수수료포함)</dt>
						<dd>
							<span id="totalExchangeCan" class="numBold">0</span>
							<small class="selectCoinType">BTC</small>
						</dd>
					</dl>
				</div>
				<!--부가세-->

				<!--인증번호 발송-->
				<div>
					<dl class="">
						<dd class="input-box block">
							<div class="read-only">
								<input type="text" class="" id="phoneNo" name="phoneNo" readonly="readonly" value="123-456-7890">
								<div id="timer"></div>
							</div>
							<button type="button" id="SendCertifyNum">인증번호 발송</button>
						</dd>
					</dl>
					<dl class="">
						<dd class="input-box block">
							<div>
								<input type="text" class="" id="certify_num" name="certify_num">
								<div id="coinAuthViewTimer_krw"></div>
							</div>
							<button type="button" id="ConfirmCertifyNum">인증번호 검증</button>
						</dd>
					</dl>
				</div>
				<!--인증번호 발송-->

				<!--2차 인증번호-->
				<div class="borderZero">
					<dl id="divSecondaryAuthentication">
						<dt>2차 비밀 번호</dt>
						<dd class="input-box"><input type="password" class="form-control numbersOnly" id="secuNo" name="secuNo" placeholder="2차 비밀 번호 입력" maxlength="4"></dd>
					</dl>
				</div>
				<!--//2차 인증번호-->

				<!--구글인증코드-->
				<div class="borderZero" hidden>
					<dl id="divOTP">
						<dt>구글OTP 인증코드</dt>
						<dd class="input-box">
							<input type="text" class="" id="otpCode" name="otpCode" placeholder="구글OTP 인증코드" maxlength="6">
						</dd>
					</dl>
				</div>
				<!--//구글 인증코드-->

				<!--출금버튼-->
				<div>
					<button type="button" class="btn-block btn-color-primary" id="CoinOutGo">
						<span class="selectCoinType">BTC</span>출금
					</button>
				</div>
				<!--//출금버튼-->

			</div>
			<!--//출금-->

			<!--입출금 내역-->
			<div class="tab-con buy-color" data-tabs="BTC입출금내역">
				<div class="inOutList">
					<div class="scroll-custom">
						<table id="tableInOutCList">
						<colgroup>
							<col width="15%">
							<col width="71%">
							<col width="14%">
						</colgroup>
							<thead>
								<tr>
									<th class="text-left check-custom" colspan="3" >
										<input type="radio" id="excType4" name="inOutView_coin" value="ALL" checked="checked"><label for="excType4">전체</label>
										<input type="radio" id="excType5" name="inOutView_coin" value="D"><label for="excType5">입금</label>
										<input type="radio" id="excType6" name="inOutView_coin" value="W"><label for="excType6">출금</label>
									</th>
								</tr>
							</thead>
						<tbody>

						<!--내역이 있을경우-->
						<tr>
							<td class="text-center">
								<div class="up bFontType">관리자 입금</div><!--입급은 클래스 up, 출금은 클래스 down을 넣어주세요.-->
								<div class="completion">입금완료</div>
							</td>
							<td>
								<div class="trader">
									<div class="float-left text-center">거래 ID</div>
									<div class="float-right input-box">
										<input type="text" id="traderId_0" readonly="readonly" value="14gFiXKH41Qxx2HLdgJs5QLMBLJ7jvvgep">
										<button type="button">복사</button>
									</div>
								</div>
								<div class="text-right sum numBold">0.001<small>BTC</small></div>
							</td>
							<td class="date">2019-03-21<br>18:59:12</td>
						</tr>
						<!--//내역이 없을경우-->

						<!--내역이 없을경우-->
						<tr class="noData" hidden >
							<td colspan="3">내역이 없습니다.</td>
						</tr>
						<!--//내역이 없을경우-->

						</table>
				</div>
			</div>
			<!--//입출금 내역-->


		</div>
	</article>
	<!--//입금/출금/입출금내역-->

	<!--보유자산-->
	<article id="myAccount" data-title="보유자산">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">보유자산 <div class="float-right"><span  id="possesion_price">10,000</span><small>KRW</small></div></div>
			<!--//제목/탭-->

			<div class="tab-con active buy-color">

				<div class="scroll-custom">
					<table id="tbCoinList">
						<colgroup>
							<col width="10%">
						</colgroup>
						<thead>
						<tr>
							<td>
								<!--검색창-->
								<div class="coin-search">
									<input type="text" id="Coinsearch" placeholder="코인명/심볼검색">
								</div>
								<!--//검색창-->
							</td>
						</tr>
						<tr>
							<th class="text-left check-custom">
								<input type="checkbox"  name="" id="possessionCoin"><label for="possessionCoin">보유코인만 보기</label>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<div class="coin_name">
									<span class="img-cover"><img class="img_coin" src="assets/images/coin/BTC.png"></span>비트코인 / BTC
									<span class="span_inout_can" data-tooltip-text="입출금 가능"></span>
								</div>
								<div class="text-right"><span class="numFontType">0.05</span><small class="font-light">BTC</small></div>
								<div class="text-right"><span class="numFontType">272,258</span><small class="font-light">KRW</small></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="coin_name">
									<span class="img-cover"><img class="img_coin" src="assets/images/coin/BTC.png"></span>비트코인 / BTC
									<span class="span_inout_not" data-tooltip-text="입출금 불가능"></span>
								</div>
								<div class="text-right"><span class="numFontType">0.05</span><small class="font-light">BTC</small></div>
								<div class="text-right"><span class="numFontType">272,258</span><small class="font-light">KRW</small></div>
							</td>
						</tr>
						</tbody>
					</table>
			</div>

		</div>
	</article>
	<!--//보유자산-->

</section>
