<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="ko" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="wrap">
<header>
	<div class="logo"><img src="assets/images/common/logo.png" alt="logo"></div>
	<div id="TradeMain">
		<div class="float-left">
			<div class="tradeTopbox">
				<div class="float-left coinTItle">
					<span class="img-cover"><img class="img_coin" src="assets/images/coin/BTC.png" alt="코인 아이콘"></span>
					<span id="pageTitle">비트코인</span>
					<span class="coinType ">BTC</span>
					<sapn>/</sapn>
					<span class="priceType">KRW</span>
				</div>
				<div class="float-left">
					<span id="spanBithumb" class="numFontType">4,336,000</span>
					<span id="bithumbPer" class="font-color-plus numFontType">(0.32%)</span>
				</div>
			</div>
			<div class="TodayNowPrice">
				전일대비
				<span id="presentValue" class="font-color-plus">
					<span>▲ </span class="numFontType">130,000 / 3.08 %
				</span>
			</div>
		</div>
		<div class="selectCoinStatus float-right">
			<div>고가 : <span id="HighPriceToday_top" class=" font-color-plus numFontType">4,350,000</span></div>
			<div>저가 : <span id="LowPriceToday_top" class="font-color-minus numFontType">4,210,000</span></div>
		</div>
	</div>
	<div class="gnb">
		<ul>
			<li><a href="#">로그인</a></li>
			<li><a href="#">회원가입</a></li>
			<li>
				<select>
					<option value="kr">KR</option>
					<option value="en">EN</option>
				</select>
			</li>
		</ul>
	</div>
	<nav>
		<ul>
			<li><a href="#">추첨권</a></li>
			<li><a href="#">거래소</a></li>
			<li><a href="#">마진거래</a></li>
			<li><a href="#">콥(COP)</a></li>
			<li><a href="#">IEO</a></li>
			<li><a href="#">에어드롭</a></li>
			<li><a href="#">고객센터</a></li>
		</ul>
	</nav>
</header>

<section id="tradePage">

	<!--호가창-->
	<article id="askingprice" data-title="askingprice">
		<div class="arti-inner">
			<div class="arti-title">
				일반호가
			</div>
			<div class="tab-con active">
				<div class="scroll-custom">
					<table class="hogaTable">
						<caption>호가 테이블</caption>
						<colgroup>
							<col width="33%"><col width="34%"><col width="33%">
						</colgroup>
						<tbody>

						<tr>
							<td>
								<a href="#">
									<div class="gauge sell" id="SellQtyBar_10" style="width: 23%;"></div>
									<p class="sell coin-qty numFontType" id="SellQty_10">174,138.97130</p>
								</a>
							</td>
							<td class="SellTd">
								<div class="nowPriceWrap" id="nowPrice_s_10">
									<div class="text-left float-left"><div class="font-color-plus numFontType" id="SellPers_10">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" id="SellPrice_10">1.58</div>
									</div>
								</div>
							</td>

							<td rowspan="10" class="hogasub" style="padding:0;border-bottom:0;vertical-align: bottom;">
								<div class="coinNow">
									<p class="coinNowinfo">
										<span class="txt">거래량</span>
										<span id="TodayContractQty_1" class="numFontType">3,024,010.238</span>
										<span class="coinType">KST</span>
									</p>
									<p class="coinNowinfo">
										<span class="txt">거래대금</span>
										<span id="TodayContractPrice"><span class="numFontType">4</span> 백만 <span class="rFontType">KRW</span></span>
									</p>
									<p class="coinNowinfo">
										<span  class="txt">전일종가</span>
										<span id="TodayStartPrice" class="numFontType">1.43</span>
									</p>
									<p class="coinNowinfo">
										<span class="txt">금일고가</span>
										<span id="HighPriceToday" class="font-color-plus numFontType">1.49</span><br>
										<span id="HighPresentToday" class="font-color-plus numFontType"><span>+ </span>4.19 %</span>
									</p>
									<p class="coinNowinfo">
										<span class="txt">금일저가</span>
										<span id="LowPriceToday" class="font-color-minus numFontType">1.41</span><br>
										<span id="LowPresentToday" class="font-color-minus numFontType">-1.39 %</span>
									</p>
								</div>
							</td>
						</tr>

						<tr v-for="index in 9">
							<td>
								<a href="#">
									<div class="gauge sell" v-bind:id="'SellQtyBar_'+index" style="width: 23%;"></div>
									<p class="sell coin-qty" class="numFontType" v-bind:id="'SellQty_'+index">174,138.97130</p>
								</a>
							</td>
							<td class="SellTd">
								<div class="nowPriceWrap" v-bind:id="'nowPrice_s_'+index">
									<div class="text-left float-left"><div class="font-color-plus numFontType" v-bind:id="'SellPers_'+index">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" v-bind:id="'SellPrice_'+index">1.58</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<!--체결정보-->
							<td rowspan="10" style="padding:0;border-bottom:0;vertical-align: top;">
								<div class="contractListTable">
									<span class="contractPer float-left txt">체결강도</span>
									<div class="float-right">
										<span id="ContractPer" class="contractPer numFontType">176.94</span>
										<span class="contractPer">%</span>
									</div>
								</div>

								<div class="contractList">
									<ul>
										<li>
											<span class="contractPer float-left">체결가격</span>
											<span class="contractPer float-right">체결수량</span>
										</li>
										<li v-for="index in 13">
											<span v-bind:id="'coinPrice_'+index" class="numFontType float-left">1.43</span>
											<span v-bind:id="'coinQty__'+index" class="font-color-minus numFontType float-right">8000.00000</span>
										</li>
									</ul>
								</div>
							</td>
							<!--//체결정보-->

							<td class="BuyTd">
								<div class="nowPriceWrap" id="nowPrice_b_11">
									<div class="text-left float-left"><div class="font-color-plus numFontType" id="BuyPers_1">1.39 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" id="BuyPrice_1">1,000.45000000</div>
									</div>
								</div>
							</td>
							<td class="text-left">
								<a href="#">
									<div class="gauge buy" id="BuyQtyBar_1" style="width: 23%;"></div>
									<p class="buy coin-qty numFontType" id="BuyQty_1">1,454.54545</p>
								</a>
							</td>
						</tr>

						<tr v-for="index in 9">
							<td class="BuyTd">
								<div class="nowPriceWrap" v-bind:id="'nowPrice_b_'+index">
									<div class="text-left float-left"><div class="font-color-plus numFontType" v-bind:id="'BuyPers_'+index">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" b-vind:id="'BuyPrice_'+index">1.58</div>
									</div>
								</div>
							</td>
							<td>
								<a href="#">
									<div class="gauge buy" b-vind:id="'BuyQtyBar_'+index" style="width: 23%;"></div>
									<p class="buy coin-qty numFontType" b-vind:id="'BuyQty_'+index">174,138.97130</p>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<table class="SellQtySum text-center">
					<colgroup>
						<col width="33%"><col width="34%"><col width="33%">
					</colgroup>
					<thead>
					<tr>
						<td id="SellQtySum" class="font-color-minus">4,221,109.08280</td>
						<td>
							<div class="bFontType">
								주문잔량 합계
							</div>
						</td>
						<td id="BuyQtySum" class="font-color-plus">8,348,556.81696</td>
					</tr>
					</thead>
				</table>

			</div>
	</article>
	<!--//호가창-->


	<!--공지사항-->
	<article id="simple_notice" class="active" data-title="simple_notice">
		<div class="arti-inner">
			<div class="arti-title">
				<a href="#">공지사항</a>
				<button type="button" class="close">X</button>
			</div>
		</div>
	</article>
	<!--//공지사항-->

	<!--코인리스트-->
	<article  id="coinList" data-title="coinList">
		<div class="arti-inner">
			<!--검색창-->
			<div class="coin-search">
				<input type="text" id="Coinsearch" placeholder="코인명/심볼검색">
			</div>
			<!--//검색창-->

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active">tab1</div>
					<div class="tab-title">tab2</div>
					<div class="tab-title">tab3</div>
					<div class="tab-title myAmount">보유코인</div>
				</div>
			</div>
			<!--//제목/탭-->

			<div id="divKRW" class="tab-con active">
				<div class="scroll-custom hover">
					<table id="tableMarketKRW">
						<colgroup>
							<col width="8%">
							<col width="25%">
							<col width="24%">
							<col width="20%">
							<col width="23%">
						</colgroup>
						<thead>
						<tr>
							<th width="8%" class="text-center;"></th>
							<th width="25%" class="text-left">한글명</th>
							<th width="24%" class="text-right">현재가</th>
							<th width="20%" class="text-right">전일대비</th>
							<th width="23%" class="text-right">거래대금</th>
						</tr>
						</thead>
						<tbody id="tbKRWMarket">
						<tr  v-for="index in 8" onclick="orderChange('KRW','BTC')">
							<td id="trCandleKRWBTC" class="text-center;">
								<div class="bar up">
									<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
									<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
								</div>
							</td>
							<td class="text-left">
								<span class="span_right_krw_sample bFontType">비트코인</span>
								<br>
								<small class="span_right_usd_sample font-light">(BTC)</small>
							</td>
							<td class="text-right">
								<span class="font-color-plus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
							</td>
							<td class="text-right">
								<span id="Right_Persent_KRWBTC" class="font-color-plus numFontType">+ 2.61 %
									<span class="sortData numFontType">2.61</span>
								</span>
							</td>
							<td class="text-right">
								<span id="Right_TotalAmount_KRWBTC"> <span class="numFontType">13 </span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
							</td>
						</tr>
						<tr onclick="orderChange('KRW','BTC')">
							<td id="trCandleKRWBTC" class="text-center;">
								<div class="bar up">
									<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
									<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
								</div>
							</td>
							<td class="text-left">
								<span class="span_right_krw_sample bFontType">비트코인</span>
								<br>
								<small class="span_right_usd_sample font-light">(BTC)</small>
							</td>
							<td class="text-right">
								<span class="font-color-minus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
							</td>
							<td class="text-right">
								<span id="Right_Persent_KRWBTC" class="font-color-minus numFontType">- 2.61 %
									<span class="sortData numFontType">2.61</span>
								</span>
							</td>
							<td class="text-right">
								<span id="Right_TotalAmount_KRWBTC"> <span class="numFontType">13 </span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
							</td>
						</tr>

						</tbody>
					</table>
				</div>

			</div>

			<div class="tab-con">
				<div class="scroll-custom hover">
					<table id="">
						<colgroup>
							<col width="8%">
							<col width="25%">
							<col width="24%">
							<col width="20%">
							<col width="23%">
						</colgroup>
						<thead>
						<tr>
							<th width="8%" class="text-center;"></th>
							<th width="25%" class="text-left">한글명</th>
							<th width="24%" class="text-right">현재가</th>
							<th width="20%" class="text-right">전일대비</th>
							<th width="23%" class="text-right">거래대금</th>
						</tr>
						</thead>
						<tbody id="">
						<tr  v-for="index in 8" >
							<td id="" class="text-center;">
								<div class="bar up">
									<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
									<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
								</div>
							</td>
							<td class="text-left">
								<span class="span_right_krw_sample bFontType">비트코인</span>
								<br>
								<small class="span_right_usd_sample font-light">(BTC)</small>
							</td>
							<td class="text-right">
								<span class="font-color-plus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
							</td>
							<td class="text-right">
								<span id="Right_Persent_KRWBTC" class="font-color-plus numFontType">+ 2.61 %
									<span class="sortData numFontType">2.61</span>
								</span>
							</td>
							<td class="text-right">
								<span id="Right_TotalAmount_KRWBTC"> <span class="numFontType">13 </span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
							</td>
						</tr>
						<tr onclick="orderChange('KRW','BTC')">
							<td id="trCandleKRWBTC" class="text-center;">
								<div class="bar up">
									<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
									<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
								</div>
							</td>
							<td class="text-left">
								<span class="span_right_krw_sample bFontType">비트코인</span>
								<br>
								<small class="span_right_usd_sample font-light">(BTC)</small>
							</td>
							<td class="text-right">
								<span class="font-color-minus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
							</td>
							<td class="text-right">
								<span id="Right_Persent_KRWBTC" class="font-color-minus numFontType">- 2.61 %
									<span class="sortData numFontType">2.61</span>
								</span>
							</td>
							<td class="text-right">
								<span id="Right_TotalAmount_KRWBTC"> <span class="numFontType">13 </span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
							</td>
						</tr>

						</tbody>
					</table>
				</div>

			</div>

	</article>
	<!--//코인리스트-->

	<!--차트-->
	<article id="tv_chart_container" data-title="tv_chart_container">
		<div class="arti-inner">
			tv_chart_container
		</div>
	</article>
	<!--//차트-->

	<!--체결/미체결-->
	<article id="tradeBuySell" data-title="tradeBuySell">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active">체결</div>
					<div class="tab-title">미체결</div>
				</div>
			</div>
			<!--//제목/탭-->
			<div class="tab-con active">
				tradeBuySell
			</div>
			<div id="sellbuyOrder"></div>
		</div>
	</article>
	<!--//체결/미체결-->


	<!--일별종가/체결내역/미체결내역-->
	<article id="conclusion-list" data-title="conclusion-list">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active">일별종가</div>
					<div class="tab-title">체결내역</div>
					<div class="tab-title">미체결내역</div>
				</div>
			</div>
			<!--//제목/탭-->

			<div class="tab-con active">
				<div class="scroll-custom">
					<table id="ClosePriceList">
						<caption>일자별종가</caption>
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
						<tr>
							<th width="25%" class="text-left">일자</th>
							<th width="25%" class="text-right">종가 (KRW)</th>
							<th width="25%" class="text-right">전일대비</th>
							<th width="25%" class="text-right">거래량 (BTC)</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="index in 30">
							<td id="closeDate15"><small>03-14</small></td>
							<td class="text-right numBold"><span class="font-color-minus">4,220,000</span></td>
							<td class="text-right"><span class="font-color-minus">-1.4%</span></td>
							<td class="text-right"><span class="font-color-minus">3.04845</span></td>
						</tr>
						<tr>
							<td id="closeDate15"><small>03-14</small></td>
							<td class="text-right numBold"><span class="font-color-plus">4,220,000</span></td>
							<td class="text-right"><span class="font-color-plus">-1.4%</span></td>
							<td class="text-right"><span class="font-color-plus">3.04845</span></td>
						</tr>
						</tbody>
					</table>
				</div>


			</div>
	</article>
	<!--//일별종가/체결내역/미체결내역-->
</section>
<footer>footer</footer>


</div>
<script src="assets/vendor/vue.js"></script>
<script src="assets/vendor/jquery-3.1.1.min.js"></script>
<script src="assets/js/common.js"></script>
</body>