<section id="tradePage"> <!--아이디값 tradePage은 거래소 화면에서만 해당됩니다. 입출금, 투자내역은 다른 아이디값 들어갈예정입니다.-->

	<!--여기에 leftAlign include 해주세요-->

	<!--호가창-->
	<article id="askingprice" data-title="askingprice">
		<div class="arti-inner">
			<div class="arti-title">
				일반호가
			</div>
			<div class="tab-con active">
				<div class="scroll-custom">
					<table class="hogaTable">
						<caption>호가 테이블</caption>
						<colgroup>
							<col width="33%"><col width="34%"><col width="33%">
						</colgroup>
						<tbody>

						<tr>
							<td>
								<a href="#">
									<div class="gauge sell" id="SellQtyBar_10" style="width: 23%;"></div>
									<p class="sell coin-qty numFontType" id="SellQty_10">174,138.97130</p>
								</a>
							</td>
							<td class="SellTd">
								<div class="nowPriceWrap" id="nowPrice_s_10">
									<div class="text-left float-left"><div class="font-color-plus numFontType" id="SellPers_10">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" id="SellPrice_10">1.58</div>
									</div>
								</div>
							</td>

							<td rowspan="10" class="hogasub">
								<dl>
									<dt>거래량</dt>
									<dd>
										<span id="TodayContractQty_1" class="numFontType font-dark">24,010.238</span>
										<small class="coinType">KST</small>
									</dd>
								</dl>
								<dl>
									<dt>거래대금</dt>
									<dd>
										<span class="numFontType font-dark">4</span><small class="rFontType">백만</small>
										<small class="rFontType small">KRW</small>
									</dd>
								</dl>
								<dl>
									<dt>전일종가</dt>
									<dd><span id="TodayStartPrice" class="font-dark numFontType">4,420,000</span></dd>
								</dl>
								<dl>
									<dt>금일고가</dt>
									<dd>
										<div id="HighPriceToday" class="font-color-plus numFontType">1.49</div>
										<div id="HighPresentToday" class="font-color-plus numFontType">+4.19 %</div>
									</dd>
								</dl>
								<dl>
									<dt>금일저가</dt>
									<dd>
										<div id="LowPriceToday" class="font-color-minus numFontType">1.41</div>
										<div id="LowPresentToday" class="font-color-minus numFontType">-1.39 %</div>
									</dd>
								</dl>
							</td>
						</tr>

						<tr v-for="index in 9">
							<td>
								<a href="#">
									<div class="gauge sell" v-bind:id="'SellQtyBar_'+index" style="width: 23%;"></div>
									<p class="sell coin-qty numFontType" v-bind:id="'SellQty_'+index">174,138.97130</p>
								</a>
							</td>
							<td class="SellTd">
								<div class="nowPriceWrap" v-bind:id="'nowPrice_s_'+index">
									<div class="text-left float-left"><div class="font-color-plus numFontType" v-bind:id="'SellPers_'+index">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" v-bind:id="'SellPrice_'+index">1.58</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<!--체결정보-->
							<td rowspan="10" class="contractList">
								<dl class="top">
									<dt class="contractPer">체결강도</dt>
									<dd>
										<span id="ContractPer" class="contractPer numFontType">176.94</span>
										<small class="contractPer">%</small>
									</dd>
								</dl>
								<dl class="top">
									<dt class="contractPer float-left">체결가격</dt>
									<dt class="contractPer float-right">체결수량</dt>
								</dl>
								<dl v-for="index in 13">
									<dd v-bind:id="'coinPrice_'+index" class="numFontType">1.43</dd>
									<dd v-bind:id="'coinQty__'+index" class="font-color-minus numFontType">8000.00000</dd>
								</dl>
							</td>
							<!--//체결정보-->

							<td class="BuyTd">
								<div class="nowPriceWrap" id="nowPrice_b_11">
									<div class="text-left float-left"><div class="font-color-plus numFontType" id="BuyPers_1">1.39 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" id="BuyPrice_1">1,000.45000000</div>
									</div>
								</div>
							</td>
							<td class="text-left">
								<a href="#">
									<div class="gauge buy" id="BuyQtyBar_1" style="width: 23%;"></div>
									<p class="buy coin-qty numFontType" id="BuyQty_1">1,454.54545</p>
								</a>
							</td>
						</tr>

						<tr v-for="index in 9">
							<td class="BuyTd">
								<div class="nowPriceWrap" v-bind:id="'nowPrice_b_'+index">
									<div class="text-left float-left"><div class="font-color-plus numFontType" v-bind:id="'BuyPers_'+index">10.48 %</div></div>
									<div class="text-right float-right">
										<div class="font-color-plus numFontType numBold" b-vind:id="'BuyPrice_'+index">1.58</div>
									</div>
								</div>
							</td>
							<td>
								<a href="#">
									<div class="gauge buy" b-vind:id="'BuyQtyBar_'+index" style="width: 23%;"></div>
									<p class="buy coin-qty numFontType" b-vind:id="'BuyQty_'+index">174,138.97130</p>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<table class="SellQtySum text-center">
					<colgroup>
						<col width="33%"><col width="34%"><col width="33%">
					</colgroup>
					<thead>
					<tr>
						<td id="SellQtySum" class="font-color-minus">4,221,109.08280</td>
						<td>
							<div class="bFontType">
								주문잔량 합계
							</div>
						</td>
						<td id="BuyQtySum" class="font-color-plus">8,348,556.81696</td>
					</tr>
					</thead>
				</table>

			</div>
	</article>
	<!--//호가창-->

	<!--차트-->
	<article id="tv_chart_container" data-title="tv_chart_container">
		<div class="arti-inner">
			tv_chart_container
		</div>
	</article>
	<!--//차트-->

	<!--매도/매수-->
	<article id="tradeBuySell" data-title="tradeBuySell">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active buy-color">매수</div>
					<div class="tab-title sell-color">매도</div>
				</div>
			</div>
			<!--//제목/탭-->

			<!--매수-->
			<div class="tab-con active buy-color" data-tabs="매수">
				<div class="vertical-middle">
					<div class="middle-inner">
						<form>
							<ul>
								<li>
									<div class="float-left">주문가능</div>
									<div class="float-right">
										<span id="priceCan" class="bFontType font-dark" >332,638.52</span>
										<small class="priceType">KRW</small>
									</div>
								</li>
								<li>
									<div class="float-left">수량<small class="coinType">(BTC)</small></div>
									<div id="qtyBuy" class="float-right">
										<div class="input-box">
											<input type="text" class="bFontType font-dark">
											<select id="BuyperSentOper">
												<option value="">가능</option>
												<option value="">100%</option>
												<option value="">75%</option>
												<option value="">50%</option>
												<option value="">25%</option>
											</select>
										</div>
									</div>
								</li>
								<li>
									<div class="float-left">가격<small>(KRW)</small></div>
									<div class="float-right">
										<div class="input-box">
											<input type="text">
											<button type="button">+</button>
											<button type="button">-</button>
										</div>
									</div>
								</li>
								<li>
									<div class="float-left">수수료</div>
									<div class="float-right">0</div>
								</li>
								<li>
									<div class="float-left">예상 매수금액</div>
									<div class="float-right">0</div>
								</li>
								<li>
									<p>최소 거래가능 금액 : 1,000 KRW / 수수료 : 0.1 %</p>
								</li>
								<li class="foot">
									<button type="button" class="btn-block bFontType">매수</button>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
			<!--//매수-->

			<!--매도-->
			<div class="tab-con sell-color" data-tabs="매도">

				<div class="vertical-middle">
					<div class="middle-inner">
						<form>
							<ul>
								<li>
									<div class="float-left">주문가능</div>
									<div class="float-right">
										<span id="priceCan" class="bFontType font-dark" >332,638.52</span>
										<small class="priceType">BTC</small>
									</div>
								</li>
								<li>
									<div class="float-left">수량<small class="coinType">(BTC)</small></div>
									<div id="qtyBuy" class="float-right">
										<div class="input-box">
											<input type="text" class="bFontType font-dark">
											<select id="BuyperSentOper">
												<option value="">가능</option>
												<option value="">100%</option>
												<option value="">75%</option>
												<option value="">50%</option>
												<option value="">25%</option>
											</select>
										</div>
									</div>
								</li>
								<li>
									<div class="float-left">가격<small>(KRW)</small></div>
									<div class="float-right">
										<div class="input-box">
											<input type="text">
											<button type="button">+</button>
											<button type="button">-</button>
										</div>
									</div>
								</li>
								<li>
									<div class="float-left">수수료</div>
									<div class="float-right">0</div>
								</li>
								<li>
									<div class="float-left">예상 매수금액</div>
									<div class="float-right">0</div>
								</li>
								<li>
									<p>최소 거래가능 금액 : 1,000 KRW / 수수료 : 0.1 %</p>
								</li>
								<li class="foot">
									<button type="button" class="btn-block bFontType">매도</button>
								</li>
							</ul>
						</form>
					</div>
				</div>

			</div>
			<!--//매도-->
			<div id="sellbuyOrder"></div>
		</div>
	</article>
	<!--//매도/매수-->


	<!--일별종가/체결내역/미체결내역-->
	<article id="conclusion-list" data-title="conclusion-list">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active">미체결내역</div>
					<div class="tab-title">체결내역</div>
					<div class="tab-title">일별종가</div>
				</div>
			</div>
			<!--//제목/탭-->

			<div class="tab-con"  data-tabs="일별종가">
				<div class="scroll-custom">
					<table id="ClosePriceList">
						<caption>일자별종가</caption>
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
						<tr>
							<th width="25%" class="text-left">일자</th>
							<th width="25%" class="text-right">종가 (KRW)</th>
							<th width="25%" class="text-right">전일대비</th>
							<th width="25%" class="text-right">거래량 (BTC)</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="index in 6">
							<td><small>03-14</small></td>
							<td class="text-right numBold"><span class="font-color-minus">4,220,000</span></td>
							<td class="text-right"><span class="font-color-minus">-1.4%</span></td>
							<td class="text-right">43.04845</td>
						</tr>
						<tr>
							<td><small>03-14</small></td>
							<td class="text-right numBold"><span class="font-color-minus">4,220,000</span></td>
							<td class="text-right"><span class="font-color-plus">+1.4%</span></td>
							<td class="text-right">43.04845</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="tab-con"  data-tabs="체결내역">
				<div class="scroll-custom">
					<table>
						<caption>체결내역</caption>
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
						<tr>
							<th class="text-left" style="width:25%;">체결시간</th>
							<th class="text-left" style="width:25%;">구분</th>
							<th class="text-right" style="width:25%;">체결가격</th>
							<th class="text-right" style="width:25%;">체결수량</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="index in 2">
							<td><small>2019.03.12 <span class="font-light">19:36:28</span></small></td>
							<td><span class="font-color-minus">매도</span></td>
							<td class="text-right numBold"><span class="font-color-plus">88.10</span></td>
							<td class="text-right">123.50514</td>
						</tr>
						<tr>
							<td><small>2019.03.05 <span class="font-light">20:57:59</span></small></td>
							<td><span class="font-color-plus">매수</span></td>
							<td class="text-right numBold"><span class="font-color-plus">156.10</span></td>
							<td class="text-right">7.00665</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-con active"  data-tabs="미체결내역">
				<div class="scroll-custom">
					<table id="ClosePriceList">
						<caption>미체결내역</caption>
						<colgroup>
							<col width="15%">
							<col width="8%">
							<col width="23%">
							<col width="23%">
							<col width="23%">
							<col width="8%">
						</colgroup>
						<thead>
						<tr>
							<th class="text-left" width="15%">시간</th>
							<th class="text-center" width="8%">구분</th>
							<th class="text-right" width="23%">주문단가</th>
							<th class="text-right" width="23%">주문수량</th>
							<th class="text-right" width="23%">미체결수량</th>
							<th class="text-center" width="8%">취소</th>
						</tr>
						</thead>
						<tbody>
						<tr  v-for="index in 3">
							<td class="text-left"><small>2019-03-17 <span class="font-light">2:22:25</span></small></td>
							<td class="text-center"><span class="font-color-plus">매수</span></td>
							<td class="text-right numBold"><span class="font-color-plus">40.20</span></td>
							<td class="text-right">2,500</td>
							<td class="text-right">2,500</td>
							<td class="text-center"><button type="button" class="btn-block">취소</button></td>
						</tr>
						<tr  v-for="index in 6">
							<td class="text-left"><small>2019-03-17 <span class="font-light">2:22:25</span></small></td>
							<td class="text-center"><span class="font-color-minus">매도</span></td>
							<td class="text-right numBold"><span class="font-color-plus">40.20</span></td>
							<td class="text-right">2,500</td>
							<td class="text-right">2,500</td>
							<td class="text-center"><button type="button" class="btn-block">취소</button></td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
	</article>
	<!--//일별종가/체결내역/미체결내역-->

</section>