<footer>
	<div class="float-left logo"><img src="assets/images/common/logo.png" alt=""></div>
	<div class="float-left aboutUs">
		<div class="float-right">
			<p class="address">
				<span>Paymentkorea Co,.Ltd (㈜ 페이먼트코리아)</span>
				<span>사업자 등록번호 : 866-86-01117</span>
			</p>
			<p class="address">주소: 부산광역시 해운대구 센텀6로 21 (인텔리움센텀) 1001호</p>
			<p></p>
			<p class="contact">
				<span>Contact : 070-5222-9980</span>
				<span>cs@coinpass.org</span>
			</p>
			<p class="contact">상담시간 : 10:00 ~ 17:00 토·일, 공휴일휴무 (점심시간 12:30 ~ 13:30)</p>
			<p></p>
			<p class="copyright">COPYRIGHT © 2018 COINPASS.ORG . ALL RIGHTS RESERVED.</p>
		</div>
	</div>
	<div class="float-right nav">
		<dl>
			<dt class="bFontType">소개</dt>
			<dd><a href="#">회사소개</a></dd>
			<dd><a href="#">인재채용</a></dd>
			<dd><a href="#">개인정보처리방침</a></dd>
			<dd><a href="#">이용약관</a></dd>
		</dl>
		<dl>
			<dt class="bFontType">정책</dt>
			<dd><a href="#">운영및 마켓정책</a></dd>
			<dd><a href="#">상장신청</a></dd>
		</dl>
		<dl>
			<dt class="bFontType">고객지원</dt>
			<dd><a href="#">공지사항</a></dd>
			<dd><a href="#">이용안내</a></dd>
			<dd><a href="#">FAQ</a></dd>
			<dd><a href="#">1:1문의</a></dd>
		</dl>
	</div>

</footer>


</div>
<script src="assets/vendor/vue.js"></script>
<script src="assets/vendor/jquery-3.1.1.min.js"></script>
<script src="assets/js/common.js"></script>
</body>