<section id="investments">

	<!--여기에 leftAlign include 해주세요-->

	<!--수익률-->
	<article id="totalAmount" data-title="투자내역">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div>
					<span class="float-left rFontType">총 매수금액</span>
					<span class="float-right"><span class=" numBold" id="totalCoinKrw">194,544</span><small>KRW</small></span>
				</div>
				<div>
					<span class="float-left rFontType">총 평가금액</span>
					<span class="float-right"><span class=" numBold" id="totalCoinKrwvaluation">293,529</span><small>KRW</small></span>
				</div>
				<div>
					<span class="float-left rFontType">평가손익</span>
					<span class="float-right"><span class="font-color-plus numBold" id="totalvaluationUDPrice">98,985</span><small>KRW</small></span>
				</div>
				<div class="float-left">
					<span class="float-left rFontType">수익률</span>
					<span class="float-right"><span class="font-color-plus numBold" id="totalvaluationPre">50.88</span><small class="per">%</small></span>
				</div>
				<div>
					<span class="float-left rFontType">추정 보유자산<span class="tooltip" data-tooltip-text="현재 시세를 적용하여 고객님의 자산을 KRW환산하여 표기한 값으로 정확한 금액이 아닌 참고용 수치 입니다.">?</span></span>
					<span class="float-right"><span class="font-color-plus numBold" id="totalvaluationAmount">565,787</span><small>KRW</small></span>
				</div>
				<div style="display:none;">
					<span class="float-left rFontType">보유 KRW</span>
					<span class="float-right"><span id="krw_price numBold">272,258</span><small>KRW</small></span>
				</div>
			</div>
			<!--//제목/탭-->
		</div>
	</article>
	<!--//수익률-->

	<!--투자내역-->
	<article id="contractList" data-title="투자내역">
		<div class="arti-inner">

			<!--제목/탭-->
			<div class="arti-title">
				<div class="tabs">
					<div class="tab-title active buy-color">투자현황</div><!--탭 이름에 공백을 넣지 마세요, tab-con data-tabs에 동일한 값을 넣으면 탭 기능이 됩니다. -->
					<div class="tab-title sell-color">거래내역</div>
					<div class="tab-title sell-color">미체결내역</div>
					<div class="tab-title sell-color">입출금내역</div>
				</div>
			</div>
			<!--//제목/탭-->

			<!--투자현황-->
			<div class="tab-con buy-color active" data-tabs="투자현황">
				<div class="scroll-custom">
					<table id="tableCoinList">
						<summary>투자현황</summary>
						<colgroup>
							<col width="20%">
							<col width="16%">
							<col width="12%">
							<col width="14%">
							<col width="14%">
							<col width="14%">
							<col width="10%">
						</colgroup>
						<thead>
						<tr>
							<th width="20%" class="text-left">보유코인</th>
							<th width="16%" class="text-right">보유수량</th>
							<th width="12%" class="text-right">평균구매단가</th>
							<th width="14%" class="text-right">총매수금액</th>
							<th width="14%" class="text-right">평가금액</th>
							<th width="14%" class="text-right">평가손익</th>
							<th width="10%" class="text-right">수익률</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-left">
								<a href="/order.do?code=KRW-BTC">
									<span class="img-cover"><img class="img_coin" src="assets/images/coin/BTC.png" alt="코인 아이콘"></span>
									<span class="bFontType">원화/KRW</span>
								</a>
							</td>
							<td class="text-right">
								<span id="balanceKRW" class="numFontType">272,258</span>
								<small class="coinType rFontType">KRW</small>
							</td>
							<td class="text-right">
								<span id="avgBuyCoinPriceKRW" class="numFontType numBold">0</span>
								<small class="coinType rFontType"> KRW</small>
							</td>
							<td class="text-right">
								<span id="coinKrwBalanceKRW" class="numFontType numBold">0</span>
								<small class="coinType rFontType"> KRW</small>
							</td>
							<td class="text-right">
								<span id="valuationPriceKRW" class="numFontType">272,258</span>
								<small class="coinType rFontType"> KRW</small>
							</td>
							<td class="text-right">
								<span id="valuationUDPriceKRW" class="numFontType font-color-plus">0</span>
								<small class="coinType rFontType"> KRW</small>
							</td>
							<td class="text-right">
								<span id="valuationPreKRW" class="numFontType font-color-plus">0</span>
								<small class="coinType rFontType"> %</small>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--//투자현황-->

			<!--거래내역-->
			<div class="tab-con buy-color" data-tabs="거래내역">
				<div class="scroll-custom">
					<table id="tableOrderList">
						<summary>거래내역</summary>
						<colgroup>
							<col width="12%">
							<col width="10%">
							<col width="6%">
							<col width="14%">
							<col width="15%">
							<col width="15%">
							<col width="14%">
							<col width="15%">
						</colgroup>
						<thead>
						<tr>
							<th width="12%" class="text-left">체결시간</th>
							<th width="10%" class="text-left">코인명</th>
							<th width="6%" class="text-center">구분</th>
							<th width="14%" class="text-right">주문수량</th>
							<th width="15%" class="text-right">주문단가</th>
							<th width="15%" class="text-right">체결금액</th>
							<th width="14%" class="text-right">수수료</th><!--원래 실체결수량이 있었는데 이번에 표시하지 않기로 했습니다.-->
							<th width="15%" class="text-right">실 체결금액</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-left"><span class="date numFontType font-dark">2019-03-17 <br> 2:22:25</span></td>
							<td class="text-left"><span class="bFontType">DEAL / KRW</span></td>
							<td class="text-center"><span class="font-color-plus">매수</span></td>
							<td class="text-right"><span class="numFontType">3.00894</span><small class="coinType rFontType"> DEAL</small></td>
							<td class="text-right"><span class="numFontType">300,000.19</span><small class="coinType rFontType"> KRW</small></td>
							<td class="text-right"><span class="numFontType">90.83</span> <small class="coinType rFontType"> KRW</small></td>
							<td class="text-right"><span class="numFontType">0.00300894</span> <small class="coinType rFontType"> DEAL</small></td>
							<td class="text-right"><span class="numFontType">90.83</span> <small class="coinType rFontType"> KRW</small></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--//거래내역-->

			<!--미체결내역-->
			<div class="tab-con buy-color" data-tabs="미체결내역">
				<div class="scroll-custom">
					<table id="divNotContractList">
						<summary>미체결 내역</summary>
						<colgroup>
							<col width="12%">
							<col width="14%">
							<col width="6%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="8%">
						</colgroup>
						<thead>
						<tr>
							<th width="12%" class="text-left">주문시간</th>
							<th width="14%" class="text-left">코인명</th>
							<th width="6%" class="text-center">구분</th>
							<th width="15%" class="text-right">주문단가</th>
							<th width="15%" class="text-right">주문수량</th>
							<th width="15%" class="text-right">체결수량</th>
							<th width="15%" class="text-right">미체결수량</th>
							<th width="8%" class="text-center">취소</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-left"><span class="date numFontType font-dark">2019-03-17 <br> 2:22:25</span></td>
							<td class="text-left bFontType">DEAL / KRW</td>
							<td class="text-center"><span class="font-color-plus">매수</span></td>
							<td class="text-right numBold">40.20 <small class="coinType bFontType">KRW</small></td>
							<td class="text-right numBold">40.20 <small class="coinType bFontType">BTC</small></td>
							<td class="text-right numFontType">2,500</td>
							<td class="text-right numFontType">2,500</td>
							<td class="text-center"><button type="button" class="btn-block btn-color-primary">취소</button></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--//미체결내역-->

			<!--입출금내역-->
			<div class="tab-con buy-color" data-tabs="입출금내역">
				<div id="divInOutlList" class="scroll-custom">
					<table id="tableInOutlList">
						<summary>입출금내역</summary>
						<colgroup>
						<col width="12%">
						<col width="10%">
						<col width="9%">
						<col width="18%">
						<col width="40%">
						<col width="11%">
						</colgroup>
						<thead>
						<tr>
							<th width="12%" class="text-left">내역조회</th>
							<th width="10%" class="text-center">
								<select name="" id="SelectCoinInout" class="form-control">
									<option value="ALL">코인명</option>
									<option value="BTC">BTC</option>
									<option value="ETH">ETH</option>
									<option value="LTC">LTC</option>
									<option value="XRP">XRP</option>
									<option value="EOS">EOS</option>
									<option value="XLM">XLM</option>
									<option value="KST">KST</option>
									<option value="BCH">BCH</option>
									<option value="DEAL">DEAL</option>
								</select>
							</th>
							<th width="9%" class="text-center">
								<select name="" id="SelectExcTypeInOut" class="form-control">
									<option value="ALL">구분</option>
									<option value="D">입금</option>
									<option value="W">출금</option>
								</select>
							</th>
							<th width="18%" class="text-right">수량</th>
							<th width="40%" class="text-right">거래 ID</th>
							<th width="11%" class="text-center">
								<select name="" id="SelectExcStateInOut" class="form-control">
									<option value="ALL">상태</option>
									<!-- <option value="ALL">전체</option> -->
									<option value="REQ">요청</option>
									<option value="REJ">거부</option>
									<option value="OK">완료</option>
									<option value="ING">처리중</option>
									<option value="HOLD">지연</option>
								</select>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="text-left"><span class="date numFontType font-dark">2019-03-17 <br> 2:22:25</span></td>
							<td class="text-center"><span class="bFontType"> BTC</span></td>
							<td class="text-center"><span class="font-color-plus">입금</span></td>
							<td class="text-right numFontType">999,000,000.00000200<small class="coinType rFontType"> BTC</small></td>
							<td class="text-right"><input type="text" class="rFontType dealID text-right" readonly="readonly" value="AN5pywJoEq7kHhrK3YLBUdXXB9w9XRcnqw"></td>
							<td class="text-center"><span class="font-color-plus">입금완료</span></td>
						</tr>
					</table>
			</div>
			<!--//입출금내역-->

		</div>
	</article>
	<!--//투자내역-->

</section>