<!--공지사항 반드시 뒤에 코인리스트가 와야 합니다. 위치변경하면 안됩니다.-->
<article id="simple_notice" class="active" data-title="simple_notice">
	<div class="arti-inner">
		<div class="arti-title">
			<a href="#">공지사항</a>
			<span class="close"></span>
		</div>
	</div>
</article>
<!--//공지사항-->

<!--코인리스트-->
<article  id="coinList" data-title="coinList">
	<div class="arti-inner">
		<!--검색창-->
		<div class="coin-search">
			<input type="text" id="Coinsearch" placeholder="코인명/심볼검색">
		</div>
		<!--//검색창-->

		<!--제목/탭-->
		<div class="arti-title">
			<div class="tabs">
				<div class="tab-title active">KRW</div>
				<div class="tab-title">KST</div>
				<div class="tab-title">BTC</div>
				<div class="tab-title myAmount">보유코인</div>
			</div>
		</div>
		<!--//제목/탭-->

		<!--krw-->
		<div class="tab-con active" data-tabs="KRW">
			<div class="scroll-custom hover">
				<table>
					<colgroup>
						<col width="8%">
						<col width="25%">
						<col width="24%">
						<col width="20%">
						<col width="23%">
					</colgroup>
					<thead>
					<tr>
						<th width="8%" class="text-center;"></th>
						<th width="25%" class="text-left">한글명</th>
						<th width="24%" class="sortTh text-right">현재가</th>
						<th width="20%" class="sortTh text-right">전일대비</th>
						<th width="23%" class="sortTh text-right">거래대금</th>
					</tr>
					</thead>
					<tbody>
					<tr  v-for="index in 8">
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType">+ 2.61 %<span class="sortData numFontType">2.61</span></span>
						</td>
						<td class="text-right">
								<span>
									<span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					<tr>
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType numBold">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType">- 2.61 %</span>
							<span class="sortData numFontType">2.61</span>
						</td>
						<td class="text-right">
								<span> <span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--//krw-->

		<!--kst-->
		<div class="tab-con" data-tabs="KST">
			<div class="scroll-custom hover">
				<table>
					<colgroup>
						<col width="8%">
						<col width="25%">
						<col width="24%">
						<col width="20%">
						<col width="23%">
					</colgroup>
					<thead>
					<tr>
						<th width="8%" class="text-center;"></th>
						<th width="25%" class="text-left">한글명</th>
						<th width="24%" class="sortTh text-right">현재가</th>
						<th width="20%" class="sortTh text-right">전일대비</th>
						<th width="23%" class="sortTh text-right">거래대금</th>
					</tr>
					</thead>
					<tbody>
					<tr  v-for="index in 8">
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType">+ 2.61 %<span class="sortData numFontType">2.61</span></span>
						</td>
						<td class="text-right">
								<span>
									<span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					<tr>
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType numBold">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType">- 2.61 %</span>
							<span class="sortData numFontType">2.61</span>
						</td>
						<td class="text-right">
								<span> <span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--//kst-->

		<!--btc-->
		<div class="tab-con" data-tabs="BTC">
			<div class="scroll-custom hover">
				<table>
					<colgroup>
						<col width="8%">
						<col width="25%">
						<col width="24%">
						<col width="20%">
						<col width="23%">
					</colgroup>
					<thead>
					<tr>
						<th width="8%" class="text-center;"></th>
						<th width="25%" class="text-left">한글명</th>
						<th width="24%" class="sortTh text-right">현재가</th>
						<th width="20%" class="sortTh text-right">전일대비</th>
						<th width="23%" class="sortTh text-right">거래대금</th>
					</tr>
					</thead>
					<tbody>
					<tr  v-for="index in 8">
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType numBold" id="Right_PRICE_NOW_KRWBTC">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-plus numFontType">+ 2.61 %</span>
							<span class="sortData numFontType">2.61</span>
						</td>
						<td class="text-right">
								<span>
									<span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					<tr>
						<td class="text-center;">
							<div class="bar up">
								<span class="line" style="top: 12.114px; height: 1.4940000000000002px;"></span>
								<span class="box" style="top: 12.3255px; height: 1.1744999999999999px;"></span>
							</div>
						</td>
						<td class="text-left">
							<span class="bFontType">비트코인</span>
							<br>
							<small class="font-light">(BTC)</small>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType numBold">4,330,500</span>
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType">- 2.61 %</span>
							<span class="sortData numFontType">2.61</span>
						</td>
						<td class="text-right">
								<span> <span class="numFontType">13</span> <small class="font-light">백만</small>
									<span class="sortData numFontType">13591813.8</span>
								</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--//btc-->

		<!--보유코인-->
		<div class="tab-con" data-tabs="보유코인">
			<div class="scroll-custom hover">
				<table>
					<colgroup>
						<col width="15%">
						<col width="27%">
						<col width="27%">
						<col width="31%">
					</colgroup>
					<thead>
					<tr>
						<th width="15%" class="text-left">코인명</th>
						<th width="27%" class="text-left">사용가능</th>
						<th width="27%" class="text-right">사용중</th>
						<th width="31%" class="sortTh text-right">코인별자산</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="text-left">
							<span class="">BTC</span><!--bFontType-->
						</td>
						<td class="text-left">
							<span class="font-color-plus numFontType" >1,234,500</span> <!--numBold-->
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType">100,000</span>
							<span class="sortData numFontType">100000</span>
						</td>
						<td class="text-right">
								<span>
									<span class="numFontType">1,234,500</span><small>KRW</small>
									<span class="sortData numFontType">1234500</span>
								</span>
						</td>
					</tr>
					<tr  v-for="index in 8">
						<td class="text-left">
							<span class="">BTC</span><!--bFontType-->
						</td>
						<td class="text-left">
							<span class="font-color-plus numFontType" >1,234,500</span> <!--numBold-->
						</td>
						<td class="text-right">
							<span class="font-color-minus numFontType">100,000</span>
							<span class="sortData numFontType">100000</span>
						</td>
						<td class="text-right">
								<span>
									<span class="numFontType">1,234,500</span><small>BTC</small>
									<small class="numFontType font-light">1,234,500</small><small class="font-light">(KRW)</small>
									<span class="sortData numFontType">1234500</span>
								</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--//보유코인-->

</article>
<!--//코인리스트-->