@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Korean Thin');
  src: url('../NotoSans-Thin.eot');
  src: url('../NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('../NotoSans-Thin.woff2') format('woff2'),
      url('../NotoSans-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Korean Light');
  src: url('../NotoSans-Light.eot');
  src: url('../NotoSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../NotoSans-Light.woff2') format('woff2'),
      url('../NotoSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Korean Regular');
  src: url('../NotoSans-Regular.eot');
  src: url('../NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../NotoSans-Regular.woff2') format('woff2'),
      url('../NotoSans-Regular.woff') format('woff');
}
